<div class="mobile-img">
    <div class="container" style="background: url('/images/Contact us Mobile-04.png');height:700px;background-size: cover;padding-right: 9%;padding-top: 129%;">
        <h1 class="text-uppercase text-white" style="font-size: 35px;">
            خدمة العملاء <br> تواصل معنا
        </h1>
        <h4 class="text-uppercase" style="color:var(--primary-color3);font-size: 19px;">
            نحن في خدمتك <br> أخبرنا كيف يمكننا المساعدة
        </h4>
    </div>
    <div class="container" style="padding: 30px 18px;">
        <div class="text-uppercase alert-success text-center mb-5"><%= message %></div>
        <div class="row">
            <h3 class="text-uppercase" style="color:#4d166b;padding-bottom: 3%;font-size: 13px;padding-right: 5%;">قم بتعبئة وإرسال طلبك في الأسفل، وسيسعد أحد محترفي <br>الدعم لدينا بالرد عليك.</h3>
        </div>
        <form action="/ar/sendArabic" method="POST">
            <div class="row">
                <div class="col-md-6 filedin"><h6>اسمك الكامل كما هو مسجل لدينا</h6>
                    <input type="text" required="" placeholder="الاسم الكامل" name="fullName">
                </div>
                <div class="col-md-6 filedin">
                    <h6>البريد الإلكتروني المستخدم للتسجيل معنا *</h6>
                    <input type="email" required="" placeholder="youremail@mail.com" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 filedin"><h6>رقم الهاتف*</h6>
                    <input type="tel" required="" placeholder="0123456789" name="phonenumber">
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 filedin"><h6>ما هو سؤالك؟ اختر واحدة *</h6>
                        <label for="questionId11" class="radio">
                            <input type="radio" name="question" id="questionId11" value="accountle" class="radio__input">
                            <div class="radio__radio"></div>
                            حساب
                        </label>
                        <label for="questionId22" class="radio">
                            <input type="radio" name="question" id="questionId22" value="bill&amp;subscription" class="radio__input">
                            <div class="radio__radio"></div>
                            الفواتير والاشتراكات
                        </label>
                        <label for="questionId33" class="radio">
                            <input type="radio" name="question" id="questionId33" value="feedback" class="radio__input">
                            <div class="radio__radio"></div>
                            تعليق
                        </label>
                        <label for="questionId44" class="radio">
                            <input type="radio" name="question" id="questionId44" value="website problems" class="radio__input">
                            <div class="radio__radio"></div>
                            مشاكل الموقع
                        </label>
                        <label for="questionId55" class="radio">
                            <input type="radio" name="question" id="questionId55" value="post" class="radio__input">
                            <div class="radio__radio"></div>
                            بريد
                        </label>
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 filedin"><h6>الموضوع*</h6>
                    <input type="text" required="" placeholder="الموضوع" name="subject">
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="container filedin">
                <h6>الرسالة*</h6>
                <textarea required name="message">يرجى كتابة أكبر قدر ممكن من التفاصيل بما في ذلك الجهاز الذي تستخدمه والمتصفح والتواريخ والأوقات .. إلخ
                </textarea>
                </div>
    
    
            </div>
            <div class="row">
                <button class="btn btn-filled" type="submit" value="Submit">إرسال</button>
            </div>
        </form>
    </div>
    <div class="container" style="background-image: url('/images/Contact us En-03.png');height:200px;background-size: cover;color:var(--primary-color3);display: flex;align-items: center;flex-direction: column;padding-top: 4%;">
        <div class="col-md-6">
            <h5 style="
        font-size: 14px;
    "><strong>المكتب الرئيسي لشركة <span>EVEST</span>:</strong></h5>
            <h5 style="
        font-size: 14px;
    ">
                <span>ATRIAFINANCIAL LTD</span>,
                المبنى <span>S.I.P</span>,<br>
                صندوق بريد <span>3010</span> ,شارع باستور,<br>
                بورت فيلا فانواتو
            </h5>
        </div>
        <div class="col-md-6">
            <h5 style="
        font-size: 14px;
    ">
                <strong>مكالمات مجانية في الإمارات العربية المتحدة:</strong><br>
                <span>971-800-0311-1248+</span>
            </h5>
            <h5 style="
        font-size: 14px;
    ">
                <strong>اتصال مجاني بالمملكة العربية السعودية:</strong><br>
                <span>966-800-850-1019+</span>
            </h5>
        </div>
        </div>
</div>

<div class="desktop-img">

    <div class="row" style="background: url('/images/webp/Contact Us En BG-02.webp');background-size: cover;height: 500px;">
        <div class="container" style="display: flex;align-items: center;">
            <div class="col-md-6">
                <h1 class="text-uppercase text-white" style="font-size:50px">
                    خدمة العملاء <br> تواصل معنا
                </h1>
                <h4 class="text-uppercase" style="color:var(--primary-color3);">
                    نحن في خدمتك <br> أخبرنا كيف يمكننا المساعدة
                </h4>
            </div>
            <div class="col-md-6">
                <img src="/images/webp/contact us icon.webp" alt="Icon">
            </div>
        </div>
    </div>



    <div class="container" style="padding: 30px 45px;">
        <div class="text-uppercase alert-success text-center mb-5"><%= message %></div>
        <div class="row">
            <h3 class="text-uppercase" style="padding-bottom: 3%;">قم بتعبئة وإرسال طلبك في الأسفل، وسيسعد أحد محترفي <br>الدعم لدينا بالرد عليك.</h3>
        </div>
        <form action="/ar/sendArabic" method="POST">
            <div class="row">
                <div class="col-md-6 filedin"><h6>اسمك الكامل <span style="font-family: 'Arabic Evest';font-size: 12px;color:gray"> (كما هو مسجل لدينا) </span></h6>
                    <input type="text" required placeholder="الاسم الكامل" name="fullName">
                </div>
                <div class="col-md-6 filedin">
                    <h6>البريد الإلكتروني <span style="font-family: 'Arabic Evest';font-size: 12px;color:gray"> (المستخدم للتسجيل معنا) </span></h6>
                    <input type="email" required placeholder="youremail@mail.com" name="email">
                </div>
            </div>
            <div class="row" style="display: flex;align-items: baseline;">
                <div class="col-md-6 filedin"><h6>رقم الهاتف*</h6>
                    <input type="tel" required placeholder="0123456789" name="phonenumber">
                </div>
                <div class="col-md-6 filedin">
                    <div class="col-md-6 filedin">
                        <h6>ما هو سؤالك؟ اختر واحدة</h6>
                        <select name="question" id="question">
                            <option disabled value=""  selected hidden>اختر موضوع</option>
                            <option value="Accountle">حساب</option>
                            <option value="Billing & subscription">الفواتير والاشتراكات</option>
                            <option value="Feedback">تعليق</option>
                            <option value="Website problems">مشاكل الموقع</option>
                            <option value="Post">بريد</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 filedin"><h6>الموضوع*</h6>
                    <input type="text" required placeholder="الموضوع" name="subject">
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="container filedin">
                <h6>الرسالة*</h6>
                <textarea required name="message">يرجى كتابة أكبر قدر ممكن من التفاصيل بما في ذلك الجهاز الذي تستخدمه والمتصفح والتواريخ والأوقات .. إلخ
                </textarea>
                </div>
    
    
            </div>
            <div class="row">
                <button class="btn btn-filled" type="submit" value="Submit">إرسال</button>
            </div>
        </form>
    </div>

    <div class="container" style="background-image: url('/images/Contact us En-03.png');height:200px;background-size: cover;color:var(--primary-color3);display: none;align-items: center;">
    <div class="col-md-6">
        <h5><strong>المكتب الرئيسي لشركة <span>EVEST</span>:</strong></h5>
        <h5>
            <span>ATRIAFINANCIAL LTD</span>,
            المبنى <span>S.I.P</span>,<br>
            صندوق بريد <span>3010</span> ,شارع باستور,<br>
            بورت فيلا فانواتو
        </h5>
    </div>
    <div class="col-md-6">
        <h5 >
            <strong >مكالمات مجانية في الإمارات العربية المتحدة:</strong><br>
            <span>971-800-0311-1248+</span>
        </h5>
        <h5>
            <strong>اتصال مجاني بالمملكة العربية السعودية:</strong><br>
            <span>966-800-850-1019+</span>
        </h5>
    </div>
    </div>
</div>

<style>
    @import "/css/contactArabic.min.css";
</style>