<div class="container-1">
    <h1>

        <%- page.fields.content.heading%></div>
    </h1>

<style>
  .container-1 {
    background-image: url("/images/BG 1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
