<style>
  body {
    font-family: "Arabic Evest", sans-serif !important;
    direction: rtl;
    text-align: right;
  }

  .section2Container {
    margin-bottom: 20px;
  }

  .section2Container h1 {
    color: #058080;
    font-family: "Arabic Evest", sans-serif !important;
  }

  .section2Container p {
    font-family: "Evest Font", sans-serif !important;
    font-size: 28px;
    line-height: 1.3;
    text-align: justify;
  }

  .section1Container {
    background-image: url('/images/evestTalk/BG 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }

  .section1Holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1320px;
    gap: 2rem;
  }

  .setction1TextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
    width: 400px;
  }

  .social-icons-container {
    margin-top: 30px;
  }

  .social-icons-container img {
    width: 30px;
    height: 30px;
  }

  .section1TextContainer h2 {
    color: #64EFE3;
  }

  .seciton1Text {
    font-size: 20px;
  }

  .section1TextContainer h1 {
    color: #64EFE3;
    font-family: "Arabic Evest", sans-serif !important;
    font-size: 3rem !important;
  }

  .micContainer {
    display: flex;
    position: absolute;
    bottom: -7rem;
    right: 38%;
    height: 350px;
    justify-content: center;
  }

  .reinHeading {
    font-size: 50px;
    font-family: "Arabic Evest", sans-serif !important;
  }

  .reinHeadinSecondParagraph {
    font-family: "Arabic Evest", sans-serif !important;
    font-size: 35px;
  }

  .sectionDivider {
    width: 100%;
    height: 144px;
  }


  .allPageContentContainer {
    max-width: 1000px;
    margin: 0 auto;
  }

  .seciton1Text {

    font-family: "Arabic Evest", sans-serif !important;

  }

  .contentContainer {
    height: auto;
  }


  .contentRow {
    display: flex;
    justify-content: space-between;
    height: 268px;
    margin-bottom: 20px;
  }

  .contentRowVideo {
    border-radius: 10px;
    width: 48%;
  }

  .contentRowVideo video {
    border-radius: 10px;
  }

  .contentRowText {
    display: flex;
    border-radius: 10px;
    width: 48%;
    padding: 2rem;
    background: url('https://cdn.buttercms.com/op2k3C2GRf2CsY4PC73q') no-repeat left 50%;
    background-repeat: no-repeat;
    -webkit-box-shadow: -1px 2px 27px -6px rgba(0, 0, 0, 0.13);
    box-shadow: -1px 2px 27px -6px rgba(0, 0, 0, 0.13);
  }

  .cardText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .cardImage img {
    width: 197px;
    object-fit: cover;
    height: 233px;
  }

  .contentRowText {
    justify-content: space-between;
  }

  .contentRowText .cardName {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: "Arabic Evest", sans-serif !important;
  }

  .contentRowText .host-title {
    margin-bottom: 0;
    font-size: 12px;
    color: var(--primary-color2);
    font-family: "Arabic Evest", sans-serif !important;
  }

  .host-specialization {
    font-size: 11px;
    font-weight: bold;

    margin-bottom: 10px;
  }

  .regularFont {
    font-family: "Arabic Evest", sans-serif !important;
  }

  .cardInfo {
    font-size: 18px;
    max-width: 199px;
    font-family: "Arabic Evest", sans-serif !important;
  }

  .sharingTime {
    font-size: 12px;
    color: #088080;
    margin-bottom: 0;
    font-weight: bold;
  }

  .question-para-link-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: "Arabic Evest", sans-serif !important;
  }

  .question-para-link-container h1 {
    max-width: 474px;
    color: var(--primary-color2);
    font-family: "Arabic Evest", sans-serif !important;

  }

  .question-para-link-container>p {
    max-width: 651px;
    font-size: 18px;
  }

  .question-para-link-container button {
    background-color: var(--primary-color1);
    color: white;
    padding: 10px 2rem;
    border-radius: 10px;
  }

  .modal-content {
    background-color: #F7F7F7;
    border-radius: 10px;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
  }

  .form-group2 {
    flex-direction: column;
  }

  .modal-content {
    max-width: 900px !important;
    width: 700px;
  }

  .evestTalkForminput {
    padding: 7px;
    border: none;
    border-radius: 10px;
    min-width: 270px;
  }

  #two-labels {
    font-weight: bold;
  }

  .form-element {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    margin-top: 5px;
  }

  .textareaContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .textareaContainer textarea {
    border: none;
    border-radius: 10px;
    height: 100px;
  }

  .submitBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  #submit-btn {
    color: white;
    font-weight: bold;
    background-color: var(--primary-color2);
    padding: 0.5rem 7rem;
    border: none;
    border-radius: 10px;
  }

  .evestTalkForminput::placeholder {
    font: 13px sans-serif;
  }

  #exampleModal {
    font-family: "Arabic Evest", sans-serif !important;
  }

  @media only screen and (max-width: 1078px) {

    .sectionDivider {
      width: 100%;
      height: 45px;
    }

    .section1Holder {
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
    }

    .section1Container {
      padding-bottom: 1rem;
    }

    .reinContainer img {
      width: 300px;
    }

    .micContainer {
      bottom: 18rem;
      right: 6%;
      height: 174px;
    }

    .cardImage img {
      height: auto;
    }

    .setction1TextContainer {
      margin-top: 2rem;
      width: 262px;
      text-align: center;
    }

    .reinHeading {
      font-size: 33px;
      font-family: "Arabic Evest", sans-serif !important;
    }

    .reinHeadinSecondParagraph {
      font-family: "Arabic Evest", sans-serif !important;
      font-size: 23px;
    }

    .seciton1Text {
      font-size: 19px;
    }

    .section1TextContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .social-icons-container {
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 5px;
    }

    .social-icons-container img {
      width: 20px;
      height: 20px;
    }

    .allPageContentContainer {
      max-width: 100%;
      text-align: center;
      padding: 5px;
    }

    .section2Container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .section2Container h1 {
      width: 231px;
    }

    .section2Container p {
      font-size: 19px !important;
      padding: 10px 30px;
    }

    .contentRowText .cardName {
      font-size: 15px;
    }

    .contentRow {
      flex-direction: column-reverse;
      height: auto;
      padding: 10px;
      gap: 20px;

    }

    .contentRowText {
      width: auto;
      justify-content: space-between;
      padding: 13px;
      min-height: 204px;
    }

    .cardImage {
      display: flex;
      align-items: flex-end;
    }

    .cardImage img {
      width: 150px;
      height: 178px;
      object-fit: cover;
    }

    .cardInfo {
      font-size: 11px;
    }

    .host-specialization {
      font-size: 11px !important;

    }

    .sharingTime {
      font-size: 11px !important;
    }

    .cardImage img {
      width: 150px;

    }

    .contentRowVideo {
      width: auto;
    }

    .cardText {
      text-align: right;
    }

    #coming-soon-en {
      width: 350px;
    }

    .form-group {
      flex-direction: column;
    }

    .modal-content {
      width: auto;
      text-align: right;
    }

    #submit-btn {
      padding: 0.5rem 5rem;
    }

    .question-para-link-container {
      padding: 3rem;
    }

    .question-para-link-container h1 {
      font-size: 30px;
    }




  }
</style>

<head>
  <title>ايفست توك</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    function onSubmit(token) {
      document.getElementById("evest-form").submit();
    }
  </script>
</head>

<div class="page-container">

  <div style="position:relative;">
    <div class="section1Container">

      <div class="section1Holder">

        <div class="setction1TextContainer">
          <!-- text  -->
          <img alt="logo" src="/images/asset 1 Logo.svg" id="heading-img" />
          <div style="margin-top:20px;">
            <h1 class="reinHeading">مع الإعلامية </h1>
            <h3 class="reinHeadinSecondParagraph"> البارزة رين الميلع </h3>
          </div>

          <div class="section1TextContainer">
            <h2 class="seciton1Text">كل خميس الساعة 19:00 مساءً</h2>
            <h2 class="seciton1Text">بتوقيت السعودية</h2>
          </div>


          <div class="social-icons-container">
            <a href="https://bit.ly/3E4yZpk">
              <img alt="mic image" src="/images/si1.svg" id="social-icons-img" />
            </a>
            <a href="https://apple.co/3WlPDIj
                    ">
              <img alt="mic image" src="/images/si2.svg" id="social-icons-img" />
            </a>
            <a href="https://spoti.fi/3sSX8c0">
              <img alt="mic image" src="/images/si3.svg" id="social-icons-img" />
            </a>
            <a href=" https://www.facebook.com/evestofficialar">
              <img alt="mic image" src="/images/si4.svg" id="social-icons-img" />
            </a>
            <a href="https://www.instagram.com/evest_official/
                    ">
              <img alt="mic image" src="/images/si5.svg" id="social-icons-img" />
            </a>
            <a href="https://twitter.com/EvestOfficial">
              <img alt="mic image" src="/images/si6.svg" id="social-icons-img" />
            </a>
            <a href="https://bit.ly/3DPh45X">
              <img alt="mic image" src="/images/si7.svg" id="social-icons-img" />
            </a>
          </div>

        </div>

        <div class="reinContainer">
          <!-- img of rien -->
          <img src="/images/evestTalk/rein-header-ar.png" />
        </div>

      </div>

    </div>

    <div class="micContainer">
      <img alt="mic image" src="/images/mic.svg" id="mic-img" />
    </div>
  </div>


  <div class="sectionDivider"></div>

  <div class="allPageContentContainer">

    <div class="section2Container">
      <h1>ما هو <span style="font-weight: bold;">evest Talk؟</span></h1>
      <p>تستضيف {رين الميلع} برنامج تدوين صوتي {بودكاست} بعنوان <span
          style="font-weight: bold;font-family:'Arabic Evest', sans-serif !important;">evest talk</span>.
        تتحدث رين مع رواد وقادة الفكر
        في القطاعات ذات
        الصلة
        بالاستثمار وتقابلهم حول موضوعات تتراوح من الاستثمارات التقليدية إلى الأفكار غير العادية في الميتافيرس.
      </p>
    </div>


    <div class="contentContainer">

      <!-- Duplicate this dev in CMS -->

      <!-- <div class="contentRow">
        <div class="contentRowVideo">
          <video width="100%" controls=""
            src="https://mohanadalwadiyaevest.s3.eu-central-1.amazonaws.com/evesttalkepisode1/%D8%B1%D9%8A%D9%86+%D8%A7%D9%84%D9%85%D9%8A%D9%84%D8%B9+%D9%85%D9%82%D8%AF%D9%85%D8%A9+%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC+Evest+Talk.mp4"
            type="video/mp4"></video>
        </div>
        <div class="contentRowText">

          <div class="cardText">
            <h3 class="cardName">Hala Bassam</h3>
            <p class="host-title">Media Figure</p>
            <p class="host-specialization regularFont">Specialized in Hi-Tech and innovation</p>
            <h4 class="cardInfo ">How have new media, content universe, and social media adapted to the digital economy?
            </h4>
            <p class="sharingTime regularFont">Thursday, November 10, 2022</p>
          </div>

          <div class="cardImage">
            <img src="https://cdn.buttercms.com/dpcoCIbZTsiKFTTSBiBT" />
          </div>

        </div>
      </div> -->




      <% for(var i=0; i < page.fields.content.length; i++) { %>

        <%if (page.fields.content[i].section) { %>

          <%- page.fields.content[i].section %>

            <% } %>

              <% } %>

    </div>

    <div class="question-para-link-container">
      <h1>
        هل هناك موضوع <br />تود منا أن نتحدث عنه؟
      </h1>
      <p>
        اضغط على الزر في الأسفل وأخبرنا بالموضوع الذي تريد منا مناقشته بعد ذلك، قد تكون أنت ضيف الحلقة
      </p>
      <button type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
        شارك أفكارك معنا
      </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="align-items: center;">

            <h4 class="modal-title" id="exampleModalLabel"
              style="font-family: 'Arabic Evest', sans-serif !important;font-weight: bold;">
              شاركنا افكارك</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="margin: 0;">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/ar/sendEvestTalkAr" method="POST" id="evest-form">
              <div class="form-group">
                <div class="form-element" id="two-labels">
                  <label>الاسم الاول</label>
                  <input type="text" required placeholder="الاسم الاول" name="firstName" class="evestTalkForminput" />
                </div>
                <div class="form-element" id="two-labels">
                  <label>اسم العائلة</label>
                  <input type="text" required placeholder="اسم العائلة" name="lastName" class="evestTalkForminput" />
                </div>
              </div>
              <div class="form-group">
                <div class="form-element" id="two-labels">
                  <label>البريد الاكتروني</label>
                  <input type="email" required placeholder="youremail@mail.com" name="email"
                    class="evestTalkForminput" />
                </div>
                <div class="form-element form-group" id="two-labels">
                  <label>الهاتف</label>
                  <input type="number" required placeholder="0123456789" name="phonenumber"
                    class="evestTalkForminput" />
                </div>
              </div>
              <div>
                <label>الوظيفة</label>
                <input type="text" required name="job" style="width: 100%;" class="evestTalkForminput" />

              </div>
              <div>
                <div class="textareaContainer">
                  <label>شاركنا افكارك هنا</label>
                  <textarea required name="message"> </textarea>
                </div>
              </div>


              <div class="submitBtnContainer">
                <button type="submit" value="submit" class="submit-btn g-recaptcha" id="submit-btn"
                  data-sitekey="6LdUQIsjAAAAAE2aW1EKmDFpixjfoU1eGcJlidsH" data-callback="onSubmit">
                  ارسال
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<script type="module">
  let isMobile,
    mobileSrc = '<%- JSON.stringify(page.fields.coming_soon_src_mobile) %>',
    desktopSrc = '<%- JSON.stringify(page.fields.coming_soon_src_desktop) %>'

  $(document).ready(function () {
    let arr = $('.contentRowVideo video')
    for (let i = 0; i < arr.length; i++) {

      arr.css("height", "auto");
    }



    let number_coming_soon_Slides = '<%- JSON.stringify(page.fields.coming_soon_number) %>'

    isMobile = window.innerWidth <= 1078 ? true : false;

    if (isMobile) {
      $('#pandaBtns').css('display', 'none')

      appentComingSoonSlides(mobileSrc, 330, number_coming_soon_Slides)
    }
    else {
      $('#pandaBtns').css('left', '9%')

      appentComingSoonSlides(desktopSrc, 1000, number_coming_soon_Slides)
    }

  });


  function appentComingSoonSlides(src, width, number_coming_soon_Slides) {
    let pageContent = $('.contentContainer')[0];

    for (let i = 0; i < number_coming_soon_Slides; i++) {
      let slideContainer = document.createElement('div')

      let slide = document.createElement('img')

      slide.setAttribute('src', src.replace('"', ''))
      slide.setAttribute('width', `${width}px`)
      slideContainer.setAttribute('style', `margin-bottom:20px`)

      slideContainer.appendChild(slide)

      pageContent.appendChild(slideContainer)
    }
  }
</script>