<div class="mobile-img">
  <div class="container" style="background: url('/images/Regulatory Authorisation mobile-01.jpg');height: 650px;background-size: cover;color:white;display: flex;flex-direction: column;justify-content: flex-end;align-items: center;padding-bottom: 20%;text-align: center;">
      <%- page.fields.mobile_view[0].fields.content %>
    </div>
    <%- page.fields.mobile_view[1].fields.content %>
</div>


<div class="desktop-img">
  <div class="row" style="background: url('/images/Regulatory Authorisation BG-01.jpg');background-size: cover;height:450px;">
    <div class="container" style="color:white;display: flex;align-items: center;">
      <div class="col-md-6" style="display: flex;flex-direction: column; align-items: center;">
        <%- page.fields.header.heading %> 
      </div>
      <div class="col-md-6">
            <img src="/images/webp/STAMP.webp" alt="ICON" width="100%">
        </div>

    </div></div>
    <%- page.fields.sections.section1 %> 
    </div>

    <style>
        panda-forex-login .forex-button-pandats.simple-button-pandats,
.mainpandats .forex-button-pandats.simple-button-pandats{
  font-family: "Arabic Evest",sans-serif !important;
}
body{
  text-align: right;
  direction: rtl;
  font-family: "Arabic Evest" ,sans-serif !important;
}

span{
font-family: "Evest Font";
}

.lang-menu .selected-lang:before{
  background-image: url(https://www.countryflags.io/sa/flat/32.png);
}
    </style>