<div class="mobile-img">
  <div class="container" style="background: url('/images/meet the CEO Mobile-03.png');height:700px;background-size: cover;color: white;">
    <%- page.fields.header.heading %> 
  </div>
  <div class="container">
    <%- page.fields.sections.section1  %> 
    <form action="/ceo" method="POST" style="width:100%">
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name" name="fullName">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="subject" class="col-sm-3 col-form-label">Subject</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="subject" name="subject">
        </div>
      </div>
      <div class="form-group row">
        <label for="message" class="col-sm-3 col-form-label">Message</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="message" name="message">
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" value="Submit" class="btn btn-filled">SUBMIT</button>
      </div>
    </form>
  </div>
</div>

<div class="desktop-img">
  <div class="row" style="background:url('/images/MEET THE CEO ENG-02.png');height:530px;background-size: cover;color:white;display:flex;justify-content: flex-start;align-items: center;">
    <div class="container">
      <%- page.fields.header.heading %> 
    </div>
  </div>

  <div class="row">
    <div class="container">
      <%- page.fields.sections.section1  %>
      <form action="/ceo" method="POST">
        <div class="form-group row">
       <div class="col-md-6">  
          <label for="name" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name" name="fullName">
        </div>
      </div>
       <div class="col-md-6">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email">
        </div>
       </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">          <label for="subject" class="col-sm-3 col-form-label">Subject</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="subject" name="subject">
            </div></div>
          <div class="col-md-6"></div>
        </div>
        <div class="form-group row" style="display:flex;flex-direction: column;padding-left:15px;">
          <label for="message" class="col-sm-3 col-form-label">Message</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="message" name="message">
          </div>
        </div>
        <div class="form-group row" style="padding-left: 30px;">
          <button type="submit" value="Submit" class="btn btn-filled">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
  @import "/css/ceo.min.css";
</style>