<!-- heading -->
<div class="container">
    <%- page.fields.header.heading%>
</div>
<!-- section 1 -->
<div class="container desktop-img">
    <%- page.fields.sections.section1%>
</div>
<div class="mobile-img">
    <%- page.fields.mobile_view[0].fields.content %>
</div>