<div class="container" style="
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
">
    <h1 style="
    margin: 5% auto;
">Upload Files Here</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
    </form>

    <div class="container mt-5"><h3><a href="<%-link %>"><%-link %></a></h3></div>
</div>