
main .container{
  height: 100%;
}
.text-muted{
  color:black !important;
}
.brandFooter{
  padding:0px;
}
.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.pricing {
  color: #fff;
}

.btn-warning {
  color: #fff !important;
  background-color: var(--primary-color1);
  border:none !important;
}

.btn-warning:hover {
  color: var(--primary-color1) !important;
  background: white;
}
.pad1 {
  padding: 1.25rem;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.pad1 ul li {
  color: white;
  font-size: 13px !important;
}
.pad1 a {
  float: right;
}
body > main > div > div.container > div{
  padding-left: 5%;
}
.text-primary {
  color: var(--primary-color1) !important;
}
body > main > div > div:nth-child(1) > div > div > h1 {
  color: white;
  padding-top: 9%;
}
body > main > div > div:nth-child(1) > div > div > h6 {
  color: white;
}
p {
  color: white;
}
body
> main
> div
> div:nth-child(3)
> div.container.py-5
> div
> div:nth-child(1)
> div {
background: #939497;
color: white;
height: 105%;
}
body
> main
> div
> div:nth-child(3)
> div.container.py-5
> div
> div:nth-child(2)
> div {
background: #ac8026;
color: white;
height: 105%;
}
body
> main
> div
> div:nth-child(3)
> div.container.py-5
> div
> div:nth-child(3)
> div {
background: #83a4b8;
color: white;
height: 105%;
}
body
> main
> div
> div:nth-child(3)
> div.container.py-5
> div
> div:nth-child(4)
> div {
background: #81c2e5;
color: white;
height: 105%;
}
@media (max-width: 360px){
  body > main > div > div.row > div > div > div:nth-child(3) > div > h3{
    font-size: 27px;
  }

}

@media (max-width: 767px){
  body > main > div > div.container.mobile-img > h1{
    font-size: 25px;
    padding-top: 103%;
    padding-left:7%;
    color:white;
  }
  body > main > div > div.container.mobile-img >p{
    padding-left:7%;
  }
  body > main > div > div:nth-child(3) > div > div{
    display: flex;
    flex-direction: column;
  }

  .mobile-img{
    display:block;
    padding: 0;
  }  
  #brandslogos{
    display: none;
  }
  .account-types{
    padding: 0;
  }
  body > main > div > div.container.mobile-img > h1,
  body > main > div > div.container.mobile-img > h6{
    color: white;
  }
  body > main > div > div.row > div > div > div{
    display:flex;
    justify-content: center;
  }
  .pad1{
    width: 81%;
    height:97% !important;
    margin-bottom: 5%;
  }
}

/* Responsive for Tablet*/
@media (max-width: 1023px) and (min-width: 768px){
  body > main > div > div.container > div{
    height: 345px !important;
  }
  h1,h2{
    font-size:1.5rem;
  }
  body > main > div > div.container > div > p{
    padding:0 !important;
    font-size: 13px;
  }
  body > main > div > div.container > div > h1{
    padding-top: 9%;
  }
  body > main > div > div.row > div > div > div > div > h5,
  body > main > div > div.row > div > div > div > div > h5 > span,
  body > main > div > div.row > div > div > div > div > h5 > span{
    font-size: 0.6rem !important;
  }
  .pad1 ul li{
    font-size: 9px !important ;
  } 
  .pad1{
    padding:0.5rem;
  }
  body > main > div > div.row > div > div > div > div > a{
    font-size:9px;
  }
  h3{
    font-size: 0.75rem;
  }
  .h1{
    font-size: 0.75rem;
  }
}

/* Ipad pro and large tablets*/
@media (max-width:1365px) and (min-width:1024px){
}

/*Desktop & laptop Small screens */ 
@media (max-width:1600px){

}
/* Desktop & laptop large screen*/
@media (min-width:1601px) {

}