body>main>div>div:nth-child(2)>div:nth-child(2)>h3 {
    color: var(--primary-color3);
    font-weight: bold;
    padding-top: 2%;
    padding-left: 5%;
}

body>main>div>div:nth-child(2)>div:nth-child(3) {
    justify-content: center
}

body>main>div>div:nth-child(2)>div:nth-child(3)>div.col-md-4>h5:nth-child(1) {
    font-weight: bold;
}

.col-md-8 {
    padding-top: 6%;
    padding-bottom: 3%;
}

.col-md-4 {
    padding-top: 6%;
    padding-left: 5%;
}

body>main>div>div:nth-child(2)>div:nth-child(3)>div.col-md-8>ul>li {
    color: var(--primary-color1);
    font-size: 13px;
}

body>main>div>div:nth-child(2)>div:nth-child(3)>div.col-md-8>ul>li>i {
    font-size: 4px;
    font-weight: 600;
    padding-right: 1%;
}

body>main>div>div:nth-child(2)>div:nth-child(3)>div.col-md-8>ul>strong {
    font-family: 'Evest Font';
}



@media (max-width: 767px) {}

/* Responsive for Tablet*/
@media (max-width: 1023px) and (min-width: 768px) {
    body>main>div>div:nth-child(1) {
        height: 320px !important;
    }

    body>main>div>div:nth-child(2)>div:nth-child(3)>div.col-md-8>p {
        font-size: 11px;
    }

    body>main>div>div:nth-child(2)>div:nth-child(3)>div.col-md-8>ul>li {
        font-size: 11px;
    }
}

/* Ipad pro and large tablets*/
@media (max-width:1365px) and (min-width:1024px) {}

/*Desktop & laptop Small screens */
@media (max-width:1600px) {}

/* Desktop & laptop large screen*/
@media (min-width:1601px) {}