main .container {
  height: 600px;
}

body>main>div:nth-child(6) {
  display: flex;

}

.mainpandats .forex-button-pandats {
  font-family: "Evest font" !important;
}

.brandFooter {
  padding-right: 15px !important;
  padding-left: 15px !important;
}


#homeBrands {
  display: block;
}




.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .btn {
  color: white !important;
  width: 130px;
  font-weight: lighter;
}

.signup .btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section4 p {
  font-size: 16px;
  font-weight: lighter;
}

.section4 col {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btnlimit {
  background-color: #65efe2;
}

.text {
  margin-top: 40px;
}

.carousel-control-next {
  position: absolute;
  height: 400px;
  right: -120px;
}

.carousel-control-prev {
  left: -120px;
  position: absolute;
  height: 400px;
}

body>main>main>div:nth-child(3)>div>div:nth-child(2) {
  margin-top: -25% !important;
  z-index: 100;
  margin-left: 50% !important;
}

.imgclass {
  height: 432.08px;
}

.sect2>.container>.row>.imgclass>img {
  animation: closeit 1s ease-in-out;
  animation-fill-mode: forwards;
}

.sect2:hover>.container>.row>.imgclass>img {
  animation: expandIt 1s ease-in-out;
  animation-fill-mode: forwards;
}

.imgclass h3 {
  position: relative;
  top: -69%;
  right: -54%;
  width: 500px;
}

.imgclass h1 {
  position: relative;
  top: -70%;
  right: -54%;
  width: 500px;
}

.sect2:hover>.container>.row>.imgclass>h3,
.sect2:hover>.container>.row>.imgclass>h1 {
  color: rgb(7, 7, 7);
  overflow: hidden;
  background: linear-gradient(to right,
      rgb(255, 255, 255),
      rgb(221, 221, 221) 50%,
      rgb(255, 255, 255) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

@keyframes closeit {
  0% {
    width: 100%;
  }

  100% {
    width: 400px;
  }
}

@keyframes expandIt {
  0% {
    width: 400px;
  }

  100% {
    width: 100%;
  }
}

body>main>main>.mobileApp>div>div>h1>button {
  margin-left: 791px;
  margin-top: 71px;
  width: 228px;
  height: 53px;
  font-size: 21px;
}

footer .container {
  height: auto;
}

body>main>main>div:nth-child(3)>div>div.section2Text {
  margin-top: -26% !important;
  margin-left: 53% !important;
  z-index: 100 !important;
}

.telephone {
  display: none;
  margin: 20px auto;
}

#phone {
  height: 40px;
  border-radius: 19px;
}

body>main>main>div:nth-child(6)>div>div>div:nth-child(1)>div.row.telephone>button {
  margin-left: 15px;
}

body>main>.mobileApp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

body>main>div.container.justify-center {
  justify-content: center;
  margin-top: 5%;
}

.stockMarket {
  height: 75px !important;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  box-shadow: 5px 5px 22px #0000002b;
}

#results>div>div.col-8>p {
  font-size: 12px;
  opacity: 50%;
}

#results>div:nth-child(1)>div.col-4.d-flex>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#results>div>div.col-4.d-flex>div>p {
  font-size: 11px;
  opacity: 50%;
}

body>i {
  text-indent: 3px !important;
}

body>main>div:nth-child(6)>div>div:nth-child(1)>img:hover {
  border-bottom: 1px solid var(--primary-color1) !important;
  cursor: pointer;
}













/* new styling*/
#section1 {
  height: 295px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#section1 span {
  color: var(--primary-color3);
}

#section1 p {
  color: white;
}

#section1 .col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section1 .col-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
}

.textUnder {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}

.splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,
.splide--fade>.splide__track>.splide__list>.splide__slide.is-active {
  height: 100% !important;
}

.splide__arrow {
  background: transparent !important;
  fill: var(--primary-color3);
}

.splide__slide>.container {
  display: flex;
  align-items: center;
  height: 500px;
}

.splide__slide>.container>div.col-md-6>img {
  width: 100%;
  border-radius: 15px;
  /* box-shadow: 7px 10px 15px #1111116b; */
}

.btn-slider {
  color: white !important;
  font-weight: lighter;
  margin-top: 1.5rem;
  background: var(--primary-color2) !important;
  border: none;
  width: 8rem;
}

.btn-slider:hover {
  background: var(--primary-color3) !important;
  color: var(--primary-color1) !important;
}

.section4 {
  background: white;
  box-shadow: -2px -2px 23px #0000003b;
}



body>main>.numbersLast>div {
  height: 295px;
  display: flex;
  align-items: center;
}

body>main>.numbersLast>div>.col-sm>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

body>main>.numbersLast>div>.col-sm> :nth-child(1) {
  font-size: 60px;
  font-family: 'Evest Med';
}

body>main>.numbersLast>div>.col-sm> :nth-child(2) {
  font-weight: bold;
}

.btnlimit:hover {
  background: var(--primary-color1);
  color: var(--primary-color3);
  border: 2px solid var(--primary-color3);
}

.btnlimit {
  width: 150px;
  font-size: 19px;
  border: 2px solid transparent;
}

body>main>div.row.section4>div>div:nth-child(3)>div,
body>main>div.row.section4>div>div:nth-child(3)>.col,
body>main>div.row.section4>div>div:nth-child(3)>div:nth-child(1) {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*Press Release*/
.flickity-viewport {
  width: 100vw;
  height: 295px !important;
}

.flickity-slider {
  width: 110% !important;
}

.flickity-prev-next-button {
  height: 100% !important;
  background: #0580807a !important;
  border-radius: 0 !important;
}

.flickity-prev-next-button.next {
  right: 0% !important;
}

.flickity-prev-next-button.previous {
  left: 0% !important;
}

.flickity-prev-next-button .flickity-button-icon {
  color: white;
}

.flickity-button:hover {
  background: var(--primary-color2) !important;
}

.flickity-page-dots .dot {
  background: var(--primary-color2) !important;
}


.sect2>.container {
  height: 500px;
}

.mobileApp>.container {
  justify-content: center;
  align-items: center;
}

.mobile-img {
  display: none !important;
}

#getApp {
  background-color: white;
  color: var(--primary-color1);
}

#getApp>div.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#getApp>div.modal-body>div.modal-footer {
  padding: 20px 30px;
  color: var(--primary-color1);
  background-color: transparent !important;
  margin: 0px;
  align-items: center;
  width: 100% !important;
  justify-content: center;
}


@media (max-width: 767px) {

  body>main>div:nth-child(7)>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  body>main>div.row.section4>div>div:nth-child(1)>h4 {
    font-size: 17px;
  }

  body>main>div.row.section4>div>div:nth-child(2)>h2 {
    text-align: center;
    font-size: 25px;
  }

  body>main>.mobileApp>div {
    display: flex;
    flex-direction: column-reverse;
  }

  body>main>.mobileApp>div>div:nth-child(2)>img {
    width: 330px !important;
  }

  /*PressRealese*/
  .flickity-viewport {
    width: 100%;
    height: 190px !important;
  }

  #PressRelease>div>div {
    left: 27px !important;
  }

  /* Accessbiltiy*/
  body>i {
    bottom: 20px !important;
    left: 21px !important;
    text-indent: 3px !important;
    display: none !important;
  }


  body>main>.mobileApp>div:nth-child(2) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  body>main>div:nth-child(1) {
    display: none;
  }

  .mobile-silder {
    display: flex !important;
    height: auto !important;
  }

  .carousel-item,
  .slide {
    height: 90vh !important;
  }

  #myCarousel>div>div>div>div>h5 {
    color: #fff;
    position: relative;
    top: -35%;
    left: 8%;
    font-size: 20px;
    z-index: 999;
    max-width: 320px;
  }

  #myCarousel>div>div>div>div>p {
    color: #fff;
    position: relative;
    top: -34%;
    left: 8%;
  }

  #myCarousel>div>div.carousel-item>div>div>h6 {
    color: white;
    position: relative;
    top: -35%;
    left: 8%;
    font-size: 12px;
  }

  #myCarousel>div>div>div>div>a {
    position: absolute;
    top: 66%;
    left: 8%;
    background: var(--primary-color3) !important;
    color: var(--primary-color1) !important;
    border: none !important;
    font-size: 13px !important;
  }

  #myCarousel>div>div>div>div {
    padding-left: 0;
    padding-right: 0;
  }

  .slide img {
    width: 100vw !important;
    height: 90vh !important;
  }

  .carousel-control-next {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .col-sm {
    flex-direction: column;
  }

  .col-sm p {
    padding-top: 0px !important;
    font-weight: normal !important;
    text-align: center !important;
  }

  .mobile-sec2 {
    display: block !important;
  }

  .imgclass {
    display: none;
  }

  body>main>div.container.section4>div>div:nth-child(1)>h4 {
    font-size: 1rem !important;
  }

  body>main>div.container.section4>div>div:nth-child(2)>h2 {
    font-size: 1.5rem !important;
  }

  body>main>div.container.section4>div>div:nth-child(3) {
    flex-direction: column;
  }

  body>main>div.container.section4>div>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>img,
  body>main>div.container.section4>div>div:nth-child(3)>div:nth-child(2)>div:nth-child(1)>img {
    width: 100%;
    height: auto;
    margin-left: -25px;
  }

  body>main>div.container.section4>div>div:nth-child(3)>div:nth-child(2)>div:nth-child(1)>img.mobile-img {
    margin-left: -62px;
  }

  body>main>div.container.section4>div>div:nth-child(3) {
    margin-left: -15px !important;
  }

  body>main>div.container.section4>div>div:nth-child(3)>div:nth-child(1)>.row,
  body>main>div.container.section4>div>div:nth-child(3)>div:nth-child(2)>.row {
    width: 100% !important;
  }

  body>main>div.container.section4>div>div:nth-child(3)>div:nth-child(1)>.row>p,
  body>main>div.container.section4>div>div:nth-child(3)>div:nth-child(2)>.row>p {
    font-size: 10.8px;
    margin-top: -40px !important;
  }

  .mobile-img {
    display: block !important;
  }

  .ceoMobile {
    display: flex !important;
  }

  .desktop-img {
    display: none !important;
  }

  body>main>div:nth-child(6)>h2 {
    font-weight: normal !important;
    font-size: 22px !important;
    padding-top: 4%;
    padding-left: 4%;
  }

  body>main>.mobileApp>div:nth-child(2)>img {
    margin-bottom: 50px !important;
    margin-left: 0% !important;
    width: 100% !important;
  }

  body>main>.mobileApp>div:nth-child(1)>div:nth-child(1)>h2 {
    font-size: 1rem !important;
  }

  body>main>.mobileApp>div:nth-child(1)>div:nth-child(2)>p {
    font-size: 11px !important;
  }

  #app {
    width: 264px !important;
    margin-top: 0 !important;
  }

  #logosapp {
    width: 80%;
    margin-top: -6%;
  }

  body>main>.numbersLast>div>div.row.mobile-img>button {
    right: 0 !important;
    left: 5%;
    margin-top: 7%;
  }

  body>main>div:nth-child(10) {
    height: 295px !important;
  }

  body>div.container.brandFooter {
    height: max-content !important;
  }

  .signup {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  /*stockmarket widget*/
  .stockMarket {
    height: 100% !important;
  }

  #results>div>div.col-8>p {
    font-size: 10px !important;
  }

  #results>div>div.col-8>h6 {
    font-size: 11px;
  }

  #results>div>div.col-4.d-flex>div>p {
    font-size: 9px !important;
    width: 120%;
  }

  #results>div>div.col-4.d-flex>div>h6 {
    font-size: 11px;
  }

  #results>div>div.col-4.d-flex {
    position: relative;
    left: -37%;
  }

  #currency,
  #commoditites,
  #stocks,
  #indices,
  #crypto {
    width: 40% !important;
  }

  body>div.row {
    height: 15px !important;
  }

  /*styling*/
  body>main>.numbersLast {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  body>main>div.container-fluid>div:nth-child(1)>p {
    font-size: 10px;
  }

  body>main>div:nth-child(10)>div>div.row.mobile-img>h4 {
    font-size: 20px;
    margin-top: 6% !important;
    padding-left: 4% !important;
  }

  body>main>div:nth-child(10)>div>div.row.mobile-img>button {
    width: 116px;
    font-size: 15px;
    position: relative;
    left: 4%;
    margin-top: 3%;
  }


  /*newDesign*/

  .btnlimit {
    width: 100px;
    font-size: 15px;
  }

  body>main>div:nth-child(11)>div>div.row.mobile-img>h4 {
    padding-left: 0 !important;
    font-size: 20px;
    margin-top: 0 !important;
  }

  body>main>div:nth-child(11)>div {
    height: 400px !important;
  }

  main .container {
    height: 100% !important;
  }

  body>main>div:nth-child(6)>div>div {
    /* height:650px !important; */
  }

  .number {
    font-size: 30px !important;
  }

  .textUnder {
    font-size: 9px;
  }


  #section1 {
    height: 180px !important;
  }

  body>main>div.row.section4>div>div:nth-child(3) {
    display: flex;
    flex-direction: column;
  }

  body>main>div:nth-child(6)>div>h2 {
    font-size: 20px !important;
  }

  #PressRelease>div>div>div.carousel-cell>a>img {
    width: 290px !important;
    position: relative;
    left: 2%;
  }

  body>main>div:nth-child(7)>div>div:nth-child(1)>p {
    text-align: center;
  }

  body>main>.mobileApp {
    flex-direction: column-reverse;
    padding-top: 20%;
    padding-bottom: 10%;
    height: 100%;
  }

  body>main>.numbersLast>div {
    justify-content: center;
  }

}


/*mobile for samsungs and others*/
@media (max-width:360px) {
  #myCarousel>div>div.carousel-item>div>div>h6 {
    color: white;
    position: absolute;
    top: 63% !important;
    left: 30px;
    font-size: 13px !important;
  }

  #PressRelease>div>div>div.carousel-cell>a>img {
    width: 284px !important;
  }

  .flickity-viewport {
    width: 100%;
    height: 186px !important;
  }

  body>main>div.container-fluid {
    height: 360px !important;
  }

  .col-sm {
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
  }

  body>main>div:nth-child(3)>div>div:nth-child(3) {
    justify-content: center !important;
  }
}

@media (min-width:360px) and(max-width:375px) {
  #myCarousel>div>div>div>div>h5 {
    color: white;
    position: absolute;
    top: 40%;
    left: 30px;
    font-size: 20px;
  }
}

@media (min-width:1441px) {

  body>main>.numbersLast,
  body>main>div:nth-child(3) {
    background-position-x: 244px !important;
  }
}





/* Responsive for Tablet*/
@media (max-width: 1023px) and (min-width: 768px) {
  .splide__slide>.container>div.col-md-6>img {
    width: 100% !important;
  }

  #splide01-slide02>div>div:nth-child(1)>img,
  #splide01-slide03>div>div:nth-child(1)>img {
    width: 60% !important;
  }

  #splide01-slide02>div>div:nth-child(1),
  #splide01-slide03>div>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .splide__slide>.container>div.col-md-6>h1,
  .splide__slide>.container>div.col-md-6>h3 {
    font-size: 20px;
  }

  .splide__slide>.container>div.col-md-6>p {
    font-size: 13px;
  }

  #splide01-slide01>div>div:nth-child(1)>img {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .splide__slide>.container {
    height: 350px !important;
  }

  body>main>div.row.sect2>div>div>div.col.imgclass>img {
    height: 275px !important;
  }

  @keyframes closeit {
    0% {
      width: 100%;
    }

    100% {
      width: 290px;
    }
  }

  @keyframes expandIt {
    0% {
      width: 290px;
    }

    100% {
      width: 100%;
    }
  }

  .imgclass h3 {
    position: relative;
    top: -38%;
    right: -47%;
    width: 500px;
    font-size: 19px;
  }

  .imgclass h1 {
    position: relative;
    top: -37%;
    right: -47%;
    width: 500px;
    font-size: 33px;
  }

  main .container {
    height: auto !important;
  }

  .sect2>.container {
    height: 300px !important;
  }

  body>main>div.row.section4>div>div:nth-child(2)>h2 {
    text-align: center;
    font-size: 25px;
  }

  body>main>div.row.section4>div>div:nth-child(3)>.col,
  body>main>div.row.section4>div>div:nth-child(3)>div {
    align-items: center;
  }

  body>main>div.row.section4>div>div:nth-child(3)>div:nth-child(2)>div:nth-child(1) {
    margin-bottom: 5%;
  }

  body>main>div:nth-child(6)>div>div>div:nth-child(1)>img {
    width: 25% !important;
  }

  body>main>div:nth-child(6)>div>h2 {
    font-size: 27px !important;
  }

  .col-8,
  .col-4 {
    max-width: 50%;
  }

  body>main>div:nth-child(6)>div>div {
    height: auto !important;
    margin-bottom: 10%;
  }

  body>main>div:nth-child(8)>div.container.align-items-center.desktop-img {
    display: flex;
    margin-bottom: 4%;
    margin-top: 5%;
  }

  body>main>div:nth-child(8)>div.container.align-items-center.desktop-img>div:nth-child(1)>h1 {
    font-size: 30px;
  }

  body>main>div:nth-child(8)>div.container.align-items-center.desktop-img>div:nth-child(1)>h5 {
    font-size: 18px;
  }

  body>main>div:nth-child(8)>div.container.align-items-center.desktop-img>div:nth-child(1)>p {
    font-size: 13px;
  }

  .number {
    font-size: 30px;
  }

  body>main>div.row.mobileApp>div>div:nth-child(2)>img {
    width: 100% !important;
  }

  body>main>div.row.mobileApp>div>div:nth-child(1)>div:nth-child(2)>p {
    font-size: 13px;
  }

  body>main>.numbersLast>div>.col-sm>:nth-child(1) {
    font-size: 30px;
  }

  body>main>div.row.numbersLast {
    height: 165px !important;
    background-size: contain !important;
  }

  body>main>div:nth-child(11)>div>div.row.desktop-img>h1 {
    font-size: 1.1rem !important;
  }

  body>main>div:nth-child(11)>div>div.row.desktop-img {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .btnlimit {
    font-size: 14px;
    width: 100px;
  }
}

/* Ipad pro and large tablets*/
@media (max-width:1365px) and (min-width:1024px) {
  .splide__slide>div>h1 {
    font-size: 30px;
  }

  .splide__slide>div>h6,
  .splide__slide>div>p {
    font-size: 15px;
  }

  .splide__slide>div>ul>li {
    font-size: 12px;
  }

  .btn-slider {
    font-size: 10px;
  }
}

/*Desktop & laptop Small screens */
@media (max-width:1600px) {}

/* Desktop & laptop large screen*/
@media (min-width:1601px) {}