
@media (max-width:767px){
  p{
    font-size: 13px !important;
  }
  /*support Icon*/
  .support-icon{
    top:85%;
    right:6%;
    width:40px;
    height:40px;
  }
  .support-icon>.icon{
    font-size: 8px;
  }
  .fa-comments{
    font-size:20px;
    position: relative;
    top: -15%;
  }
  .icon_float{
    width:40px;
    height:40px;
  }
  .icon_float+.icon_float{
    margin-top:10%;
  }
  #support-channels{
    bottom:75px;
  }


  .btn-ceo {
    font-family: "Evest Med";
    margin-left: 10%;
    margin-bottom: -3%;
    width: 200px!important;
    font-size: 15px!important;
    margin-top: 2%;
}
    #englishNavBar>a{
      padding-left: 8%;
    }
    #arabicNavBar>a{
      padding-right: 11.2%;
    }

    #smsForm{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -7%;
    }
    #smsForm > button{
      margin: 5% auto;
    }
    body > main > div:nth-child(7) > div:nth-child(1) > div:nth-child(3){
    display:flex;
    justify-content: center;
    align-items: center;
    }
    body > main > div:nth-child(7) > div:nth-child(1) > div:nth-child(5){
      text-align: center;
    }
    body > div.row{
      display:none;
    }
    .lang-menu ul{
      top:-25px;
    }
    .oldVersionAr,.oldVersionEn{
      width:100px;
    }
    #brandslogos{
      display:none !important;
    }
    .desktop-img{
      display: none !important;
    }
    .mobile-img{
      display: block;
    }
    body > footer > div{
      padding-top: 3%;
    }
    body > footer > div > div:nth-child(3) > p{
      padding-left: 3% !important;
    }
    body > footer > div
    {
      padding-left: 0 !important;
    }
    body > footer > div > div:nth-child(1) > div.col-10.text-center > p{
      font-size: 13px !important;
      margin-right: 0 !important;
      padding-left: 13%;
      margin-top: 1% !important;
      text-align: left;
    }
  
    #englishNavBar > a > img,
    #spainshNavBar > a > img{
      margin-top: -35px;
      margin-left: -5%;
      width: 35%!important;
      position: absolute;
      z-index: 9999;
    }


    #arabicNavBar > a > img{
      margin-top: -24px;
      margin-right: 0%;
      width: 35%!important;
      position: absolute;
      z-index: 9999;
    }
    #arabicNavBar > #navbarSupportedContent>div{
      margin-right: 15%;
    }



    body > footer > div > div:nth-child(1) > div.col-2 > div:nth-child(1) > img {
      width: 93px !important;
      margin-left: -8px !important;
      padding-bottom: 10%;
  }
    #homeBrands{
      display: none !important;
    }
    .row{
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    /*navbar*/
    @keyframes openIt {
      0% {
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
    #englishFooter .icons li+li{
      margin-left: 35%;
    }
  #navbarSupportedContent{
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    height: 100vh !important;
    animation: openIt 1s;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
  }
  
  #englishNavBar > button,
  #spainshNavBar > button{
    z-index: 100;
    right: 5%;
    position: absolute;
  }
  
  #arabicNavBar > button{
    z-index: 100;
    left: 5%;
    position: absolute;
  }
  
  #navbarSupportedContent > ul{
    margin-top: 26%;
  }
  
  #navbarSupportedContent > div{
    flex-direction: column;
    padding-top: 3%;
    align-items:baseline;
    margin-left: 10%;
  }

  #navbarSupportedContent > ul > li > a{
    font-size: 20px !important;
    text-align: left;
    padding-left: 10%;
  }
  #arabicNavBar > #navbarSupportedContent > ul > li > a{
    text-align: right;
    padding-right: 10%;
  }
  .dropdown-menu.show{
    width: 67% !important;
    position: inherit;
    left: 10% !important;
  }
  #navbarSupportedContent > div > a:nth-child(3),
  #navbarSupportedContent > div > a:nth-child(4),
  #navbarSupportedContent > div > button{
    margin-bottom:2%;
    width: 200px !important;
    font-size: 15px !important;
    justify-content: center;
  }
  
  
  /*Footer*/
  /*arabic footer*/
  #arabicFooter > div:nth-child(1) > div:nth-child(1){
    width:50%;
  }
  #arabicFooter > div:nth-child(1) > div:nth-child(1) > img{
    width:80%;
  }
  #arabicFooter .icons li+li{
    margin-right: 17px;
  }
  #arabicFooter > div:nth-child(1) > div:nth-child(1) > p{
    font-size: 13px !important;
  }
  #arabicFooter > div:nth-child(1) > div:nth-child(1){
    padding-right: 2%;
  }
  #arabicFooter > div:nth-child(1) > div > h6{
    font-size: 12px;
  }
  #arabicFooter ul>li{
    font-size: 12px;
  }
  #arabicFooter > div:nth-child(1) > div:nth-child(2){
    padding-right: 0;
    padding-left: 75px;
    padding-top: 12%;
  }
  #arabicFooter > div:nth-child(1) > div:nth-child(3){
    padding-left: 17px;
    margin-right: -1%;
    padding-right: 11px;
  }
  #arabicFooter > div:nth-child(1) > div:nth-child(4){
    margin-right: 2%;
    padding-left: 0%;
  }
  #arabicFooter > div:nth-child(1) > div:nth-child(5){
    padding-left: 0;
  }
  #arabicFooter > div:nth-child(2) > p
  {
    padding-right: 0 !important;
    font-size: 12px !important;
  }
  /*english footer*/
  #englishFooter > div:nth-child(1) > div:nth-child(1){
    width:50%;
  }
  #englishFooter > div:nth-child(1) > div:nth-child(1) > img{
    width:100% !important;
    margin-left: -5%;
  }
  #englishFooter .icons li+li{
    margin-left: 17px;
  }
  #englishFooter > div:nth-child(1) > div:nth-child(1) > p{
    font-size: 13px !important;
  }
  footer #englishFooter .icons {
    margin-left: 2px;
  }
  #englishFooter > div:nth-child(1) > div:nth-child(1){
    padding-right: 2%;
  }
  #englishFooter > div:nth-child(1) > div > h6{
    font-size: 12px;
  }
  #englishFooter ul>li{
    font-size: 12px;
  }
  #englishFooter > div:nth-child(1) > div:nth-child(2) {
    
    padding-right: 100px;
    padding-top: 14%;
  }
  #englishFooter > div:nth-child(1) > div:nth-child(3){
    padding-left: 17px;
    margin-right: -1%;
    padding-right: 11px;
  }
  #englishFooter > div:nth-child(1) > div:nth-child(4){
    padding-left: 19%;
  }
  #englishFooter > div:nth-child(1) > div:nth-child(5){
    padding-left: 0;
  }
  #englishFooter > div:nth-child(2) > p
  {
    padding-right: 0 !important;
    font-size: 12px !important;
    padding-left: 5% !important;
  }
  
  #navbarSupportedContent > div > panda-forex-login > div > div > button,
  #navbarSupportedContent > div > panda-forex-signup > div > button{
    display: none;
  }
  #arabicFooter>div:nth-child(1)>div:nth-child(2) {
    /* padding-right: 44px; */
    padding-left: 147px;
    padding-top: 12%;
}
#arabicFooter>div:nth-child(1)>div:nth-child(3) {
  padding-left: 0px;
  margin-right: 0%;
  padding-right: 23px;
}
  }

  @media (max-width: 360px){
    #englishFooter > div:nth-child(1) > div:nth-child(2) {
      padding-left: 30px!important;
      padding-right: 72px!important;
      padding-top: 14%;
  }
  #arabicFooter>div:nth-child(1)>div:nth-child(2) {
    padding-right: 25px;
    padding-left: 112px;
    padding-top: 12%;
}
  body > div.row{
    display:none;
  }
  
  body > main > div:nth-child(9) > div > div.row.mobile-img > h4{
    font-size: 22px;
  }
  .lang-menu{
    position: absolute;
    top: 4%;
    right: 25%;
  }
  #arabicNavBar   .lang-menu{
    right:50% !important;
  }
  }


  @media(max-width:320px){
    .lang-menu {
      position: absolute;
      top: 7%;
      right: 44%;
      font-size: 13px;
  }

  #englishNavBar .lang-menu{right:0;
  left:44%}
  #arabicNavBar>a>img{
    height:44px !important;
    width:25% !important;
  }
  #navbarSupportedContent>ul>li>a{
    font-size: 15px !important;
  }

  }
  
   /* Responsive for Tablet*/
   @media (max-width: 1023px) and (min-width: 768px){
    #navbarSupportedContent{
      flex-direction: column;
      background: white;
      width: 30%;
      position: absolute;
      top: 100%;
      text-align: right;
      right: 0px;
      float: right;
    }
  
    #navbarSupportedContent > ul{
      margin-right: 16px !important;
    }
    #navbarSupportedContent > ul > li > a{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
    #arabicNavBar > #navbarSupportedContent > ul > li > a{
      flex-direction: row;
    }
    #arabicNavBar > #navbarSupportedContent > ul {
      margin-left: 16px !important;
  }
  #arabicNavBar > a {
    padding-right: 2.4% !important;
  }
  
    .dropdown-item,.dropdown-item:hover{
      font-size: 12px !important;
    }
  
    #navbarSupportedContent > div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #navbarSupportedContent > div > panda-forex-login,#navbarSupportedContent > div > panda-forex-signup{
      margin-bottom: 2%;
    }
     .tablet-space{
       display: flex;
     }
     .desktop-space{
       display: none;
     }
     #englishNavBar > a {
      padding-left: 2.9% !important;
    }
  
    /*Arabic Footer*/
    #arabicFooter > div:nth-child(1) > div:nth-child(1) > img{
      width: 90%;
    }
    #arabicFooter .icons li+li {
      margin-right: 20px;
    }
    #arabicFooter > div:nth-child(1) > div:nth-child(1) > p{
      font-size: 13px!important;
    }
    #arabicFooter  h6{
      font-size: 12px;
    }
    #arabicFooter ul>li {
      font-size: 12px;
    }
    #arabicFooter > div:nth-child(2) > p{
      font-size: 13px !important;
    }
  
    /*English Footer*/
    footer #englishFooter .icons {
      margin-left: 3px;
  }
    #englishFooter > div:nth-child(1) > div:nth-child(1) > img{
      width: 90% !important;
    }
    #englishFooter .icons li+li {
      margin-left: 20px;
    }
    #englishFooter > div:nth-child(1) > div:nth-child(1) > p{
      font-size: 13px!important;
    }
    #englishFooter  h6{
      font-size: 12px;
    }
    #englishFooter ul>li {
      font-size: 12px;
    }
    #englishFooter > div:nth-child(2) > p{
      font-size: 13px !important;
    }
  }
  

@media(min-width:1280px) and (max-width:1599px){
}




  /*@media (min-width:1024px) and (max-width:1600px){
    #englishNavBar > a > img{
      width: 80% ;
      margin-right: 0 !important;
    }
   #englishNavBar >a {
      padding-left: 5.1%;
  }
  #navbarSupportedContent > ul> li > a{
    font-size: 15px;
    padding: 4px;
  }
  #englishNavBar #navbarSupportedContent{
  margin-left: -2%;
  }
  #englishNavBar .forex-button-pandats{
    font-size: 13px !important;
    line-height: 26px;
  }
  #navbarSupportedContent > div > button{
    font-size: 13px;
    line-height: 14px;
  }
  .lang-menu {
    width: 95px;
    text-align: right;
    font-weight: bold;
    margin-left: 10px;
    position: fixed;
    top: 2px;
    right: 2%;
  }
  .lang-menu ul{
    position: absolute;
      top: 0;
      right: 0;
  }
  #navbarSupportedContent > div{
    justify-content:center;
  }
  }*/
  
  