panda-forex-login .forex-button-pandats.simple-button-pandats,
.mainpandats .forex-button-pandats.simple-button-pandats{
  font-family: "Arabic Evest",sans-serif !important;
}
body{
  text-align: right;
  direction: rtl;
  font-family: "Arabic Evest" ,sans-serif !important;
}

span{
font-family: "Evest Font";
}

.lang-menu .selected-lang:before{
  background-image: url(https://www.countryflags.io/sa/flat/32.png);
}
.btncol{
    background: var(--primary-color3) !important;
    color:var(--primary-color1) !important;
    width: 150px;
    font-size: 20px;
  }

  .btncol:hover{
    color: var(--primary-color3) !important;
    background:var(--primary-color1) !important;
    border-color:var(--primary-color3) !important ;
  }
  
  body > main > div > div:nth-child(2) .col-md-4,
  body > main > div > div:nth-child(3) .col-md-4{
      padding-top: 5%;
  }
  body > main > div > div:nth-child(2) .col-md-4 p ,
  body > main > div > div:nth-child(3) .col-md-4 p{
      font-size:15px ;
  }

  body > main > div > div:nth-child(3) .col-md-4{
      color:white;
  }
  body > main > div > div:nth-child(3) > div > div:nth-child(2)>.col-md-4,
  body > main > div > div.container > div:nth-child(2)>.col-md-4{
    padding-top: 2%;
    padding-bottom: 10%;
  }
  body > main >  div.desktop-img > div:nth-child(4) > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  body > main >  div.desktop-img > div:nth-child(4) > div:nth-child(2){
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  body > main >  div.desktop-img > div:nth-child(4){
      display: flex;
      padding-top: 5%;
      padding-bottom: 5%;
  }
  body > main >  div.desktop-img > div:nth-child(5) > .container > div:nth-child(1){
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 6.5%;
  }
  body > main >  div.desktop-img > div:nth-child(5) > .container > div:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  body > main >  div.desktop-img > div:nth-child(5) > .container > div:nth-child(2) > div > p{
      font-size: 13px;
  }
  body > main >  div.desktop-img > div:nth-child(5) > .container > div:nth-child(2)>div>h6{
      color:var(--primary-color3);
  }


  @media (max-width: 767px){
    .mobile-img p{
      font-size: 13px;
      font-family: 'Arabic Evest';
    }
    .mobile-img .row > .container{
      padding-top: 2%;
      margin-right: 4%;
    }
    body > main > div.mobile-img > div:nth-child(8) > div{
        margin-right:0% !important;
    }
  }

  /* Responsive for Tablet*/
@media (max-width: 1023px) and (min-width: 768px){
    body > main > div > div:nth-child(1),body > main >  div.desktop-img > div:nth-child(5){
        height: 330px !important;
    }
    h1,.h1{
        font-size: 1.5rem;
    }
    .h4,h4{
        font-size: 1rem;
    }
    p{
        font-size: 11px;
    }
    .btn{
        font-size: 11px !important;
    }
    body > main > div > div:nth-child(2) .col-md-4 p, body > main > div > div:nth-child(3) .col-md-4 p{
        font-size: 11px !important;
    }
    .h5,h5{
      font-size: 1rem;
    }
    body > main >  div.desktop-img > div:nth-child(4) > div:nth-child(1) > div:nth-child(1)>h3{
      font-size:20px ;
    }
    body > main >  div.desktop-img > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) > p{
      padding-top: 20%;
    }
    body > main >  div.desktop-img > div:nth-child(5) > .container > div:nth-child(1) {
      padding-top: 7%;
      padding-bottom: 4%;
      padding-right: 2.5%;
  }
  body > main >  div.desktop-img > div:nth-child(5) > .container > div:nth-child(1) > h6{
    font-size: 14px;
  }
  body > main >  div.desktop-img > div:nth-child(3){
    height:400px !important;
  }
}

/* Ipad pro and large tablets*/
@media (max-width:1365px) and (min-width:1024px){
  }
  
  /*Desktop & laptop Small screens */ 
  @media (max-width:1600px){
  
  }
  /* Desktop & laptop large screen*/
  @media (min-width:1601px) {
  }
  
