<ion-footer-bar align-title="left" class="footer footer-bg p-0" ng-style="{visibility: state ? 'visible' : 'hidden'}" >
    <div class="row app-footer p-0">
        <div class="col tab align-self font-22 text-center assets"
             ng-class="{'active-tab': active === 'app.assets'  && 'active-footer'}"
             on-tap="switchIndicator('assets')">
            <div>
                <i class="icon icon-Instruments"></i>
                <span>Instruments</span>
            </div>
        </div>
        <div class="col tab align-self font-22 text-center openTrades"
             ng-class="{'active-tab': active == 'app.openTrades' && 'active-footer' }"
             on-tap="switchIndicator('openTrades')">
            <div>
                <i class="icon icon-OpenTrades"></i>
                <span>Open Trades</span>
            </div>
        </div>
        <div class="col tab align-self font-22 text-center test"
             ng-class="{'active-tab': active == 'app.test' && 'active-footer' }"
             on-tap="switchIndicator('test')">
            <div>
                <i class="icon icon-PendingTrades"></i>
                <span>Schedule</span>
            </div>
        </div>
        <div class="col tab align-self font-22 text-center">
            <div>
                <i class="icon icon-Wallet"></i>
                <span>Wallet</span>
            </div>
        </div>
        <div class="col tab main-menu align-self text-center" on-tap="openSideMenu()">
            <div>
                <i class="icon icon-Menu font-22"></i>
                <span>Menu</span>
            </div>
        </div>
        <div class="indicator" ng-style="activeIndicator"></div>
    </div>
</ion-footer-bar>