<div ng-repeat="field in personalProfileForm.country.customFields">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         ng-class="{ 'has-error' : (form[field.field].$invalid && !form[field.field].$pristine) || (form.$submitted && form[field.field].$invalid) }">
        <input type="text"
               name="{{ field.field }}"
               ng-model="personalProfileForm.customFields[field.field]"
               ng-minlength="1"
               ng-maxlength="32"
               keyboard-watcher
               required
        >
        <span>{{translation[field.label]}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form[field.field].$error" ng-if="form[field.field].$dirty || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
    </div>
</div>
