<ion-modal-view class="modal-page languages-select">

    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="right">
            <div class="display-flex">
                <i class="icon ion-android-close align-self padding-left padding-right font-22" on-tap="closeLanguageModal()"></i>
            </div>
        </ion-nav-buttons>

        <ion-nav-title>
            <span class="nav-title white font-14 roboto-light">{{translation.select_language}}</span>
        </ion-nav-title>

    </ion-nav-bar>

    <ion-content scrollbar-y="true" overflow-scroll="true" class="view-area">
        <ion-list>
            <ion-item collection-repeat="language in languagesList"
                      collection-item-height="60" collection-item-width="100%" on-tap="setLanguage(language)"
                      ng-style="{'height': '59px'}"
            >
                <div class="row name-item align-self roboto width-100 height-100">
                        <div class="col col-15 height-100">
                            <div class="icon flag-icon" ng-class="'flag-icon-' + language.id.toLowerCase()"></div>
                        </div>
                        <div class="col col-80 font-18 pl-1em roboto-light">{{language.name}}</div>

                        <div class="col col-15 height-100">
                            <i ng-show="selectedId === language.id" class="icon ion-ios-checkmark-empty"></i>
                        </div>
                </div>

            </ion-item>
        </ion-list>

    </ion-content>

</ion-modal-view>

