<div ng-if="!profileRulesHelper.isHidden('firstName')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="firstName"
         ng-class="{ 'has-error' : (form.firstName.$invalid && !form.firstName.$pristine) || (form.$submitted && form.firstName.$invalid) }">
        <input type="text"
               name="firstName"
               ng-model="personalProfileForm.firstName"
               ng-minlength="1"
               ng-maxlength="32"
               keyboard-watcher
               ng-pattern="validator('name')"
               ng-required="profileRulesHelper.isRequired('firstName')"
               ng-readonly="profileRulesHelper.isReadonly('firstName', user.firstName)"
        >
        <span>{{::translation.firstName}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.firstName.$error" ng-if="form.firstName.$dirty || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
        <div class="help-block" ng-message="minlength">{{::translation.messages.too_short}}</div>
        <div class="help-block" ng-message="maxlength">{{::translation.messages.too_long}}</div>
        <div class="help-block" ng-message="pattern">{{::translation.messages.invalid_Firtsname}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('lastName')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="lastName"
         ng-class="{ 'has-error' : (form.lastName.$invalid && !form.lastName.$pristine) || (form.$submitted && form.lastName.$invalid) }">
        <input type="text"
               name="lastName"
               ng-model="personalProfileForm.lastName"
               ng-minlength="1"
               ng-maxlength="32"
               ng-pattern="validator('name')"
               keyboard-watcher
               ng-required="profileRulesHelper.isRequired('lastName')"
               ng-readonly="profileRulesHelper.isReadonly('lastName', user.lastName)"
        >
        <span>{{::translation.lastName}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.lastName.$error" ng-if="form.lastName.$dirty || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
        <div class="help-block" ng-message="minlength">{{::translation.messages.too_short}}</div>
        <div class="help-block" ng-message="maxlength">{{::translation.messages.too_long}}</div>
        <div class="help-block" ng-message="pattern">{{::translation.messages.invalid_Lastname}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('birthday')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="birthday"
         ng-class="{ 'has-error' : form.birthday.$invalid && !form.birthday.$pristine }">
        <input type="date"
               name="birthday"
               ng-model="personalProfileForm.birthday"
               max="{{ minBirth }}"
               ng-required="profileRulesHelper.isRequired('birthday')"
               ng-readonly="profileRulesHelper.isReadonly('birthday', user.birthday)">
        <span>{{::translation.dateBirth}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.birthday.$error" ng-if="form.dateBirth.$dirty || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
        <div class="help-block" ng-message="pattern">{{::translation.messages.datepickerFormat}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('phone')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="phone"
         ng-class="{ 'has-error' : (form.phone.$invalid && !form.phone.$pristine) || (form.$submitted && form.phone.$invalid) }">
        <input type="tel"
               name="phone"
               ng-model="personalProfileForm.phone"
               minLength="5"
               maxLength="17"
               ng-minlength="5"
               ng-maxlength="17"
               keyboard-watcher
               ng-pattern="validator('phone')"
               ng-required="profileRulesHelper.isRequired('phone')"
               ng-readonly="profileRulesHelper.isReadonly('phone', user.phone)"
        >
        <span>{{::translation.phoneFull}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.phone.$error" ng-if="form.phone.$dirty || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
        <div class="help-block" ng-message="minlength">{{::translation.messages.too_short}}</div>
        <div class="help-block" ng-message="maxlength">{{::translation.messages.too_long}}</div>
        <div class="help-block" ng-message="pattern">{{::translation.messages.numbers}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('country')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="country"
         ng-class="{ 'has-error' : (form.country.$invalid && !form.country.$pristine) || (form.$submitted && form.country.$invalid) }">
        <input type="text"
               class="custom-select custom-input"
               name="country"
               ng-model="personalProfileForm.country.country"
               on-tap="!profileRulesHelper.isReadonly('country', user.country) && openCountryModal()"
               readonly
               ng-required="profileRulesHelper.isRequired('country')">
        <span>{{::translation.country}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
        <country-select ng-if="countryModal"
                        items="countries"
                        config="countryModalConfig"
                        on-submit="setCountry(message)"
                        on-close="closeModal()">
        </country-select>
    </div>
    <div class="messages font-12" ng-messages="form.country.$error" ng-if="form.country.$touched || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
    </div>
</div>

<div ng-hide="personalProfileForm.country.states.length === 0">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="state"
         ng-class="{ 'has-error' : (form.state.$invalid && !form.state.$pristine) || (form.$submitted && form.state.$invalid) }">
        <input type="text"
               class="custom-select custom-input"
               name="state"
               ng-model="personalProfileForm.state.stateName"
               on-tap="!profileRulesHelper.isReadonly('state', user.state) && openCountryStateModal()"
               readonly>
        <span>{{::translation.state}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
        <country-select ng-if="countryStateModal"
                        items="countryStates"
                        config="countryStateModalConfig"
                        on-submit="setCountryState(message)"
                        on-close="closeModal()">
        </country-select>
    </div>
    <div class="messages font-12" ng-messages="form.state.$error" ng-if="form.state.$touched || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('citizenship')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="citizenship"
         ng-class="{ 'has-error' : (form.citizenship.$invalid && !form.citizenship.$pristine) || (form.$submitted && form.citizenship.$invalid) }">
        <input type="text"
               class="custom-select custom-input"
               name="citizenship"
               ng-model="personalProfileForm.citizenship.citizenship"
               on-tap="!profileRulesHelper.isReadonly('citizenship', user.citizenship) && openCitizenshipModal()"
               readonly
               ng-required="profileRulesHelper.isRequired('citizenship')">
        <span>{{::translation.citizenship}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
        <country-select ng-if="citizenshipModal"
                        items="citizenships"
                        config="citizenshipModalConfig"
                        on-submit="setCitizenship(message)"
                        on-close="closeModal()">
        </country-select>
    </div>
    <div class="messages font-12" ng-messages="form.citizenship.$error"
         ng-if="form.citizenship.$touched || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('address')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="address"
         ng-class="{ 'has-error' : (form.address.$invalid && !form.address.$pristine) || (form.$submitted && form.address.$invalid) }">
        <input type="text"
               name="address"
               ng-model="personalProfileForm.address"
               ng-minlength="2"
               ng-maxlength="100"
               keyboard-watcher
               ng-pattern="validator('address')"
               ng-required="profileRulesHelper.isRequired('address')"
               ng-readonly="profileRulesHelper.isReadonly('address', user.address)">
        <span>{{::translation.address}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.address.$error" ng-if="form.address.$dirty || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
        <div class="help-block" ng-message="minlength">{{::translation.messages.too_short}}</div>
        <div class="help-block" ng-message="maxlength">{{::translation.messages.too_long}}</div>
        <div class="help-block" ng-message="pattern">{{::translation.messages.invalid_address}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('city')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="city"
         ng-class="{ 'has-error' : (form.city.$invalid && !form.city.$pristine) || (form.$submitted && form.city.$invalid) }">
        <input type="text"
               name="city"
               ng-model="personalProfileForm.city"
               ng-minlength="2"
               ng-maxlength="100"
               ng-required="profileRulesHelper.isRequired('city')"
               ng-readonly="profileRulesHelper.isReadonly('city', user.city)"
               keyboard-watcher
               ng-pattern="validator('name')"
               style="user-select: text !important;"
        >
        <span>{{::translation.city}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.city.$error" ng-if="form.city.$dirty || from.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
        <div class="help-block" ng-message="minlength">{{::translation.messages.too_short}}</div>
        <div class="help-block" ng-message="maxlength">{{::translation.messages.too_long}}</div>
        <div class="help-block" ng-message="pattern">{{::translation.messages.invalid_city}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('postCode')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="postCode"
         ng-class="{ 'has-error' : (form.postCode.$invalid && !form.postCode.$pristine) || (form.$submitted && form.postCode.$invalid) }">
        <input type="text"
               name="postCode"
               ng-model="personalProfileForm.postCode"
               ng-minlength="3"
               ng-maxlength="15"
               keyboard-watcher
               ng-pattern="validator('alphanum')"
               ng-required="profileRulesHelper.isRequired('postCode')"
               ng-readonly="profileRulesHelper.isReadonly('postCode', user.postCode)">
        <span>{{::translation.zipCode}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.postCode.$error" ng-if="form.postCode.$dirty || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
        <div class="help-block" ng-message="minlength">{{::translation.messages.too_short}}</div>
        <div class="help-block" ng-message="maxlength">{{::translation.messages.too_long}}</div>
        <div class="help-block" ng-message="pattern">{{::translation.messages.mixWordsNumbers}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('currency')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="currency"
         ng-class="{ 'has-error' : (form.currency.$invalid && !form.currency.$pristine) || (form.$submitted && form.currency.$invalid) }">
        <select name="currency" class="form-select"
                ng-required="profileRulesHelper.isRequired('currency')"
                ng-options="currency.currency for currency in currencyList"
                ng-model="personalProfileForm.currency">
        </select>
        <span>{{::translation.currency}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.currency.$error" ng-if="form.currency.$touched || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('customerType')">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
         id="customerType"
         ng-class="{ 'has-error' : (form.customerType.$invalid && !form.customerType.$pristine) || (form.$submitted && form.customerType.$invalid) }">
        <select name="customerType" class="form-select"
                ng-required="profileRulesHelper.isRequired('customerType')"
                ng-options="customerType.label for customerType in customerTypes track by customerType.name"
                ng-model="personalProfileForm.customerType">
        </select>
        <span>{{::translation.customerType}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.customerType.$error"
         ng-if="form.customerType.$touched || form.$submitted">
        <div class="help-block" ng-message="required">{{::translation.messages.select_account_type}}</div>
    </div>
</div>

<div ng-if="!profileRulesHelper.isHidden('tradingExperience')">
    <div class="padding pb-0 pl-0">{{::translation.trading_experience}}</div>

    <div class="form-group item-input mb-3 mt-0 pl-0 pt-0 pb-0 custom-radio" id="tradingExperience"
         ng-class="{ 'has-error' : form.tradingExperience.$invalid && !form.tradingExperience.$pristine }">
        <ion-radio ng-value="false"
                   name="tradingExperience"
                   class="text-transform-capitalize"
                   ng-model="personalProfileForm.tradingExperience"
                   ng-required="profileRulesHelper.isRequired('tradingExperience')">
            {{::translation.no}}
        </ion-radio>
        <ion-radio ng-value="true"
                   name="tradingExperience"
                   class="text-transform-capitalize"
                   ng-model="personalProfileForm.tradingExperience"
                   ng-required="profileRulesHelper.isRequired('tradingExperience')">
            {{::translation.yes}}
        </ion-radio>
    </div>
    <div class="messages font-12" ng-messages="form.tradingExperience.$error"
         ng-if="form.tradingExperience.$dirty">
        <div class="help-block" ng-message="required">Please select at least one option</div>
    </div>
</div>
