<ion-modal-view class="modal-page">

    <ion-header-bar ng-class="data.isError ? 'failed':'success'">
        <div class="modal-top" ng-class="data.isError ? 'failed':'success'">
            <div class="icon"
                 ng-class="data.isError ? ' ion-ios-close-outline' : 'ion-ios-checkmark-outline'"></div>
            <h1 class="roboto-light pl-5 pr-5">{{ data.textTitle }}</h1>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="false">
        <div class="modal-content">
            <div class="content">
                <div>
                    <span class="font-18" ng-bind-html="data.textContent"></span>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="left" class="invest-buttons" ng-show="!data.isProcess">
        <div class="row">
            <div class="col text-center">
                <button class="button button-full button-block  success-button roboto-light" on-tap="hide()" ng-if="!data.isProcess">
                    <span>{{ data.actionText }}</span>
                </button>
            </div>
        </div>
    </ion-footer-bar>

</ion-modal-view>

