<div class="tap-radio" id="question-{{question.id}}">
    <form name="form" novalidate>
        <div class="labetTitle text-center">
            {{::question.label}}
        </div>

        <div class="answer" ng-repeat="answer in question.answers">

            <label ng-class="{'disabled': viewOnly, 'active': answer.id === tmp.value }">
                <input type="radio"
                       required
                       value="{{answer.id}}"
                       ng-model="tmp.value"
                       ng-change="updateModel()"
                       ng-disabled="viewOnly">
                <span>{{answer.label}}</span>
            </label>

        </div>

        <div class="form-group item-stacked-label bottom-border" ng-if="showOther"
             ng-class="{ 'has-error' : (form.other.$invalid && !form.other.$pristine) || (form.$submitted && form.other.$invalid) }">
            <label>{{::translation.specifyOtherAnswer}}</label>
            <input type="text"
                   name="other"
                   ng-model="question.other"
                   ng-minlength="1"
                   ng-maxlength="128"
                   required
                   keyboard-watcher
                   ng-disabled="viewOnly"
                   ng-change="updateModel()">
        </div>
    </form>
</div>
