<div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border"
     ng-class="{ 'has-error' : (form.email.$invalid && !form.email.$pristine) || (form.$submitted && form.email.$invalid) }">
    <input type="email"
           name="email"
           ng-model="signupForm.email"
           ng-minlength="4"
           ng-maxlength="80"
           ng-pattern="validator('email')"
           keyboard-watcher
           required>
    <span class="input-label">{{::translation.emailRegistration}}</span>
    <i class="icon ion-ios-close-empty"></i>
    <i class="icon ion-ios-checkmark-empty"></i>
</div>
<div class="messages font-12" ng-messages="form.email.$error" ng-if="form.email.$dirty || form.$submitted">
    <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
    <div class="help-block" ng-message="minlength">{{::translation.messages.too_short}}</div>
    <div class="help-block" ng-message="maxlength">{{::translation.messages.too_long}}</div>
    <div class="help-block" ng-message="email">{{::translation.messages.invalid_email}}</div>
    <div class="help-block" ng-message="pattern">{{::translation.messages.invalid_email}}</div>
</div>

<div class="row p-0">
    <div class="col pl-0 pb-0 pt-0 pr-5">
        <div class="form-group item-input item-stacked-label bottom-border mb-15 pl-0 pb-0"
             ng-class="{ 'has-error' : (form.password.$invalid && !form.password.$pristine) || (form.$submitted && form.password.$invalid) }">
            <input type="{{password.checked?'text':'password'}}" name="password"
                   ng-model="signupForm.password"
                   ng-minlength="6"
                   ng-maxlength="12"
                   ng-pattern="validator('password')"
                   required
                   keyboard-watcher
                   passwordmix>
            <span class="input-label">{{::translation.password}}</span>
            <i class="icon ion-ios-close-empty"></i>
            <i class="icon ion-ios-checkmark-empty"></i>
        </div>
        <div class="messages font-12" ng-messages="form.password.$error" ng-if="form.password.$dirty || form.$submitted">
            <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
            <div class="help-block" ng-message="minlength">{{::translation.messages.too_short}}</div>
            <div class="help-block" ng-message="maxlength">{{::translation.messages.too_long}}</div>
            <div class="help-block" ng-message="pattern">{{::translation.messages.numbers_chars}}</div>
        </div>
    </div>
    <div class="col pr-0 pb-0 pt-0 pl-5">
        <div class="form-group item-input item-stacked-label bottom-border mb-15 pl-0 pb-0"
             ng-class="{ 'has-error' : (form.confirmPassword.$invalid && !form.confirmPassword.$pristine) || (form.$submitted && form.confirmPassword.$invalid) }">
            <input type="{{password.checked?'text':'password'}}" name="confirmPassword"
                   ng-model="signupForm.confirmPassword"
                   required
                   keyboard-watcher
                   compare-to="signupForm.password">
            <span class="input-label">{{::translation.confirmPassword}}</span>
            <i class="icon ion-ios-close-empty"></i>
            <i class="icon ion-ios-checkmark-empty"></i>
        </div>
        <div class="messages font-12" ng-messages="form.confirmPassword.$error"
             ng-if="form.confirmPassword.$dirty || form.$submitted">
            <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
            <div class="help-block" ng-message="compareTo">{{::translation.messages.password_not_matched}}</div>
        </div>
    </div>
</div>

<div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border" id="country"
     ng-class="{ 'has-error' : (form.country.$invalid && !form.country.$pristine) || (form.$submitted && form.country.$invalid) }">
    <input type="text"
           class="custom-select custom-input"
           name="country"
           ng-model="countryName"
           on-tap="countriesModal('country', form)"
           readonly
           required>
    <span>{{::translation.country}}</span>
    <i class="icon ion-ios-close-empty"></i>
    <i class="icon ion-ios-checkmark-empty"></i>
</div>
<div class="messages font-12" ng-messages="form.country.$error" ng-if="form.country.$touched || form.$submitted">
    <div class="help-block" ng-message="required">{{::translation.messages.required}}</div>
</div>

<div ng-if="isPromo">
    <div class="form-group item-input item-stacked-label mb-15 mt-10 pl-0 pb-0 bottom-border" id="promocode"
         ng-class="{ 'has-error' : form.promocode.$invalid && !form.promocode.$pristine }">
        <input type="text"
               name="promocode"
               ng-model="signupForm.promocode"
               on-tap="promoCodes.length && countriesModal('promocode', form)"
               ng-minlength="2"
               ng-maxlength="32"
               keyboard-watcher
               ng-pattern="validator('alphanum')">
        <span>{{::translation.promo}}</span>
        <i class="icon ion-ios-close-empty"></i>
        <i class="icon ion-ios-checkmark-empty"></i>
    </div>
    <div class="messages font-12" ng-messages="form.promocode.$error" ng-if="form.promocode.$dirty">
        <div class="help-block" ng-message="minlength">{{::translation.messages.too_short}}</div>
        <div class="help-block" ng-message="maxlength">{{::translation.messages.too_long}}</div>
        <div class="help-block" ng-message="pattern">{{::translation.messages.mixWordsNumbers}}</div>
    </div>
</div>

<div class="p-0">
    <div class="form-group item-stacked-label mb-15 mt-10 pl-0 pb-0">
        <ion-checkbox class="mt-10 border-0 modern-checkbox font-12 sub-info"
                      ng-class="{'error-checkbox': (form.terms.$invalid && !form.terms.$pristine) || (form.$submitted && form.terms.$invalid) }"
                      name="terms"
                      ng-model="signupForm.terms"
                      ng-required="true">
            {{::translation.login_bottom_text}}
        </ion-checkbox>
    </div>
</div>

<div class="p-0" ng-if="constants.signupEnableCheckKYC">
    <div class="form-group item-stacked-label mb-15 mt-10 pl-0 pb-0 layout-row customer-policy">
        <ion-checkbox class="mt-10 border-0 modern-checkbox font-12 sub-info layout-column"
                      ng-class="{'error-checkbox': (form.kyc.$invalid && !form.kyc.$pristine) || (form.$submitted && form.kyc.$invalid) }"
                      name="kyc"
                      ng-model="signupForm.acceptKyc"
                      ng-required="true">
            {{::translation.readAndAgree}}
        </ion-checkbox>
        <span class="layout-column font-12 mt-10 pl-0 item border-0">
            <a href="{{constants.externalLinks.kycPolicy}}" target="_blank">{{::translation.kyc}}</a>
        </span>
    </div>
</div>

<div class="p-0" ng-if="isAcceptPromotions">
    <div class="form-group item-stacked-label mb-15 mt-10 pl-0 pb-0">
        <ion-checkbox class="mt-10 border-0 modern-checkbox font-12 sub-info"
                      name="acceptPromotions"
                      ng-model="signupForm.acceptPromotions">
            {{::translation.acceptPromotions}}
        </ion-checkbox>
    </div>
</div>