<div class="mobile-img">
    <div class="contianer" style="background: url('/images/Contact us Mobile-04.png');height:700px;background-size: cover;padding-left: 6%;">
        <h1 class="text-uppercase text-white" style="padding-top: 142%;font-size: 28px;">
            customer service <br>
            contact us
        </h1>
        <h6 class="text-uppercase" style="color:var(--primary-color3);font-size: 15px;">
            we are at your service<br>
            let us know how we can help
        </h6>
    </div>
    <div class="container" style="padding: 21px 10px;">
        <div class="text-uppercase alert-success text-center mb-5"><%= message %></div>
        <div class="row">
            <h3 class="text-uppercase" style="font-size: 11px;padding-bottom: 3%;padding-left: 4%;">submit a request below,and one of our support <br> professionals will happily get back to you </h3>
        </div>
        <form action="/send" method="POST">
            <div class="row">
                <div class="col-md-6 filedin"><h6>YOUR FULL NAME AS REGISTERED WITH US</h6>
                    <input type="text" required="" placeholder="Full Name" name="fullName">
                </div>
                <div class="col-md-6 filedin">
                    <h6>EMAIL USED TO REGISTER WITH US</h6>
                    <input type="email" required="" placeholder="youremail@mail.com" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 filedin"><h6>PHONE NUMBER</h6>
                    <input type="text" required="" placeholder="0123456789" name="phonenumber">
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 filedin"><h6>WHAT IS YOUR QUESTION ABOUT? CHOOSE ONE</h6>
                        <label for="questionId11" class="radio">
                            <input type="radio" name="question" id="questionId11" value="accountle" class="radio__input">
                            <div class="radio__radio"></div>
                            Accountle
                        </label>
                        <label for="questionId22" class="radio">
                            <input type="radio" name="question" id="questionId22" value="bill&amp;subscription" class="radio__input">
                            <div class="radio__radio"></div>
                            Billing &amp; subscription
                        </label>
                        <label for="questionId33" class="radio">
                            <input type="radio" name="question" id="questionId33" value="feedback" class="radio__input">
                            <div class="radio__radio"></div>
                            Feedback
                        </label>
                        <label for="questionId44" class="radio">
                            <input type="radio" name="question" id="questionId44" value="website problems" class="radio__input">
                            <div class="radio__radio"></div>
                            Website problems
                        </label>
                        <label for="questionId55" class="radio">
                            <input type="radio" name="question" id="questionId55" value="post" class="radio__input">
                            <div class="radio__radio"></div>
                            Post
                        </label>
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 filedin"><h6>SUBJECT</h6>
                    <input type="text" required="" placeholder="Subject" name="subject">
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="container filedin">
                <h6>MESSAGE</h6>
                <textarea required name="message">Please write as much as possible including the device that you are using,browser,dates,time,...etc
                </textarea>
                </div>
    
    
            </div>
            <div class="row">
                <button class="btn btn-filled" type="submit" value="Submit">SUBMIT</button>
            </div>
        </form>
    </div>
    <div class="container" style="background-image: url('/images/Contact Us En-03.png');height:200px;background-size: cover;color:var(--primary-color3);align-items: center;display: flex;flex-direction: column;padding-top: 7%;">
        <div class="col-md-6">
            <h5 style="
        font-size: 12px;
    "><strong>EVEST MAIN OFFICE</strong></h5>
            <h5 style="
        font-size: 12px;
    ">
                ATRIAFINANCIAL LTD,<br>
                S.I.P BUILDING, P.O BOX 3010,<br>
                RUE PASTEUR, PORT VILA VANUATU
            </h5>
        </div>
        <div class="col-md-6">
            <h5 style="
        font-size: 12px;
    ">
                <strong>UAE FREE CALL:</strong><br>
                +971-800-0311-1248
            </h5>
            <h5 style="
        font-size: 12px;
    ">
                <strong>SAUDI ARABIA FREE CALL:</strong><br>
                +966-800-850-1019
            </h5>
        </div>
        </div>
</div>

<div class="desktop-img">
    <div class="row" style="background: url('/images/webp/Contact Us En BG-02.webp');background-size: cover;height: 500px;">
    <div class="container" style="display: flex;align-items: center;">
        <div class="col-md-6">
            <h1 class="text-uppercase" style="color:var(--primary-color3);">
                customer service <br>
                contact us
            </h1>
            <h6 class="text-white" style="font-family: 'Evest Font';">
                We are at your service!
                let us know how we<br> can help
            </h6>
        </div>
        <div class="col-md-6">
            <img src="/images/webp/contact us icon.webp" alt="Icon">
        </div>
    </div>
</div>
    <div class="container" style="padding: 30px 45px;">
        <div class="text-uppercase alert-success text-center mb-5"><%= message %></div>
        <div class="row">
            <h3 style="padding-bottom: 3%;">Submit a request below,and one of our support professionals will<br>happily get back to you </h3>
        </div>
        <form action="/send" method="POST">
            <div class="row">
                <div class="col-md-6 filedin"><h6>YOUR FULL NAME <span style="font-size: 9px;font-family: 'Evest Font';">(AS REGISTERED ON EVEST)</span></h6>
                    <input type="text" required placeholder="Full Name" name="fullName">
                </div>
                <div class="col-md-6 filedin">
                    <h6>EMAIL ADDRESS <span style="font-size: 9px;font-family: 'Evest Font';">(AS REGISTERED ON EVEST)</span></h6>
                    <input type="email" required placeholder="youremail@mail.com" name="email">
                </div>
            </div>
            <div class="row" style="display: flex;align-items: baseline;">
                <div class="col-md-6 filedin"><h6>PHONE NUMBER</h6>
                    <input type="text" required placeholder="0123456789" name="phonenumber">
                </div>
                <div class="col-md-6 filedin">
                    <h6>WHAT IS YOUR QUESTION ABOUT?</h6>
                    <select name="question" id="question">
                        <option disabled value=""  selected hidden>Select topic</option>
                        <option value="Accountle">Accountle</option>
                        <option value="Billing & subscription">Billing & subscription</option>
                        <option value="Feedback">Feedback</option>
                        <option value="Website problems">Website problems</option>
                        <option value="Post">Post</option>
                    </select>
                </div>
            </div>
           <!--  <div class="row">
                <div class="col-md-6 filedin"><h6>WHAT IS YOUR QUESTION ABOUT? CHOOSE ONE</h6>
                        <label for="questionId1" class="radio">
                            <input type="radio" name="question" id="questionId1" value="accountle" class="radio__input">
                            <div class="radio__radio"></div>
                            Accountle
                        </label>
                        <label for="questionId2" class="radio">
                            <input type="radio" name="question" id="questionId2" value="bill&subscription" class="radio__input">
                            <div class="radio__radio"></div>
                            Billing & subscription
                        </label>
                        <label for="questionId3" class="radio">
                            <input type="radio" name="question" id="questionId3" value="feedback" class="radio__input">
                            <div class="radio__radio"></div>
                            Feedback
                        </label>
                        <label for="questionId4" class="radio">
                            <input type="radio" name="question" id="questionId4" value="website problems" class="radio__input">
                            <div class="radio__radio"></div>
                            Website problems
                        </label>
                        <label for="questionId5" class="radio">
                            <input type="radio" name="question" id="questionId5" value="post" class="radio__input">
                            <div class="radio__radio"></div>
                            Post
                        </label>
                </div> 

                <div class="col-md-6 filedin">
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-6 filedin"><h6>SUBJECT</h6>
                    <input type="text" required placeholder="Subject" name="subject">
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="container filedin">
                <h6>MESSAGE</h6>
                <textarea required name="message">Please write as much as possible including the device that you are using,browser,dates,time,...etc
                </textarea>
                </div>
    
    
            </div>
            <div class="row">
                <button class="btn btn-filled" type="submit" value="Submit">SUBMIT</button>
            </div>
        </form>
        
    </div>

    <div class="container" style="background-image: url('/images/Contact Us En-03.png');height:200px;background-size: cover;color:var(--primary-color3);display: none;align-items: center;">
    <div class="col-md-6">
        <h5><strong>EVEST MAIN OFFICE</strong></h5>
        <h5>
            ATRIAFINANCIAL LTD,<br>
            S.I.P BUILDING, P.O BOX 3010,<br>
            RUE PASTEUR, PORT VILA VANUATU
        </h5>
    </div>
    <div class="col-md-6">
        <h5 >
            <strong >UAE FREE CALL:</strong><br>
            +971-800-0311-1248
        </h5>
        <h5>
            <strong>SAUDI ARABIA FREE CALL:</strong><br>
            +966-800-850-1019
        </h5>
    </div>
    </div>
</div>

<style>
    @import "/css/contact.min.css";
</style>