<div class="mobile-img">
    <div class="container" style="background: url('/images/Regulatory Authorisation mobile-01.jpg');height: 710px;background-size: cover;color:white;display: flex;flex-direction: column;justify-content: flex-end;align-items: center;padding-bottom: 20%;text-align: center;">
        <%- page.fields.header.heading %></div>
        <div class="container">
            <%- page.fields.sections.section1 %> 
        </div>
</div>
<div class="desktop-img">

    <div class="row" style="background: url('/images/Regulatory Authorisation BG-01.jpg');background-size: cover;height:450px;">
        <div class="container" style="color:white;display: flex;align-items: center;">
            <div class="col-md-6">
                <img src="/images/webp/STAMP.webp" alt="ICON" width="100%">
            </div>
            <div class="col-md-6" style="display: flex;flex-direction: column; align-items: center;">
                <%-page.fields.header.heading  %> 
            </div>
        </div></div>

        <div class="container">
            <%- page.fields.sections.section1 %> 
        </div>
    </div>
