<div>
  <div class="row desktop-img" style="background: url('/images/webp/Trading hoursB.webp');background-size: cover; height: 500px;">
    <div class="container" style="display:flex;align-items: center;">
      <div class="col-md-6">
        <h1 class="text-uppercase sec1Header">MetaTrader 5</h1>
          <p class="sec1P">Plataforma de trading con mucha fuerza. El MT5 es la plataforma<br>
            de trading más avanzada y poderosa disponible en la actualidad.<br>
            MetaTrader 5 es una plataforma de trading técnica multifuncional<br>
            que admite hacer trading avanzado en una gama más amplia<br>
            de clases de activos que su predecesor, MetaTrader 4.</p>
        <div class="container">
          <button class="btn btnprimary" onclick="runPlugin('forexSignup');">Únase ahora</button>
          <button class="btn btnprimary ml-5"><a href="https://download.mql5.com/cdn/web/18665/mt5/atriafinancial5setup.exe">Descargue MT5</a></button>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/images/webp/metatrader5 1.webp" alt="metaMHeader" width="100%">
      </div>
    </div>
  </div>


  
  <div class="container mobile-img" style="background-image: url('/images/metaMHeader.png');height:700px;background-size: cover;flex-direction: column;">
    <h1 class="text-uppercase sec1Header" style="
        font-size: 23px;
        padding-top: 126%;
        padding-left: 11%;
        ">MetaTrader 5</h1>
        <p class="sec1P" style="font-size: 11px;padding-left: 11%;">
          Plataforma de trading con mucha fuerza.<br>
          El MT5 es la plataforma de trading<br>
          más avanzada y poderosa disponible<br>
          en la actualidad.MetaTrader 5<br>
          es una plataforma de trading técnica<br> 
          multifuncional que admite hacer trading<br>
          avanzado en una gama más amplia de clases<br>
          de activos que su predecesor, MetaTrader 4.</p>
          <div class="col" style="
          display: flex;
          justify-content: space-evenly;
          margin-left: -10%;
          margin-top: 8%;
      ">
            <button class="btn btnprimary" onclick="runPlugin('forexSignup');">Únase ahora</button>
            <button class="btn btnprimary" style="
      margin-left: -12%;
  "><a href="http://onelink.to/9bwgqd">Descargue MT5</a></button>
          </div>
    </div>
  <div class="container py-5" style="display:flex;">
    <div class="col-md-6">
      <div class="row flex-column">
        <h3 class="text-center">METATRADER ESTÁ <br> DISPONIBLE EN</h3></div>
      <div class="row r2">
        <div class="col-md-4 rounded-circle" ><h6 class="text-center">WEB</h6></div>
        <div class="col-md-4 rounded-circle"><h6 class="text-center">ANDROID</h6></div>
      </div>
      <div class="row r2 mt-4">
        <div class="col-md-4 rounded-circle" ><h6 class="text-center">WINDOWS</h6></div>
        <div class="col-md-4 rounded-circle" ><h6 class="text-center">IOS</h6></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row flex-column">
        <h3 class="text-center">METATRADER 5<br> SOPORTE</h3></div>
      <div class="row r2">
        <div class="col-md-4 rounded-circle text-uppercase text-center" ><h6 class="text-center">Asesores  <br> Expertos  <br> (EAs)</h6></div>
        <div class="col-md-4 rounded-circle text-uppercase text-center"><h6 class="text-center">Indicadores  personalizados</h6></div>
      </div>
      <div class="row r2 mt-4">
        <div class="col-md-4 rounded-circle text-uppercase" ><h6 class="text-center">Scripts</h6></div>
        <div class="col-md-4 rounded-circle text-uppercase text-center"><h6 class="text-center">Bibliotecas <br> y mucho más...</h6></div>
      </div>
    </div>


  </div>

  <div class="row desktop-img" style="background:url('/images/BG-01.jpg');background-size: cover;height: 500px;">
    <div class="container py-5 justify-center flex-column " style="color:var(--primary-color3)">
      <h2 class="text-uppercase text-center">Las principales características de la <br>plataforma de trading evest metatrader 5</h2>
      <div class="container" style="display: flex;">
        <div class="col-md-6 table-colored">
          <div class="row odd">1.&nbsp;&nbsp;&nbsp;Trading con un clic</div>
          <div class="row">2.&nbsp;&nbsp;&nbsp;Transferencia de fondos entre cuentas</div>
          <div class="row odd">3.&nbsp;&nbsp;&nbsp;3 gráficos (línea, barra y velas) <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;con trading directo desde los gráficos</div>
          <div class="row ">4.&nbsp;&nbsp;&nbsp;Trading de activos múltiples (CFD de divisas,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;acciones, índices, materias primas y ETF)</div>
          <div class="row odd">5.&nbsp;&nbsp;&nbsp;6 tipos de órdenes pendientes</div>
          <div class="row ">6.&nbsp;&nbsp;&nbsp;Micro lotes disponibles</div>
          <div class="row odd">7.&nbsp;&nbsp;&nbsp;Guías de ayuda integradas de MT5 y MQL5</div>
          <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
        </div>
        <div class="col-md-6 table-colored">
          <div class="row odd">8.&nbsp;&nbsp;&nbsp;Prueba de estrategia multidireccional</div>
          <div class="row">9.&nbsp;&nbsp;&nbsp;Información del historial de trading</div>
          <div class="row odd">10.&nbsp;&nbsp;&nbsp;Sistema de correo interior</div>
          <div class="row">11.&nbsp;&nbsp;&nbsp;Transmisión de noticias</div>
          <div class="row odd">12.&nbsp;&nbsp;&nbsp;38 indicadores integrados</div>
          <div class="row">13.&nbsp;&nbsp;&nbsp;37 objetos gráficos</div>
          <div class="row odd">14.&nbsp;&nbsp;&nbsp;12 Plazos de trading</div>
          <div class="row">15.&nbsp;&nbsp;&nbsp;eguridad y copia de seguridad completas <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;de los datos </div>
          <div class="row odd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
        </div>
      </div>
   </div>
  </div>

  <div class="container mobile-img" style="background:url('/images/BG-01.jpg');height: 550px;background-size: cover;padding-left: 10%;padding-top: 15%;flex-direction: column;">
    <h2 class="text-uppercase text-left" style="font-size:20px;color:var(--primary-color3);">The main features of<br> evest metatrader 5 <br> trading platform</h2>
    <div class="row">1.&nbsp;&nbsp;&nbsp;Trading con un clic</div>
    <div class="row">2.&nbsp;&nbsp;&nbsp;Transferencia de fondos entre cuentas</div>
    <div class="row ">3.&nbsp;&nbsp;&nbsp;3 gráficos (línea, barra y velas) <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;con trading directo desde los gráficos</div>
    <div class="row ">4.&nbsp;&nbsp;&nbsp;Trading de activos múltiples (CFD de divisas, acciones, <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;índices, materias primas y ETF)</div>
    <div class="row ">5.&nbsp;&nbsp;&nbsp;6 tipos de órdenes pendientes</div>
    <div class="row ">6.&nbsp;&nbsp;&nbsp;Micro lotes disponibles</div>
    <div class="row ">7.&nbsp;&nbsp;&nbsp;Guías de ayuda integradas de MT5 y MQL5</div>
    <div class="row ">8.&nbsp;&nbsp;&nbsp;Prueba de estrategia multidireccional</div>
    <div class="row">9.&nbsp;&nbsp;&nbsp;Información del historial de trading</div>
    <div class="row ">10.&nbsp;&nbsp;&nbsp;Sistema de correo interior</div>
    <div class="row">11.&nbsp;&nbsp;&nbsp;Transmisión de noticias</div>
    <div class="row ">12.&nbsp;&nbsp;&nbsp;38 indicadores integrados</div>
    <div class="row">13.&nbsp;&nbsp;&nbsp;37 objetos gráficos</div>
    <div class="row ">14.&nbsp;&nbsp;&nbsp;12 Plazos de trading</div>
    <div class="row">15.&nbsp;&nbsp;&nbsp;eguridad y copia de seguridad completas de los datos</div>
  </div>
  <div class="container py-4 justify-center flex-column">
      <h3 class="text-uppercase text-center font-weight-bold">Metatrader 5 Plataforma<br> de accesibilidad</h3>
    <div class="container mt-4" style="display: flex;justify-content:space-evenly;">
      <div class="col-md-3 square">
        <h5>METATRADER 5 <br> PARA PC</h6>
        <p>1.&nbsp;&nbsp;&nbsp;Haga clic aquí para descargar<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Evest MetaTrader 5 <br>
          2.&nbsp;&nbsp;&nbsp;Ejecute el archivo <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Evest3setup.exe<br>
          3.&nbsp;&nbsp;&nbsp;Entra su información <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;de inicio de sesión,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;la cuenta demo también
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; funciona<br>
          4.&nbsp;&nbsp;&nbsp;¡Listo!, comience trading<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; con  MT5
          </p>
      </div>
      <div class="col-md-3 square">
        <h5>REQUISITOS MÍNIMOS DEL SISTEMA</h6>
          <p>1.&nbsp;&nbsp;&nbsp;Window 7 o superior <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Windows 10 64-bit <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; es recomendado) <br>
            2.&nbsp;&nbsp;&nbsp;Pentium 4/Athlon 64 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesadores o superior <br>
            </p>
      </div>
      <div class="col-md-3 square">
        <h5>TRADING DESDE <br> SU NAVEGADOR</h6>
          <p>
            Evest MetaTrader 5 Webtrader<br>
            le permite hacer trading<br>
            directamente desde su navegador,<br>
            todo lo que necesita <br>
            es un navegador y una conexión<br>
            al Internet para hacer trading
            <br><br>
            <span style="font-weight: 500;">¿Cómo se usa?</span>
            <br> menú de la navegación -> Plataforma de trading,<br>
             y verá el web-trader
             en el<br> siguiente menú ,
             o simplemente<br> haga clic aquí
            y le llevará allí.
            </p>
      </div>
      <div class="col-md-3 square">         
        <h5>METATRADER 5 <br> WEBTRADER <br> CARACTERÍSTICAS</h6>
        <p>1.&nbsp;&nbsp;&nbsp;Compatibilidad con<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Windows,macOS y Linux<br>
          2.&nbsp;&nbsp;&nbsp;Cotizaciones en tiempo real en <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MarketWatch <br>
          3.&nbsp;&nbsp;&nbsp;Protección de datos confiable<br>
          </p></div>
    </div>
  </div>
  <div class="row desktop-img" style="background: url('/images/webp/MTS-SPA-Artboard 29.webp');background-size: cover; height: 500px;">
    <div class="container py-5" style="display: flex;align-items: center;">
        <div class="col-md-6"> 
          <img src="/images/webp/metatrader5 3.webp" alt="meta" width="100%">
        </div>
        <div class="col-md-6">
          <div class="row">
            <h3 class="text-uppercase text-white pt-5">Hacer trading con confianza <br>usando evest metatrader 5 </h3>
            <div class="container" style="display: flex;justify-content: space-evenly;padding-top: 11%;">
              <img src="/images/webp/MTS-SPA-es-1.webp" style="width:30%;height:80%" alt="">
              <img src="/images/webp/MTS-SPA-es-2.webp" style="width:30%;height:80%" alt="">
              <img src="/images/webp/MTS-SPA-es-3.webp" style="width:30%;height:80%" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mobile-img" style="background-image: url('/images/metaM2.png');height: 855px;background-size: cover;display: flex;flex-direction: column;align-items: center;justify-content: flex-end;">
    <h3 class="text-uppercase text-white pt-5" style="
    /* text-align: center; */
    font-size: 20px;
    ">Hacer trading con confianza <br>usando evest metatrader 5</h3>
      <img src="/images/evest website inner pages-_MT5 1.png" width="50%" alt="">
      <img src="/images/evest website inner pages-_MT5 1 copy.png" width="50%" alt="">
      <img src="/images/evest website inner pages-_MT5 1 copy 2.png" width="50%" alt="">
</div>
<div class="container py-5" style="height: 500px;display: flex;">
  <div class="col-lg-6 pt-5">
    <h1 class="text-uppercase font-weight-bold">¡ÚNASE A NOSOTROS HOY!<br>
      Comience  trading <br class="desktop-img">con MT5
      </h1>
      <p>¡Únase ahora y disfrute de todos los <br>beneficios de trading con un bróker licenciado!</p>
  </div>
  <div class="col-lg-6 pt-5" style="display: flex;flex-direction: column;align-items: center;margin-top: 7%;">
    <button onclick="runPlugin('forexSignup');" class="btn btn-filled text-uppercase btncol mb-4" >Register now</button>
    <a class="btn btn-filled text-uppercase btncol" href="http://onelink.to/9bwgqd">Download MT5</a>
  </div>
</div>
  <style>@import '/css/metaTrader.min.css';

  @media(max-width:767px)
  {
    body > main > div.container.py-5 > div:nth-child(1) > h1{
      font-size: 25px;
    }
    body > main > div:nth-child(1) > div.container.py-4.justify-center.flex-column > div > div:nth-child(3){
      height: 350px;
    }
    .r2 .rounded-circle {
    width: 48%;
}
  }
  </style>
</div>