<style>@import url('/css/mobileTrading.min.css');</style>
<div class="container mobile-img" style="background-image: url('/images/mobiletradingM.png');height:700px; background-size: cover;">
    <h1 class="text-uppercase" style="color: white;font-size: 20px;padding-top: 128%;padding-left: 11%;">Trading con evest <br> en el móvil</h1>
    <h6 class="text-uppercase" style="color: white;font-size: 12px;padding-left: 11%;">Without installing an app, you can <br>
        Sin instalar una aplicación, <br>
        puede hacer trading desde su navegador móvil.
        Con móvil web-trader,desde cualquier dispositivo móvil <br>
        que esté conectado a Internet,y desde cualquier parte del mundo.</h6>
         <button onclick="runPlugin('forexSignup');" class="btn btnprimary" style="margin-left: 11%;" >Regístrese ahora</button>
</div>

<div class="row" style="background: url('/images/webp/bluBack.webp');background-size: cover;">
    <div class="container r1 desktop-img" style="height: 500px;display: flex;align-items: center;">
        <div class="col-lg-6">
            <img src="/images/webp/phone.webp" alt="phone" width="100%">
        </div>
        <div class="col-lg-6">
            <h1 class="text-uppercase">Trading con evest <br> en el móvil</h1>
            <h6> Sin instalar una aplicación, <br>
                puede hacer trading desde su navegador móvil.<br>
                Con móvil web-trader,desde cualquier dispositivo móvil <br>
                que esté conectado a Internet,y desde cualquier parte del mundo.</h6>
                 <button onclick="runPlugin('forexSignup');" class="btn btnprimary">Regístrese ahora</button>
        </div>
    </div>
</div>

<div class="container py-5">
            <div class="row justify-content-center pb-3">
                <h3 class="text-uppercase font-weight-bold">Descubra evest móvil web-trader</h3>
            </div>
            <div class="row r2" style="justify-content: space-evenly;">
                <div class="col-sm-3 rounded-circle"><p style="padding-top: 42%;">¡La forma ideal de trading en <br> línea sin instalar nada!</p></div>
                <div class="col-sm-3 rounded-circle"><p style="padding-top: 24%;">Una experiencia de trading <br>sencilla,con todas las funciones importantes accesibles directamente <br> desde un navegador web móvil.</p></div>
                <div class="col-sm-3 rounded-circle"><p style="padding-top: 35%;">¡No requiere instalación<br> y está disponible en cualquier <br> navegador de móvil inteligente!</p></div>
            </div>
            <div class="row justify-content-center pt-5"> <button onclick="runPlugin('forexSignup');" class="btn btn-filled btncol text-uppercase" style="color:var(--primary-color3);" >Comience ahora</button></div>
</div>

<div class="row" style="background:url('/images/BG-01.jpg');background-size: cover;height: 500px;">
    <div class="container py-5" >
        <div class="row text-center justify-content-center">
            <h3 class="text-uppercase" style="color: var(--primary-color3);font-weight: bold;">Utilice evest móvil web-trader <br> para invertir con confianza</h3>
        </div>
        <div class="row justify-content-center">
            <img src="/images/webp/Mobile-Trading-es (4).webp"  style="width: 30%;" alt="">
            <img src="/images/webp/Mobile-Trading-es (5).webp"  style="width: 30%;" alt="">
            <img src="/images/webp/Mobile-Trading-es (6).webp"   style="width: 38%;"alt="">
        </div>
    </div>
</div>

<div class="container">
        <div class="container py-5">
            <div class="row justify-center">        
                <div class="col">
                <h3 class="text-uppercase" style="color: var(--secondary-color1);font-weight: bold;">
                Es hora de invertir por si mismo <br><br></h3>
            <p>
                ¡Ponga su dinero a trabajar y deje que los números <br>
                hablen por si mismos! Millones de personas en <br>
                diversas etapas de su vida financiera invierten a escala mundial.

                <br><br>
                Evest ofrece un servicio para los inversores, <br>
                independientemente de sus objetivos financieros. <br>
                Comience trading activos como divisas, petróleo crudo, <br>
                 acciones, oro y muchos otros.
                </p>
        </div>
            <div class="col">
                <h3 class="text-uppercase" style="color: var(--secondary-color1);font-weight: bold;">NO TENGO EXPERIENCIA</h3>
                <h5 class="text-uppercase" style="font-weight: bold;">¿Puedo entrar en este mercado?<br><br></h5>
                <p>¡Creemos que cualquier persona puede entrar en este
                    mercado y tener la oportunidad de trading legalmente! y ganar dinero <br><br>
                    En evest, aconsejamos a los nuevos inversores que comiencen<br>
                    por aprovechar nuestros recursos de enseñanza y utilizar <br>
                    nuestra cuenta de trading de demostración (Cuenta Demo),<br>
                    que no requiere ningún compromiso financiero.
                </p>
            </div>
        </div>
            <div class="row justify-content-center">
                <div class="row justify-content-center pt-5">
                    <button class="btn btn-filled btncol text-uppercase desktop-img" style="color:var(--primary-color3);" onclick="runPlugin('forexSignup');">Regístrese ahora</button>
                    <button class="btn btn-filled btncol text-uppercase mobile-img" style="color:var(--primary-color3);margin-top: 20%;" onclick="window.location.replace('/mobile/#/signup');">Regístrese ahora</button>
                </div>
            </div>
    
          
        </div>
</div>