<div class="mobile-img">
    <div class="container" style="background: url('/images/TRADING APP Mobile_header.png');height:800px;background-size: cover;color: white;padding-top: 125%;">
        <h4 class="text-uppercase font-weight-bolder pt-5">La aplicación <br>de trading de evest</h4>
        <ul class="list-unstyled">
            <li><i class="fas fa-circle"></i>&nbsp;&nbsp;  Experiencia perfecta</li>
            <li><i class="fas fa-circle"></i>&nbsp;&nbsp;  500+ de instrumentos financieros</li>
            <li><i class="fas fa-circle"></i>&nbsp;&nbsp;  30+ de instrumentos de trading</li>
            <li><i class="fas fa-circle"></i>&nbsp;&nbsp;  09 marcos de teimpo para el trading</li>
        </ul>
        <div class="container">
            <button class="btn btn-fill" onclick="window.location.replace('/mobile/#/signup')" style="font-size: 10px !important;line-height: 8px;">Únase ahora</button>
            <button class="btn btn-outer" style="font-size: 9px;color: white !important;"><a href="https://evest.onelink.me/o6qP/63b4f023" style="color: white;">Descargue la aplicación</a></button>
        </div>
        <img src="/images/TRADING APP-icons.png" alt="iconsDownload" style="width: 75%;margin-left: -2%;">
    </div>
    <div class="container text-center my-3">
        <h5 class="text-uppercase" style="font-weight: bold;padding-top: 5%;padding-bottom: 2%;">¿Por qué la aplicación de trading evest?</h5>
        <p style="font-size: 11px;padding-bottom: 5%;font-family: 'Evest Light';">
            Una plataforma en crecimiento que los inversores de todo<br>
            el mundo están descubriendo a diario. La experiencia fluida<br>
            de la aplicación de trading evest ha aumentado su popularidad.<br>
            Descargue la aplicación de trading ahora gratuita y comience <br>
            trading de una manera completamente nueva.
        </p>
    </div>
    <div class="container" style="background:url('/images/TRADING APP Mobile_BG.png');height: 469px;background-size: cover;color:var(--primary-color3);display: flex;align-items: flex-end;padding-left: 5%;padding-bottom: 4%;">
        <h5 class="text-uppercase mt-2">Las principales características <br>de la aplicación de trading evest</h5>
    </div>
    <div class="container" style="display: flex;flex-direction: column;">
        <div class="col-md-6">
            <img src="/images/webp/Trading-App-es-1.png" alt="icon1" width="100%">
            <p class="par" style="font-size: 11px;font-weight: bold;">
                La parte fácil en el mundo de los negocios es convertirse<br>
                en un líder en el campo, pero la parte realmente difícil <br>
                es mantenerse en la cima en medio de la dura competencia. <br>
                Por eso trabajamos las 24 horas del día para asegurarnos<br>
                de que los mejores instrumentos financieros negociados<br>
                 a su alcance estén listos para ser explotados. 
                <br><br>
                Ejecute su trading en divisas, índices,<br>
                materias primas y acciones en tiempo real<br>
                y con un retraso del 0%.
                </p>
        </div>
        <div class="col-md-6">
            <img src="/images/webp/Trading-App-es-2.png" alt="icon1" width="100%">
            <p class="par" style="font-size: 11px;font-weight: bold;">
                A diferencia de la mayoría, le brindamos<br>
                la oportunidad de TRADING con las empresas más<br>
                prósperas y exitosas del mundo. Trading las acciones<br>
                y al 0% de comisión, 0% de margen de ganancias,<br>
                0% de emisión de operación y 0% de retraso.
                <br><br>

                Con su teléfono inteligente, puede convertirse en un <br>
                verdadero inversor sin costo adicional y en cualquier momento
                
                </p>
        </div>
    </div>
    <div class="container secWhite" style="display: flex;flex-direction: column-reverse;justify-content: space-around;background:url('/images/TRADING APP Mobile_BG2.png');height: 530px;background-size: cover;color:var(--primary-color3);">
        <div class="col-md-6">
            <img src="/images/webp/Trading-App-es-4.png" alt="icon1" width="100%">
            <p class="par">
                Recibir todas las herramientas de trading que están<br>
                diseñadas y construidas para ayudarle a entrar con confianza<br>
                en el mundo de trading y la inversión. Con la aplicación<br>
                de trading evest, puede recibir notificaciones,<br>
                alertas y notificaciones comerciales directamente en su teléfono inteligente.
                </p>
        </div>
        <div class="col-md-6">
            <img src="/images/webp/Trading-App-es-3.png" alt="icon1" width="100%">
            <p class="par">
                Desarrolle su confianza en trading con la aplicación<br>
                de trading evest, que está completamente libre de riesgos <br>
                en la cuenta demo. Reciba $ 25,000 en su aplicación<br>
                de trading por el móvil de inmediato para ayudarle a<br>
                perfeccionar sus habilidades y practicar sus estrategias del trading.
                </p>
        </div>
    </div>
    <div class="container" style="display: flex;flex-direction: column;">
        <div class="col-md-6">
            <img src="/images/webp/Trading-App-es-5.png" alt="icon1" width="100%">
            <p class="par">
                Aunque diseñamos nuestras plataformas para<br> 
                que sean fáciles de usar, fáciles de navegar y brinden<br>
                un valor agregado a los usuarios, hemos ido mucho más<br>
                allá y nos hemos convertido en una fuerza atractiva<br> 
                en el mundo de trading. Pruébelo ahora descargando <br>
                la aplicación y compruébelo usted mismo
                </p>
        </div>
        <div class="col-md-6">
            <img src="/images/webp/Trading-App-es-6.png" alt="icon1" width="100%">
            <p class="par">
                Las oportunidades de trading surgen rápidamente y<br> 
                mantenerse al día con las actualizaciones del mercado y<br>
                los movimientos de precios es fundamental para el éxito.<br>
                Manténgase al día con los movimientos del mercado confiando <br>
                en nosotros para que le proporcionemos los datos comerciales <br>
                que necesita para tomar decisiones de trading sin demora y en tiempo real.
                </p>
        </div>
    </div>
    <div class="container secWhite" style="display: flex;flex-direction: column;background:url('/images/TRADING APP Mobile_BG2.png');height: 450px;background-size: cover;color:var(--primary-color3);justify-content: space-between;" s="">
        <div class="col-md-6">
            <img src="/images/webp/Trading-App-es-7.png" alt="icon1" width="100%">
            <p class="par">
                Muchos traders e inversores serios confían en nosotros<br>
                porque damos prioridad a la seguridad y la privacidad.<br>
                La tecnología más reciente protege su conexión e información<br>
                (cifrado rápido 256 SSL). Todo nuestro sistema está<br>
                meticulosamente protegido por sistemas antivirus. Las<br>
                compras y ventas de activos las llevan a cabo los proveedores<br>
                de servicios más altos con certificación PCI<br> 
                (actualmente Nivel 1, pero sujeto a actualización <br>
                según disponibilidad), y los servidores están alojados en<br>
                centros de datos certificados por SAS-70.
                </p>
        </div>
        <div class="col-md-6" style="display: flex;flex-direction: column;justify-content: center;align-items: center;padding-top: 8%;">
            <button class="btn btn-fill" onclick="window.location.replace('/mobile/#/signup')">Descargue la aplicación</button>
            <img src="/images/TRADING APP-icons.png" alt="iconsDownload" style="width: 75%;margin-left: -2%;">
        </div>
    </div>
</div>

<div class="desktop-img">
    <div class="row" style="background: url('/images/webp/MTS-SPA-Artboard 29.webp');background-size: cover;height: 500px;">
        <div class="container" style="display:flex;align-items:center;color:white">
            <div class="col-md-6">
                <img src="/images/webp/phone 2.webp" alt="appPhones" width="100%">
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase font-weight-bolder">La aplicación <br>de trading de evest</h2>
                <ul class="list-unstyled">
                    <li><i class="fas fa-circle"></i>&#160;&#160;  Experiencia perfecta</li>
                    <li><i class="fas fa-circle"></i>&#160;&#160;  500+ de instrumentos financieros</li>
                    <li><i class="fas fa-circle"></i>&#160;&#160;  30+ de instrumentos de trading</li>
                    <li><i class="fas fa-circle"></i>&#160;&#160;  09 marcos de teimpo para el trading</li>
                </ul>
                <div class="">
                    <button class="btn btn-fill" onclick="runPlugin('forexSignup');">Únase ahora</button>
                    <button class="btn btn-outer"><a href="https://evest.onelink.me/o6qP/63b4f023">Descargue la aplicación</a></button>
                </div>
                <img src="/images/TRADING APP-icons.png" alt="iconsDownload" style="width: 75%;margin-left: -2%;">
            </div>
            </div>
    </div>
    <div class="container text-left" style="display: flex;height: 300px;align-items: center;justify-content: space-around;">
        <h3 class="text-uppercase" >¿Por qué la aplicación <br> de trading evest?</h3>
        <p>
            Una plataforma en crecimiento que los inversores<br> 
            de todo el mundo están descubriendo a diario.<br>
            La experiencia fluida de la aplicación de <br>
            trading evest ha aumentado su popularidad.<br>
            Descargue la aplicación de trading ahora gratuita<br>
            y comience trading de una manera completamente nueva.
        </p>
    </div>
    <div class="row" style="background:url('/images/webp/0 commission-07.webp');background-size: cover;height: 100%;">
        <div class="container" style="display: flex;align-items: center;color:white;">
            <div class="col-md-6"><h1 class="text-uppercase" style="font-size: 50px;">Las principales características<br> de la aplicación<br> de trading evest</h1></div>
            <div class="col-md-6"><img src="/images/webp/mobile.webp" alt="mobile" width="100%"></div>

        </div>
        <div class="container" style="display: flex;">
            <div class="col-md-6">
                <img src="/images/webp/TRADING APP ENG ICONS-01.webp" alt="icon1" width="100%">
                <p class="par">
                    La parte fácil en el mundo de los negocios es convertirse en un<br>
                    líder en el campo, pero la parte realmente difícil es mantenerse<br>
                    en la cima en medio de la dura competencia. Por eso trabajamos<br>
                    las 24 horas del día para asegurarnos de que los mejores instrumentos<br>
                    financieros negociados a su alcance estén listos para ser explotados<br><br>

                    Ejecute su trading en divisas, índices, materias primas y<br> acciones en tiempo real y con un retraso del 0%.
                    </p>
            </div>
            <div class="col-md-6">
                <img src="/images/webp/TRADING APP ENG ICONS-02.webp" alt="icon1" width="100%">
                <p class="par">
                    A diferencia de la mayoría, le brindamos la oportunidad <br>
                    de TRADING con las empresas más prósperas y exitosas del mundo.<br>
                    Trading las acciones y al 0% de comisión, 0% de margen de ganancias,<br>
                    0% de emisión de operación y 0% de retraso.
                    <br><br>
                    Con su teléfono inteligente, puede convertirse en un<br>
                    verdadero inversor sin costo adicional y en cualquier momento.
                    </p>
            </div>
        </div>
        <div class="container" style="display: flex;">
            <div class="col-md-6">
                <img src="/images/webp/TRADING APP ENG ICONS-03.webp" alt="icon1" width="100%">
                <p class="par">Desarrolle su confianza en trading con la aplicación de trading evest,
                     que está completamente libre de riesgos en la cuenta demo.<br>Reciba $ 25,000
                      en su aplicación de trading por el móvil de inmediato para ayudarle a perfeccionar sus habilidades y practicar sus estrategias del trading.
                    </p>
            </div>
            <div class="col-md-6">
                <img src="/images/webp/TRADING APP ENG ICONS-04.webp" alt="icon1" width="100%">
                <p class="par">
                    Recibir todas las herramientas de trading que están diseñadas y construidas para ayudarle a entrar con confianza en el mundo de trading y la inversión.
                    Con la aplicación de trading evest, puede recibir notificaciones, alertas y notificaciones comerciales directamente en su teléfono inteligente.
                    </p>
            </div>
        </div>
        <div class="container" style="display: flex;">
            <div class="col-md-6">
                <img src="/images/webp/TRADING APP ENG ICONS-05.webp" alt="icon1" width="100%">
                <p class="par">
                    Aunque diseñamos nuestras plataformas para que sean fáciles de usar, fáciles de navegar y brinden un valor agregado a los usuarios,
                     hemos ido mucho más allá y nos hemos convertido en una fuerza atractiva en el mundo de trading.
                     Pruébelo ahora descargando la aplicación y compruébelo usted mismo
                    </p>
            </div>
            <div class="col-md-6">
                <img src="/images/webp/TRADING APP ENG ICONS-06.webp" alt="icon1" width="100%">
                <p class="par">Las oportunidades de trading surgen rápidamente y mantenerse al día con las actualizaciones del mercado y los movimientos de precios
                    es fundamental para el éxito. Manténgase al día con los movimientos del mercado confiando en nosotros para que le proporcionemos los
                     datos comerciales que necesita para tomar decisiones de trading sin demora y en tiempo real.
                    </p>
            </div>
        </div>
    </div>
    <div class="row" style="background: url('/images/webp/greenBack.webp');background-size: cover;height: 500px;">
        <div class="container py-4" style="display: flex;align-items: baseline;flex-direction: column;">
                    <img src="/images/webp/Component 4 – 1.png" alt="icon1" width="40%">
                    <p class="par">
                        Muchos traders e inversores serios confían en nosotros porque damos prioridad a la seguridad y la privacidad.
                         La tecnología más reciente protege su conexión e información (cifrado rápido 256 SSL). 
                         Todo nuestro sistema está meticulosamente protegido por sistemas antivirus. Las compras y ventas de activos las llevan a cabo los proveedores 
                         de servicios más altos con certificación PCI (actualmente Nivel 1, pero sujeto a actualización según disponibilidad),
                          y los servidores están alojados en centros de datos certificados por SAS-70.
                        </p>
                    <button class="btn btn-fill bttnnn" onclick="window.location.replace('https://evest.onelink.me/o6qP/63b4f023')">Descargue la aplicación</button>
                    <img src="/images/webp/appicons.png" alt="iconsDownload" style="width: 28%;">
        </div>
    </div>
</div>
<style>
    @import "/css/app.min.css";

    @media (max-width: 767px) {
        body > main > div.mobile-img > div:nth-child(5){
            height: 100% !important;
        }
    }
</style>
