<style>
  @import url("/css/webTrade.min.css");
</style>
<div class="container mobile-img" style="background-image: url('/images/WebTraderHeader.png');height:700px;background-size: cover;">
  <h1 class="text-uppercase" style="
    padding-top: 122%;
    color: white;
    font-size: 25px;
    padding-left: 10%;
">Trading por<br> página web</h1>
      <h6 style="
    color: white;
    font-size: 13px;
    padding-left: 10%;">
    Sin tener que instalar o descargar ninguna aplicación,<br>
    puede operar directamente desde su navegador. <br><br>
    ¡Puede operar desde cualquier parte del mundo<br>
    utilizando cualquier dispositivo conectado a Internet! <br><br>
      </h6>
      <button onclick="runPlugin('forexSignup');" class="btn btnprimary" style="
    font-size: 13px;
    margin-left: 10%;
    margin-top: 4%;
">Regístrate ahora</button>
</div>
<div class="desktop-img row" style="background:url('/images/webp/Career-En BG-02.webp');background-size: cover; height: 500px;">
  <div class="container r1" style="display: flex;align-items: center;" >
    <div class="col-lg-6">
      <img src="/images/webp/web1.webp" alt="laptop" width="100%">
    </div>
    <div class="col-lg-6">
      <h1 class="text-uppercase">Trading por<br> página web</h1>
      <h6>
        Sin tener que instalar o descargar ninguna aplicación,<br>
        puede operar directamente desde su navegador. <br><br>
        ¡Puede operar desde cualquier parte del mundo<br>
        utilizando cualquier dispositivo conectado a Internet! <br><br>
      </h6>
      <button onclick="runPlugin('forexSignup');"class="btn btnprimary">Regístrate ahora</button>
    </div>
  </div>
</div>

<div class="container py-2" style="display: flex; flex-direction: column;align-items: center;justify-content: space-evenly;">
        <h2 class="text-uppercase text-center" style="font-weight: bold">
          Descubra la plataforma <br>
          de trading “evest web trader”
        </h2>
        <p style="text-align: center;font-weight: 700;">
          ¡La forma ideal de trading en línea sin instalar nada!
          <br><br>
          Una experiencia de trading sencilla, con todas las funciones <br>
          importantes accesibles directamente desde un navegador web. <br><br>
          ¡No requiere instalación y está disponible en cualquier navegador del mundo!
        </p>
      <button class="btn btn-filled btncol" onclick="runPlugin('forexSignup');">Comience ahora</button>
</div>

<div class="row desktop-img"   style="
background: url('/images/Section 3-Web Trading.jpg');
height: 500px;
background-size: cover;
">
  <div class="container">
  <div class="row py-5" style="padding-left: 6%">
    <h2
      class="text-uppercase"
      style="color: var(--primary-color3); padding-top: 4%; font-weight: bold"
    >
    Confíe al 100% en <br> evest web-trader
    </h2>
  </div>
  <div class="row" style="justify-content: space-evenly">
    <img
      src="/images/webp/Mobile-Trading-es%20(4).webp"
      style="width: 20%"
      alt=""
    />
    <img
      src="/images/webp/Mobile-Trading-es%20(5).webp"
      style="width: 20%"
      alt=""
    />
    <img
      src="/images/webp/Mobile-Trading-es%20(6).webp"
      style="width: 20%"
      alt=""
    />
  </div>
</div>
</div>
<div class="container mobile-img" style="background-image: url('/images/webTraderM2.png');height:700px;background-size: cover;display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;">
  
  <h2 class="text-uppercase" style="color: var(--primary-color3);padding-top: 70%;font-weight: bold;font-size: 20px;">
    Confíe al 100% en <br> evest web-trader
  </h2>
  <img src="/images/webp/Mobile-Trading-es%20(4).webp" style="width: 50%;" alt="">
  <img src="/images/webp/Mobile-Trading-es%20(5).webp" style="width: 50%;" alt="">
  <img src="/images/webp/Mobile-Trading-es%20(6).webp" style="width: 50%;" alt="">
</div>

<div class="container" style="padding:60px;">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-uppercase" style="font-weight: bold;padding-top: 6%;">
        Es hora de <br>
        invertir por sí mismo
      </h1>
    </div>
    <div class="col-md-6">
      <p>
        ¡Ponga su dinero a trabajar y deje que los números <br>hablen por sí mismos!
        <br /><br class="desktop-img"/>
        Cientos de millones de personas de todos los ámbitos  <br>
        de la vida intercambian a escala mundial; ser uno de ellos
        <br /><br />
        Evest.com ofrece un servicio para los inversores,<br> 
        independientemente de sus objetivos financieros o su nivel <br>
        de experiencia.Empiece trading divisas, petróleo crudo,<br>
        acciones, oro y otras materias primas.
      </p>
    </div>
  </div>
</div>
<div class="row desktop-img" style="background-image: url('/images/webp/Trading hoursB.webp');background-size: cover;height: 500px;">
  <div class="container" style="display: flex; align-items: center">
    <div class="col-md-6">
      <img src="/images/webp/Image spanish.webp" alt="Questionmark" width="100%">
    </div>
        <div class="col-md-6"> 
                <h1 class="text-uppercase" style="color: white; padding-top: 4%; font-weight: bold">
                  NO TENGO<br> EXPERIENCIA</h1>
            <h4 class="text-uppercase" style="color: var(--primary-color3); padding-top: 4%;">¿Puedo entrar en este mercado?<br></h4>
            <p style="color: white;">
              ¡Creemos que cualquier persona puede entrar en este mercado<br>
              y tener la oportunidad de trading legalmente! y ganar dinero.<br><br>
              
              En evest, recomendamos a los nuevos inversores que <br>comiencen por
              aprovechar nuestros recursos de enseñanza <br>
              GRATUITOS y utilizar nuestra cuenta de trading<br>
              de demostración(Cuenta Demo),que les permite trading<Br>
              SIN ARRIESGAR NINGÚN DINERO REAL.
            </p> 
        <button onclick="runPlugin('forexSignup');" class="btn btnprimary" >Regístrate ahora</button>
        </div>
    </div>
</div>
<div class="container mobile-img" style="background-image: url('/images/webTraderM1.png');height:700px;background-size: cover;display: flex;flex-direction: column;justify-content: center;align-items: flex-start;padding-left: 11%;padding-top: 77%;">
  <h1 class="text-uppercase" style="color: var(--primary-color3);padding-top: 4%;font-weight: bold;font-size: 20px;">
    NO TENGO<br> EXPERIENCIA</h1>
    <h4 class="text-uppercase" style="color: var(--primary-color3);padding-top: 4%;font-size: 14px;">¿Puedo entrar en este mercado?<br></h4>
    <p style="color: var(--primary-color3);font-size: 11px;">
      ¡Creemos que cualquier persona puede entrar en este mercado<br>
      y tener la oportunidad de trading legalmente! y ganar dinero.<br><br>
      
      En evest, recomendamos a los nuevos inversores que <br>comiencen por
      aprovechar nuestros recursos de enseñanza <br>
      GRATUITOS y utilizar nuestra cuenta de trading<br>
      de demostración(Cuenta Demo),que les permite trading<Br>
      SIN ARRIESGAR NINGÚN DINERO REAL.
    </p> 
    <button onclick="runPlugin('forexSignup');" class="btn btnprimary" style="margin-top: 9%;margin-left: 25%;font-size: 13px;" >Regístrate ahora</button>
</div>
</div>
