<div class="container">
  <div class="container p-4" id="reslut">
    <article>
      <!-- Post header-->
      <header class="mb-4">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1"><%-titleArticle%></h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2 date"><%-date%></div>
          <!-- Post categories-->    
      </header>
      <!-- Preview image figure-->
      <figure class="mb-4"><img class="img-fluid rounded" src="<%- imgUrl %>" alt="...">
        <div class="container  ">
          <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="display: flex;justify-content: center;align-items: center;">
  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_linkedin"></a>
  <a class="a2a_button_whatsapp"></a>
  <a class="a2a_button_google_gmail"></a>
  <a class="a2a_button_sms"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
        </div>
  </figure>
  
      <!-- Post content-->
      <section>
          <%- content %> 
      </section>
  </article>
</div>

  <!--back to top-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="back-to-top">
          <a href="#"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle" style="font-family: 'Arabic Evest';">سجّل الآن و ابدأ التداول مجانًا</h5>
      </div>
      <div class="modal-body">
       <!--SignUp Popup-->
       <div class="container">
        <form id="regForm">
          <!--input group first and last name-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="firstName" placeholder="الاسم الاول" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="lastName" placeholder="الاسم الاخير" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="البريد الالكتروني" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="tel" id="phone">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 text-right" style="padding-left: 5px;text-align: right;margin-bottom: 5px;font-size:12px;"><span style="text-align: right;margin-right: 0px;">بالضغط على زر التسجيل انت توافق&nbsp;على&nbsp;<a href="https://mena.evest.com/legal/ar/AR-Atria%20financial-TERMS_AND_CONDITIONS.pdf">شروط الاستخدام&nbsp;</a>و&nbsp;<a href="https://mena.evest.com/legal/ar/AR-Atria_financial__Privacy_Policy.pdf">سياسة الخصوصية&nbsp;</a></span></div>
            <div class="col-md-12 col-xs-12 text-right" style="padding-left: 5px;text-align: right;margin-bottom: 5px;font-size:11px;"><input type="checkbox" name="promotions" checked=""><span style="text-align: right;margin-right: 6px;">ارغب في تلقي الرسائل التسويقية</span></div>
        </div>
        </form>
      </div>

      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" style="font-family: 'Arabic Evest';">سجّل الآن</button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->


<script  src="https://static.addtoany.com/menu/page.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="/js/phone/intl-tel-input-17.0.0/build/css/intlTelInput.css">
<script src="/js/phone/intl-tel-input-17.0.0/build/js/intlTelInput.js"></script>
<script>
  var input = document.querySelector("#phone");
  window.intlTelInput(input, {
    // any initialisation options go here
    utilsScript:
      "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js",
    initialCountry: "auto",
    geoIpLookup: function (e, a) {
      $.get(
        "https://ipinfo.io/?token=cc7afc256c9864",
        function () {},
        "jsonp"
      ).always(function (a) {
        var d = a && a.country ? a.country : "kw";
        e(d);
      });
    },
  });
</script>
<script src="/js/register.min.js"></script>
<script>
  $(document).ready(function(){
    if(localStorage.getItem("loggedin")== false || localStorage.getItem("loggedin") == null){
      $('.articlebtn').on('click', function(){
      runPlugin('forexSignup');
    })
    }else{
      $('.articlebtn').on('click', function(){
      window.location.replace('/trade-room?lang=ar')
    })
    }

  })

  //back to top page
  $(document).ready(function(){
    $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('.back-to-top').fadeIn();
      } else {
        $('.back-to-top').fadeOut();
      }
    });
    $('.back-to-top').click(function(){
      $("html, body").animate({ scrollTop: 0 }, 600);
      return false;
    });
  });

</script>
<style>
   @import url('/css/articleAr.min.css');
   .iti__flag {background-image: url("/js/phone/intl-tel-input-17.0.0/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("/js/phone/intl-tel-input-17.0.0/build/img/flags@2x.png");}
}
.iti.iti--allow-dropdown,#phone{
  width: 100%;
}
   /*back to top page*/
    .back-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;
      background: var(--primary-color3);
      color: var(--primary-color1);
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      opacity: 0.4;
      transition: opacity 0.2s linear;
      }
      .back-to-top:hover{
        opacity: 1;
        font-size:20px;
        font-weight: bolder;
      }
      .card.mb-4{
        flex-direction:column;
      }



      /*styling RegForm popup*/
      .modal-content {
    background-color: whitesmoke;
    color:var(--primary-color1);
    width: 100%;
    padding: 15px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    max-width: 650px;
    margin: auto;
    border-radius: 0;
    border: 0 solid #fcfcfc;
    padding: 15px;
    -o-border-image: url(none) 30 stretch;
    border-image: url(none) 30 stretch;
    direction:rtl;
    font-family: 'Arabic Evest';
}
.modal-footer{
  justify-content: center;
}
.modal-footer > button{
  background-color:var(--primary-color2);
  color:white;
  border:none;
}
.modal-footer > button:hover{
  background-color:var(--primary-color2);
  color:white !important;
  font-weight: bolder;
}

</style>

