.noclass{}
prochart .prof_chart {
    margin: 0 auto;
}

prochart .layout1 .chart-price-axis {
    border-left: 2px solid #E8E8E8;
}

prochart .layout1 .chartpane {
    border: none;
}

prochart .layout1 .chart-price-zoom {
    display: none !important;
}