<div class="container-fluid mobile-img" style="background: url('/images/DEMO BG ENG - 1.png');height:800px;background-size: cover;">
    <h1 class="text-uppercase">Cuenta Demo</h1>
    <h5>Empiece a perfeccionar su habilidad de trading<br>
        100% gratuito <br>
        100% Sin riesgo
        </h5>
    <p>
        Disfrute de todas las características de la cuenta en vivo:
        <ul class="list-unstyled">
            <li><i class="fas fa-circle"></i> %100  Alimentación de datos en vivo</li>
            <li><i class="fas fa-circle"></i> 03 Platformas</li>
            <li><i class="fas fa-circle"></i> 550+ instrumentos financieros</li>
            <li><i class="fas fa-circle"></i> $25,000 Saldo Demo</li>
        </ul>
    </p>
    <button onclick="runPlugin('forexSignup');" class="btn btn-pr" >Inténtelo ahora</button></div>
</div>
<div class="container mobile-img" style="padding: 8% 9%;">
    <div class="row">
        <h4 class="uppercase" style="font-weight: bolder;font-size: 15px;">CONFÍE EN EVEST <br> PARA EXPERIMENTAR TRADING<br> SIN LÍMITES 100%</h4>
        <p style="
font-size: 10px;
padding-top: 2%;
width: 73%;
">Le ofrecemos una cuenta demo gratuita que incluye $ 25,000 en fondos virtuales para probar y explorar la plataforma. También le proporcionamos más de 550 instrumentos financieros que se dividen en 4 categorías principales:
        </p>
    </div>
    <div class="row">
        <img src="/images/webp/DEMO-Account-02-es.webp" alt="icon" style="width: 50%;">
        <img src="/images/webp/DEMO-Account-03-es.webp" alt="icon" style="width: 50%;">
    </div>
    <div class="row">
        <img src="/images/webp/DEMO-Account-04-es.webp" alt="icon" style="width: 50%;">
        <img src="/images/webp/DEMO-Account-05-es.webp" alt="icon" style="width: 50%;">
    </div>
    <div class="row">
        <p style="font-size: 10px;">
            Esta es una característica fantástica que puede aprovechar,<br>
            especialmente si es un principiante o no tiene ninguna experiencia <br>
            en trading. Además, si tiene experiencia, puede usar esta función <br>
            para probar y sentir los servicios proporcionados en la plataforma. <br><br>

            En el Demo, puede experimentar las condiciones del mercado en <br>
            vivo y ejecutar varias estrategias de trading sin usar dinero real <br>
            de su cuenta. <br><br>

            Este es un método excelente para determinar las mejores estrategias para usted y prepararse para el trading en vivo.
        </p>
    </div>
</div>

<div class="desktop-img">
    <div class="row" style="background:url('/images/webp/DEMO Account-01.webp');background-size: cover;">
        <div class="container " style="height: 530px;color:white;display:flex;align-items: center;">
            <div class="col-md-6">
                <img src="/images/webp/DemoA.webp" alt="" width="100%">
            </div>
            <div class="col-md-6">    <h1 class="text-uppercase">Cuenta Demo</h1>
                <h5>Empiece a perfeccionar su habilidad de trading<br>
                    100% gratuito <br>
                    100% Sin riesgo
                    </h5>
                <p>
                    Disfrute de todas las características de la cuenta en vivo:
                    <ul class="list-unstyled">
                        <li><i class="fas fa-circle"></i> %100  Alimentación de datos en vivo</li>
                        <li><i class="fas fa-circle"></i> 03 Platformas</li>
                        <li><i class="fas fa-circle"></i> 550+ instrumentos financieros</li>
                        <li><i class="fas fa-circle"></i> $25,000 Saldo Demo</li>
                    </ul>
                </p>
                <button onclick="runPlugin('forexSignup');" class="btn btn-pr">Inténtelo ahora</button></div>
        </div></div>


    <div class="container" style="padding-top: 4%;padding-bottom:6%;">
        <div class="row">
            <h4 class="uppercase" style="font-weight: bolder;font-size: 21px;">CONFÍE EN EVEST PARA EXPERIMENTAR TRADING SIN LÍMITES 100%</h4>
            <p style="
    font-size: 16px;
    padding-top: 2%;
    width: 73%;
">Le ofrecemos una cuenta demo gratuita que incluye $ 25,000 en fondos virtuales para probar y explorar la plataforma. También le proporcionamos más de 550 instrumentos financieros que se dividen en 4 categorías principales:
            </p>
        </div>
        <div class="row">
            <img src="/images/webp/DEMO-Account-02-es.webp" alt="icon" style="width: 21%;">
            <img src="/images/webp/DEMO-Account-03-es.webp" alt="icon" style="width: 21%;">
            <img src="/images/webp/DEMO-Account-04-es.webp" alt="icon" style="width: 21%;">
            <img src="/images/webp/DEMO-Account-05-es.webp" alt="icon" style="width: 21%;">
        </div>
        <div class="row">
            <p style="
    font-size: 15px;
">            Esta es una característica fantástica que puede aprovechar,<br>
especialmente si es un principiante o no tiene ninguna experiencia <br>
en trading. Además, si tiene experiencia, puede usar esta función <br>
para probar y sentir los servicios proporcionados en la plataforma. <br><br>

En el Demo, puede experimentar las condiciones del mercado en <br>
vivo y ejecutar varias estrategias de trading sin usar dinero real <br>
de su cuenta. <br><br>

Este es un método excelente para determinar las mejores estrategias para usted y prepararse para el trading en vivo.
                </p>
        </div>
    </div>
</div>
<style>
    @import "/css/demo.min.css"
</style>