<div class="container-fluid mobile-img" style="background: url('/images/Deposit-_-Withdrawal.png');height: 800px;background-size: cover;padding-left: 0;padding-right: 0;">
  <h1 class="text-uppercase text-white">
    Depósito y<br>
    Retiro
  </h1>
</div>


<div>
  <div class="row desktop-img" style="background: url('/images/webp/Deposit _ Withdrawals-02.webp');background-size: cover;height: 500px;">
    <div class="container" style="display:flex;justify-content: center;align-items: center;">
      <div class="col-md-6">
        <h1 class="text-uppercase text-white">
          Depósito y<br> Retiro
 </h1>
</div>
      <div class="col-md-6"> <img src="/images/webp/credit-cards copy.webp" alt="cards" style="width:100%"></div>

    </div>
  </div>


  <div class="row">
      <div class="container section2 my-5">
    <div class="col-md-6">
      <div class="row">
        <i class="fas fa-circle" style="opacity: 60%"></i>
        <h3>
          Seguro y protegido
        </h3>
      </div>
      <div class="row">
        <p>
          Sí, hacer un depósito en su cuenta es completamente seguro,<br> privado y seguro.
          Todas las transacciones se transmiten <br> utilizando la tecnología Secure Socket Layer (SSL),<br>
          que además ayuda a garantizar la privacidad y seguridad<br> de su información financiera.
        </p>
      </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <i class="fas fa-circle" style="opacity: 60%"></i>
            <h3>
              Depósito con <br>tarjeta de crédito
            </h3>
        </div>

        <div class="row"> <p>
          Para depositar con una tarjeta de crédito o débito, haga clic en la opción "Tarjeta de crédito" y entra los siguientes detalles: </p>
            <p style="margin-left: 9%;">
                1-Su número de tarjeta <br>
                2-La fecha de vencimiento de su tarjeta <br>
                3-El código CVV (3 dígitos en el dorso <br>de su tarjeta de crédito / débito) <br>
            </p>
            <p>
              En cuestión de minutos, la cuenta debe ser acreditada con<br> los fondos.
              Si su solicitud no es aprobada por algún motivo,<br> se le notificará por correo electrónico.
               <br><br>
               La transacción se mostrará como “evest” en su estado de cuenta de tarjeta de crédito.

        </p>

    </div>
    </div>
  </div>
</div>

  <div class="row section3">
    <div class="container section3">
      <div class="col-md-6 my-5">
          <div class="row">
            <i class="fas fa-circle" style="opacity: 60%"></i>
            <h3>
              Usando la tarjeta<br> de otra persona
            </h3>
          </div>
          <div class="row">
            <p>
              Un pago tercera parte es un depósito realizado a partir<br>
              un método de pago que no está en el mismo nombre<br>
              que el propietario de la cuenta evest <br><br>

              Como se indica en nuestros Términos y condiciones,<br>
              el propietario de la cuenta de trading debe ser el propietario <br>
              de los fondos. Por lo tanto, no puede realizar un depósito <br>
              con el método de pago de otra persona.
            </p>
          </div>
        </div>
        <div class="col-md-6 my-5">
            <div class="row">
                <i class="fas fa-circle" style="opacity: 60%"></i>
                <h3>
                  SWIFT e IBAN
                </h3>
            </div>
    
            <div class="row"> <p>
              Un código SWIFT, también conocido como BIC,<br> se compone 
              de 8 caracteres y se utiliza para <br>identificar un banco en particular. <br><br>
              
              Un IBAN significa Número de cuenta bancaria internacional <br>
              y ayuda a los bancos a identificar su cuenta específica <br>
              para pagos. Los IBAN no se utilizan en todos los países. <br>
              Si solicita un retiro a una cuenta bancaria que no <br>
              tiene un IBAN, puede poner su número de cuenta <br>
              en el campo IBAN y su código de sucursal en el campo <br> 
              Comentarios en la página de retiro.<br><br>
              
              Su código SWIFT e IBAN generalmente se pueden <br>
              encontrar en su estado de cuenta bancario o <br>
              en la cuenta bancaria en línea.
            </p>
    
        </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="container section2 my-5">
      <div class="col-md-6">
        <div class="row">
          <i class="fas fa-circle" style="opacity: 60%"></i>
          <h3>
            Retirar Fondos
          </h3>
        </div>
        <div class="row">
          <p>
              Para colocar una solicitud de retiro, por favor, siga estos pasos: <br> </p>
              <p style="margin-left: 9%;">
                  1-Haga clic en Retirar Fondos <br>
                  2-Introduzca la cantidad a retirar (en US dólares) <br>
                  3-Complete el formulario de retiro electrónico según sea necesario <br>
                  4-Haga clic en "Enviar" <br>
              </p>
              <p>
                Tenga en cuenta que los fondos solo se pueden retirar<br>
                de su saldo disponible, por lo que antes de realizar una <br> 
                solicitud de retiro,debe asegurarse de tener la cantidad disponible en su saldo.  
          </p>
        </div>
      </div>
      <div class="col-md-6">
          <div class="row" style="margin-top:6%;"> <p>
            Si tiene fondos actualmente en posiciones abiertas, <br>
            puede liberar más fondos cerrando posiciones. <br>
            Una vez que se cierra una posición, <br>
            la cantidad +/- cualquier ganancia o pérdida <br> 
            se enviará a su saldo disponible para retirar. <br><br>
            Tenga en cuenta los siguientes puntos importantes: <br><br>
               </p>
              <p style="margin-left: 9%;">
                  1-Su cuenta debe ser verificada <br>
                  2-La cantidad mínima para retirar es $25 US dóalres <br>
                  3-La tarifa de conversión es 2%<br>
                  4-Si su cuenta no está exento, <br>su retiro estará sujeto a una tarifa de retiro.<br>
              </p>
      </div>
      </div>
    </div>
  </div>
  <div class="row section3">
    <div class="container section3">
      <div class="col-md-6 my-5">
          <div class="row">
            <i class="fas fa-circle" style="opacity: 60%"></i>
            <h3>
              La cantidad  <br> mínima de retirar
            </h3>
          </div>
          <div class="row">
            <p>
              La cantidad mínima que puede retirar <br>
              de su cuenta es $25 US dóalres
            </p>
          </div>
          <div class="row mt-5">
              <i class="fas fa-circle" style="opacity: 60%"></i>
              <h3>
                Estado de mi retiro
              </h3>
            </div>
            <div class="row">
              <p>
                Se le notificará por correo electrónico una vez <br>
                que se haya completado el procesamiento de su solicitud <br>
                de retiro y se le informará a qué proveedor de pago <br>
                se enviaron sus fondos. <br><br>
                Además, puede hacer clic en ‘Cuenta’ y luego en  <br>la lista Historial para ver el estado del retiro.
  
              </p>
            </div>
        </div>
        <div class="col-md-6 my-5">
          <div class="row">
              <i class="fas fa-circle" style="opacity: 60%"></i>
              <h3>
                Tiempo de  <br class="mobile-img">proceso para <br>la solicitud de retiro
              </h3>
            </div>
            <div class="row">
              <p>
                Las solicitudes de retiro demoran hasta 7 días laborales <br>
                en procesarse. El tiempo necesario para recibir su pago <br>
                puede variar según el proveedor de pago involucrado. <br>
                Por lo general, las cantidades aparecerán en su cuenta <br>
                dentro de los 14 días laborales
              </p>
            </div>
            <div class="row mt-5">
                <i class="fas fa-circle" style="opacity: 60%"></i>
                <h3>
                  Cancelar mi retiro
                </h3>
              </div>
              <div class="row">
                <p>
                  Para cancelar su solicitud de retiro, comuníquese<br>
                  con nosotros y estaremos encantados de ayudarle.
                </p>
              </div>
        </div>
    </div>
  </div>




</div>

<style>
  @import "/css/deposit.min.css";

  @media (max-width: 768px) {
    .section2 h3, .section3 h3 {
    font-size: 15px;
  }
  .container{
    height: 100%;
  }
  i{
    font-size: 10px;
  }
  }
</style>
