<div>
  <div class="desktop-img row" style="background: url('/images/webp/bluBack.webp');background-size: cover;height: 500px;display: flex;justify-content: center;align-items: center;">
    <div class="container" style="display: flex;justify-content: center;align-items: center;">
      <div class="col-md-8">    
        <h1 style="color: white;/* padding-top: 7%; */">Documentos <br>y políticas</h1>
        <h5 style="color: white">Pasión, diligencia e innovación 100%</h5>
        <p style="color: white">
          En Evest, trabajamos con pasión y diligencia para brindar soluciones innovadoras<br>
          para aquellos interesados en los mercados financieros, así como herramientas<br>
          para quienes intentan superar los desafíos iniciales. Evest es un líder mundial <br>
          en CFD y un bróker de bolsa con una comisión del 0% que ofrece a los clientes<br>
          oportunidades ilimitadas en una variedad de mercados financieros.
          <br><br>
          Evest opera actualmente en varios países elegidos para cumplir el objetivo estratégico<br>
          de Evest de convertirse en el bróker en línea número uno en la región MENA
        </p></div>
      <div class="col-md-4">
        <img src="/images/webp/Documents _ policies 1.webp" alt="documents" style="width: 100%">
      </div>
    </div>
  </div>

  
  <div class="container mobile-img" style="background: url('/images/build/documents-_-policies_Folder-Header.png');height: 800px;background-size: cover;">
    <h1 style="color: white;padding-top: 122%;font-size: 20px;">Documentos <br>y políticas</h1>
    <h5 style="color: white;font-size: 13px;">Pasión, diligencia e innovación 100%</h5>
    <p style="color: white;font-size: 10px;">
      En Evest, trabajamos con pasión y diligencia para<br>
      brindar soluciones innovadoras para aquellos interesados<br>
      en los mercados financieros, así como herramientas para<br>
      quienes intentan superar los desafíos iniciales.<br>
      Evest es un líder mundial en CFD y un bróker de bolsa<br>
      con una comisión del 0% que ofrece a los clientes<br>
      oportunidades ilimitadas en una variedad de mercados financieros.
      <br><br>
      Evest opera actualmente en varios países elegidos<br>
      para cumplir el objetivo estratégico de Evest<br>
      de convertirse en el bróker en línea número uno en la región MENA
    </p>
  </div>
<div class="container">
    <div class="container" style="flex-direction: row;justify-content: space-between;display: flex;">
        <a href="/legal/en/EN-Complaint_Policy.pdf"><img src="/images/webp/documents-_-policies-03.webp" style="width: 70%;" alt=""></a>
        <a href="/legal/en/EN-RISK_DISCLOSURE.pdf"><img src="/images/webp/documents-_-policies-04.webp" style="width: 70%;" alt=""></a>
        <a href="/legal/en/EN-KNOW-YOUR-CUSTOMER-REQUIREMENTS.pdf"><img src="/images/webp/documents-_-policies-05.webp" style="width: 70%;" alt=""></a>
        </div>
        <div class="container" style="flex-direction: row;justify-content: space-between;display: flex;">
          <a href="/legal/en/EN-TERMS_AND_CONDITIONS.pdf"><img src="/images/webp/documents-_-policies-06.webp" style="width: 70%;" alt=""></a>
          <a href="/legal/en/EN-Privacy_Policy.pdf"><img src="/images/webp/documents-_-policies-07.webp" style="width: 70%;" alt=""></a>
          <a href="/legal/en/EN-Cookies_Policy.pdf"><img src="/images/webp/documents-_-policies-08.webp" style="width: 70%;" alt=""></a>
        </div>
        <div class="container" style="flex-direction: row;justify-content: space-between;display: flex;">
          <a><img src="/images/Bonus Privacy icon ara.png" style="width: 70%; opacity:0" alt=""></a>
          <a href="/legal/en/ATRIAFINANCIAL_LTD_Bonus_Policy.pdf"><img src="/images/Bonus Privacy icon-01.png" style="width: 70%;" alt=""></a>

          <a><img src="/images/Bonus Privacy icon ara.png" style="width: 70%; opacity:0" alt=""></a>
        </div>

  </div>
</div>

<style>
  @import "/css/doc.min.css";
</style>


