<div class="desktop-img">
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;height: 500px;color:white">
        <div class="container" style="display:flex;justify-content: center;align-items: center">
            <div class="col-md-6">
                <h1 class="text-uppercase"> Cestas de Inversión<br>Evest - EIB</h1>
                <p>
                    Las herramientas más poderosas disponibles para operar se combinan en cestas de inversión especiales de Evest
                    <ul class="list-unstyled">
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> +10 cestas disponibles </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> 100% relativamente menos riesgo </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> %100 Económicamente rentable </li>
                    </ul>
                </p>
                <button class="btn btnprimary" onclick="runPlugin('forexSignup');">Regístrate ahora</button>
            </div>
            <div class="col-md-6">
                <image src="/images/EIB/EIB basket.png" width="100%"></image>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="container">
                <div class="container">
                    <h2 class="text-uppercase">Solución 100% innovadora para el Trading a largo plazo</h2>
                </div>
                <div class="container" style="display:flex;">
                    <div class="col-md-6" style="padding-left: 0;">
                        <p>Estamos orgullosos de presentar las cestas de inversión EVEST que incluyen los instrumentos financieros más prometedores agregados sobre la base del promedio ponderado, el precio de las últimas 60 sesiones y el último precio de cierre.</p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Las cestas  de inversión están diseñadas para adaptarse a diferentes tipos de comerciantes que pueden ser, entre otros, los siguientes:<br><br>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-circle"></i> No tienen tiempo</li>
                                <li><i class="fas fa-circle"></i> Consciente del riesgo</li>
                                <li><i class="fas fa-circle"></i> ¿Interesado en fondos mutuos?</li>
                                <li><i class="fas fa-circle"></i> ¿Está interesado en operar a largo plazo?
                                </li>
                                <li><i class="fas fa-circle"></i> Buscando herramientas comerciales similares a las de inversión</li>
                            </ul>
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="row text-center" style="background-color: var(--primary-color1);color:white">
        <div class="container py-3">    <h2 class="text-center text-uppercase">Algunas de las cestas comerciales disponibles en la plataforma EVEST</h2></div>
    </div>
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;color:white">
        <div class="container" style="display: flex;align-items: center;">
            <div class="col-lg-3" id="usBanks">
                <img src="/images/EIB Desktop ENG-35.png" alt="usBanks" width="100%">
                <h5 class="text-center">Cesta de bancos <br> americanos</h5>
            </div>
            <div class="col-lg-3" id="germanGiants" > 
                <img src="/images/EIB Desktop ENG-34.png" alt="German Giants Basket" width="100%">
                <h5 class="text-center">Cesta de gigantes de <br> la industria alemana</h5>
            </div>
            <div class="col-lg-3" id="usTechnology">
                <img src="/images/EIB Desktop ENG-33.png" alt="US Technology Basket" width="100%">
                <h5 class="text-center">Cesta de Tecnología <br> Americana</h5>
            </div>
            <div class="col-lg-3" id="uSHeavyIndustries">
                <img src="/images/EIB Desktop ENG-32.png" alt="US Heavy Industries Basket" width="100%">
                <h5 class="text-center">Cesta de industrias <br> pesadas estadounidenses</h5>
            </div>
        </div>
        <div class="container" style="display: flex;align-items: center;">
            <div class="col-lg-3" id="bPh">
                <img src="/images/EIB Desktop ENG-28.png" alt="Big pharma Basket" width="100%">
                <h5 class="text-center">Cesta de medicamentos <br> grande</h5>
            </div>
            <div class="col-lg-3" id="bPh2"> 
                <img src="/images/EIB Desktop ENG-29.png" alt="big pharma 2 Basket" width="100%">
                <h5 class="text-center">Cesta grande de <br> medicamentos 2</h5>
            </div>
            <div class="col-lg-3" id="bluChips">
                <img src="/images/EIB Desktop ENG-30.png" alt="BLU chips Basket" width="100%">
                <h5 class="text-center">Cesta de fichas <br> azules</h5>
            </div>
            <div class="col-lg-3" id="frenchFashion">
                <img src="/images/EIB Desktop ENG-31.png" alt="French Fashion Basket" width="100%">
                <h5 class="text-center">Cesta de moda <br> francesa</h5>
            </div>
        </div>
        <!-- <div class="container" style="display: flex;align-items: center;justify-content: space-between;">
           
           
            
            <div class="col-lg-2" id="AmericanRetail">
                <img src="/images/EIB/EIB Desktop ARA 2-09.png" alt="American Retail Basket" width="100%">
                <h5 class="text-center">American Retail <br>Basket</h5>
            </div>
            <div class="col-lg-2" id="UKBanks">
                <img src="/images/EIB/EIB Desktop ARA 2-10.png" alt="UK Banks Basket" width="100%">
                <h5 class="text-center">UK Banks <br>Basket</h5>
            </div>
            <div class="col-lg-2" id="Warren1">
                <img src="/images/EIB/EIB Desktop ARA 2-11.png" alt="Warren Buffet Basket #1" width="100%">
                <h5 class="text-center">Warren Buffet <br> Basket #1</h5>
            </div>
             
            <div class="col-lg-2" id="Warren2"> 
                <img src="/images/EIB/EIB Desktop ARA 2-11.png" alt="Warren Buffet Basket #2" width="100%">
                <h5 class="text-center">Warren Buffet <br>Basket #2</h5>
            </div>
            <div class="col-lg-2" id="Crypto">
                <img src="/images/EIB/EIB Desktop ARA 2-12.png" alt="Crypto Currency Basket" width="100%">
                <h5 class="text-center">Crypto Currency <br> Basket</h5>
            </div>
        </div>
    </div> -->

</div>
</div>

<div class="mobile-img">
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;height: 770px;color:white">
        <div class="container" style="display:flex;justify-content: center;align-items: center;">
            <div class="row" style="flex-direction: column !important;">
                <div class="row">
                    <image id="basket" src="/images/EIB/EIB basket.png" ></image>
                </div>
                <h1 id="main-h1" class="text-uppercase" >Cestas de Inversión <br> Evest - EIB </h1>
                <p id="main-p" style="color:var(--primary-color3)">
                    Las herramientas más poderosas disponibles para operar se <br> combinan en cestas de inversión especiales de Evest                    <ul class="list-unstyled">
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i>  +10 cestas disponibles </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> 100% relativamente menos riesgo
                        </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> %100 Económicamente rentable</li>
                    </ul>
                </p>
                <button class="btn btnprimary" onclick="runPlugin('forexSignup');">Regístrate ahora</button>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="container">
                <div class="container">
                    <h2 id="h2" class="text-uppercase">Solución 100% innovadora para el Trading a largo plazo</h2>
                </div>
                <div class="container">
                    <div id="second-section">
                    <div class="col-md-6" style="padding-left: 0;">
                        <p>Estamos orgullosos de presentar las cestas de inversión EVEST que incluyen los instrumentos financieros más prometedores <br> agregados sobre la base del promedio ponderado, el precio de las últimas 60 sesiones y el último precio de cierre.</p>
                    </div>
                    <div class="col-md-6">
                        <p style="margin-left: -6%;">
                            Las cestas  de inversión están diseñadas para adaptarse a diferentes tipos de <br> comerciantes que pueden ser, entre otros, los siguientes:
                            <br><br>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-circle"></i> No tienen tiempo</li>
                                <li><i class="fas fa-circle"></i>Consciente del riesgo</li>
                                <li><i class="fas fa-circle"></i> ¿Interesado en fondos mutuos?</li>
                                <li><i class="fas fa-circle"></i> ¿Está interesado en operar a largo plazo?</li>
                                <li><i class="fas fa-circle"></i> Buscando herramientas comerciales similares a las de inversión</li>
                            </ul>
                        </p>
                    </div></div>
                </div>
        </div>
    </div>
    <div class="row text-center" style="background-color: var(--primary-color1);color:white">
        <div class="container py-3">    <h2 id="h2_1" class="text-center text-uppercase">Algunas de las cestas comerciales disponibles en la plataforma EVEST</h2></div>
    </div>
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;color:white">
        <div class="container" style="display: flex;align-items: center;">
            <div id="sub-container">
                <div class="col-lg-3" id="usBanks">
                    <img src="/images/EIB Desktop ENG-35.png" alt="usBanks" width="100%">
                    <h5 class="text-center">Cesta de bancos <br> americanos</h5>
                </div>
                <div class="col-lg-3" id="germanGiants" > 
                    <img src="/images/EIB Desktop ENG-34.png" alt="German Giants Basket" width="100%">
                    <h5 class="text-center">Cesta de gigantes de <br> la industria alemana</h5>
                </div>
            </div>

            <div id="sub-container">
                <div class="col-lg-3" id="usTechnology">
                    <img src="/images/EIB Desktop ENG-33.png" alt="US Technology Basket" width="100%">
                    <h5 class="text-center">Cesta de Tecnología <br> Americana</h5>
                </div>
                <div class="col-lg-3" id="uSHeavyIndustries">
                    <img src="/images/EIB Desktop ENG-32.png" alt="US Heavy Industries Basket" width="100%">
                    <h5 class="text-center">Cesta de industrias <br> pesadas estadounidenses</h5>
                </div>
            </div>
            </div>


        <div class="container" style="display: flex;align-items: center;">
            <div id="sub-container">
                <div class="col-lg-3" id="bPh">
                    <img src="/images/EIB Desktop ENG-28.png" alt="Big pharma Basket" width="100%">
                    <h5 class="text-center">Cesta de medicamentos <br> grande</h5>
                </div>
                <div class="col-lg-3" id="bPh2"> 
                    <img src="/images/EIB Desktop ENG-29.png" alt="big pharma 2 Basket" width="100%">
                    <h5 class="text-center">Cesta de medicamentos <br> grande #2 </h5>
                </div>
            </div>

            <div id="sub-container">
                <div class="col-lg-3" id="bluChips">
                    <img src="/images/EIB Desktop ENG-30.png" alt="BLU chips Basket" width="100%">
                    <h5 class="text-center">Cesta de fichas <br> azules</h5>
                </div>
                <div class="col-lg-3" id="frenchFashion">
                    <img src="/images/EIB Desktop ENG-31.png" alt="French Fashion Basket" width="100%">
                    <h5 class="text-center">Cesta de moda <br> francesa</h5>
                </div>
            </div>
        </div>


        <!-- <div class="container" style="display: flex;align-items: center;">    
            <div id="sub-container">
                <div class="col-lg-2" id="AmericanRetail">
                    <img src="/images/EIB/EIB Desktop ARA 2-09.png" alt="American Retail Basket" width="100%">
                    <h5 class="text-center">American Retail <br>Basket</h5>
                </div>
                <div class="col-lg-2" id="UKBanks">
                    <img src="/images/EIB/EIB Desktop ARA 2-10.png" alt="UK Banks Basket" width="100%">
                    <h5 class="text-center">UK Banks <br>Basket</h5>
                </div>
            </div>

            <div id="sub-container">
                <div class="col-lg-2" id="Warren1">
                    <img src="/images/EIB/EIB Desktop ARA 2-11.png" alt="Warren Buffet Basket #1" width="100%">
                    <h5 class="text-center">Warren Buffet <br> Basket #1</h5>
                </div>
                 
                <div class="col-lg-2" id="Warren2"> 
                    <img src="/images/EIB/EIB Desktop ARA 2-11.png" alt="Warren Buffet Basket #2" width="100%">
                    <h5 class="text-center">Warren Buffet <br>Basket #2</h5>
                </div>
                
            </div>    
        </div> -->

        <!-- <div id="sub-container-crypto">
            <div class="col-lg-2" id="Crypto" width="50%">
                <img src="/images/EIB/EIB Desktop ARA 2-12.png" alt="Crypto Currency Basket" width="100%">
                <h5 class="text-center">Crypto Currency <br> Basket</h5>
            </div>
        </div> -->

    </div>


</div>
<!--Modal popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>




        <!-- Big pharmaceuticals (2nd row) section-->
        <div class="modal-body">
            <div class="container pb-5 pt-2" id="bPh" style="display: none;" tradeLink="BIGPHARMA">
                <h6 class="text-uppercase text-white text-center">Las 4 principales acciones de los fabricantes de vacunas

                </h6>
                <img src="/images/EIB/EIB Desktop ENG 2-43.png" alt="Big pharmaceuticals 1" width="100%">
            </div>
    
        <div class="container pb-5 pt-2" id="bPh2" style="display: none;" tradeLink="BIGPHARMA2">
            <h6 class="text-uppercase text-white text-center">Las 04 principales acciones farmacéuticas</h6>
            <img src="/images/EIB/EIB-02.png" alt="Big Pharmaceuticals 2" width="100%">
        </div>
        <div class="container pb-5 pt-2" id="bluChips" style="display: none;" tradeLink="BLUECHIPS">
        <h6 class="text-uppercase text-white text-center">Te trajimos las acciones de 07 imperios <br> empresariales gigantes en una cesta </h6>
        <img src="/images/EIB/EIB Desktop ENG 2-42.png" alt="Blue Chips" width="100%">
    </div>
    <div class="container pb-5 pt-2" id="frenchFashion" style="display: none;" tradeLink="FASHION">
    <h6 class="text-uppercase text-white text-center">04 más de las casas fashion y elegantes cotizan <br> en la Bolsa de Valores de París</h6>
    <img src="/images/EIB/EIB Desktop ENG 2-41.png" alt="French Fashion" width="100%">
</div>

                <div class="container pb-5 pt-2" id="AmericanRetail" style="display: none;" tradeLink="USRETAIL">
                    <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
                    <img src="/images/EIB/EIB Desktop ENG 2-45.png" alt="AmericanRetail" width="100%">
                </div>




            <div class="container pb-5 pt-2" id="UKBanks" style="display: none;" tradeLink="UKBANKS">
                <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
                <img src="/images/EIB/ENG 2-49.png" alt="UKBanks" width="100%">
            </div>


        <div class="container pb-5 pt-2" id="Warren1" style="display: none;" tradeLink="W.BUFFETT 1">
            <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
            <img src="/images/EIB/EIB Desktop ENG 2-46.png" alt="Warren1" width="100%">
        </div>



    <div class="container pb-5 pt-2" id="Warren2" style="display: none;" tradeLink="W.BUFFETT 2">
        <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-47.png" alt="Warren2" width="100%">
    </div>



    <div class="container pb-5 pt-2" id="Crypto" style="display: none;" tradeLink="CRYPTOETF">
        <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-48.png" alt="Crypto" width="100%">
    </div>

<!-- US Banks (1st row) section -->
    <div class="container pb-5 pt-2" id="usBanks" style="display: none;" tradeLink="USBANKS">
        <h6 class="text-uppercase text-white text-center">Los 04 principales bancos y acciones bancarias 

            <br> en los Estados Unidos de América</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-37.png" alt="Citigroup" width="100%">
</div>
    <div class="container pb-5 pt-2" id="germanGiants" style="display: none;" tradeLink="GERGIANTS">
        <h6 class="text-uppercase text-white text-center">Las 05 mejores empresas industriales alemanas</h6>
        <img src="/images/EIB/EIB-01.png" alt="Citigroup" width="100%">German Giants" width="100%">
    </div>
    <div class="container pb-5 pt-2" id="usTechnology" style="display: none;" tradeLink="USTECH">
        <h6 class="text-uppercase text-white text-center">06 acciones de las principales empresas <br> tecnológicas del mundo</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-38.png" alt="US Technology" width="100%">
    </div>
    <div class="container pb-5 pt-2" id="uSHeavyIndustries" style="display: none;" tradeLink="USHEAVY">
        <h6 class="text-uppercase text-white text-center">Las 05 principales acciones de industrias pesadas militares, <br> aeroespaciales y médicas en los EE. UU.</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-39.png" alt="US Heavy Industries" width="100%">
    </div>
</div>

        <div class="modal-footer">
          <button id="close-btn" type="button" class="btn " data-dismiss="modal">cerrar</button>
          <button id="btn-ST" type="button"  class="btn btn-filled" onclick="runPlugin('');" data-dismiss="modal">comienza a negociar</button>
          <button id="register-btn" type="button" class="btn " data-dismonclick="runPlugin('forexSignup');" data-dismiss="modal">Regístrate ahora</button>
        </div>
      </div>
    </div>
  </div>

<style>
    .btnprimary{
        font-family: 'Evest Med';
        color:var(--primary-color1);
        background:var(--primary-color3);
    }
    body > main > div > div:nth-child(1) > div > div:nth-child(1) > ul > li{
        color:white !important;
    }
    ul > li{
        color:var(--primary-color1) !important;
    }
    .col-lg-3{
        color:rgba(255, 255, 255, 0.404);
        height:290px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
    .col-lg-3:hover{
        color:white;
        cursor: pointer;
    }

    .col-lg-2{
        color:rgba(255, 255, 255, 0.404);
    }

    .col-lg-2:hover{
        color:white;
        cursor: pointer;
    }

    /*Modal*/
    .modal{
        padding-top: 0;
    }
    .modal-dialog{
        max-width: 1000px;
        width:700px;
    }
    .modal-title{
        color:white;
    }
    #exampleModal > div > div > div.modal-header > button > span{
        color:white;
    }
    .modal-content{
        position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: .3rem;
    outline: 0;
    }

    @media screen and (min-width: 768px) {
        div.mobile-img{
            display:none;
        }
       
    }

    @media only screen and (max-width: 768px) {
        #basket{
            margin-bottom: 33%;
            width:80%;

        }
        #main-h1{
            width: 117% !important;
            font-size :26px !important;
        }
        #main-p{
            width:100% !important;

        }
        #h2{
            font-size:1rem !important;
        }
        #second-section{
            display: flex;
            flex-direction: column;

        }
        #h2_1{         
            width: 65% !important;
            font-size: 110% !important;
            margin-left: 18% !important;
        }
        .modal-content{
        position: fixed;
    }
        #btn-ST{
            margin-left: 20%;
        } 
        #sub-container-crypto{
            display: flex;
            width:50%;
        }
        #close-btn{
            display:none;
        }
        #register-btn{
            margin-left: 25%;
        }
        #modal-footer{
            display: flex !important;
            flex-direction: column-reverse !important;
            flex-wrap: wrap !important;
            align-items: flex-start !important;
            justify-content: space-evenly !important;
        }
        
    
    }

</style>

<script>
    //open popup window modal when click on col-lg-3
    $('.col-lg-3').click(function(){
        $(this).attr('data-target','#exampleModal');
        $(this).attr('data-toggle','modal');
        $('.modal-title').text($(this).find('h5').text());
        var idd='#'+$(this).attr('id');
        console.log(idd);
        $('.modal-body').find('div').not(idd).hide(); 
        $('.modal-body').find(idd).css('display','block');
    });

    $('.col-lg-2').click(function(){
        $(this).attr('data-target','#exampleModal');
        $(this).attr('data-toggle','modal');
        $('.modal-title').text($(this).find('h5').text());
        var idd='#'+$(this).attr('id');
        console.log(idd);
        $('.modal-body').find('div').not(idd).hide(); 
        $('.modal-body').find(idd).css('display','block');
    });

    $('.btn.btn-filled').click(function(){
        // var route=$('.modal-body').find('.container').attr('id');
        // if($(this,'.modal-body.container').css(['display']) !== 'none'){
        //     // console.log($(this,'.modal-body').find('.container').attr(this,'tradeLink').val());
        //     console.log($(this).attr('id'));
        //     console.log($(this).attr('type'));
        //     console.log("test");
        // }

        var text=$('#exampleModalLabel').text();
        console.log(text);
        var route=text.replace(/\s+/g,'');
        console.log(route);

            switch (route) { 
                case "Cestadebancosamericanos":
                var url=`http://localhost:8080/trade-room/?lang=es&asset=USBANKS#/`;
                location.replace(url);    
                break;

                case "Cestadegigantesdelaindustriaalemana":
                var url=`http://localhost:8080/trade-room/?lang=es&asset=GERGIANTS#/`;
                location.replace(url);    
                break;

                case "CestadeTecnologíaAmericana":
                var url=`http://localhost:8080/trade-room/?lang=es&asset=USTECH#/`;
                location.replace(url);    
                break;

                case "Cestademedicamentosgrande":
                var url=`http://localhost:8080/trade-room/?lang=es&asset=BIGPHARMA#/`;
                location.replace(url);    
                break;

                case "Cestagrandedemedicamentos2":
                var url=`http://localhost:8080/trade-room/?lang=es&asset=BIGPHARMA2#/`;
                location.replace(url);    
                break;

                case "Cestadefichasazules":
                var url=`http://localhost:8080/trade-room/?lang=es&asset=BLUECHIPS#/`;
                location.replace(url);    
                break;

                case "Cestademodafrancesa":
                var url=`http://localhost:8080/trade-room/?lang=es&asset=FASHION#/`;
                location.replace(url);    
                break;

                // case "AmericanRetailBasket":
                // var url=`http://localhost:8080/trade-room/?asset=USRETAIL`;
                // location.replace(url);    
                // break;

                // case "WarrenBuffetBasket#1":
                // var url='http://localhost:8080/trade-room/?asset=W.BUFFETT%201';
                // location.replace(url);    
                // break;

                // case "WarrenBuffetBasket#2":
                // var url=`http://localhost:8080/trade-room/?asset=W.BUFFETT%202`;
                // location.replace(url);    
                // break;

                // case "CryptoCurrencyBasket":
                // var url=`http://localhost:8080/trade-room/?asset=CRYPTOETF`;
                // location.replace(url);    
                // break;

                case "Cestadeindustriaspesadasestadounidenses":
                var url=`http://localhost:8080/trade-room/?lang=es&asset=USHEAVY#/`;
                location.replace(url);    
                break;

        }
               
    });





    
</script>