<div class="mobile-img">
    <div class="container" style="background: url('/images/Islamic Accounts Mobile-02.png');height: 800px;background-size: cover;color:white;display:flex;flex-direction: column;align-items: baseline;justify-content: center;">
        <h1 class="text-uppercase" style="font-size: 25px;padding-top: 99%;">Evest cuenta <br>de trading islámica</h1>
        <h4 class="text-uppercase" style="color:var(--primary-color3);font-size: 15px;">Cuenta de trading 100% libre de intereses</h4>
        <ul class="list-unstyled">
            <li><i class="fas fa-circle"></i> 04 tipos de cuentas</li>
            <li><i class="fas fa-circle"></i> $25,000 saldo de demo</li>
            <li><i class="fas fa-circle"></i> 400% apalancamiento</li>
            <li><i class="fas fa-circle"></i> 550+ instrumentos financieros</li>
        </ul>
        <button onclick="runPlugin('forexSignup');" class="btn btn-pr" >Regístrese ahora</button>
        <p style="font-size: 9px;padding-top: 6%;">Cualquier posición que permanezca abierta por más de 3 días,<br>
            tendrá un cargo de acuerdo con la siguiente tabla por 1 Lote
            <a href="/legal/Sharia.pdf" target="_blank" style="color:var(--primary-color3);">Ver archivo PDF</a></p>
</div>
<div class="container" style="display: flex; align-items: flex-start; flex-direction: column; padding: 38px 13px;">
        <div class="col-md-6">
            <h1 class="text-uppercase font-weight-bolder" style="
    font-size: 16px;
">Entrar en el mundo de trading con una cuenta islámica 100% </h1>
        </div>
        <div class="col-md-6">
            <p style="font-size: 11px;">
                <strong style="font-size: 11px;">
                    ¿Quiere entrar en el mundo de trading, pero duda de que las<br>
                    transacciones de trading estén libres de intereses o no?</strong>
                    evest le ofrece la solución perfecta y la respuesta completa a todas sus preguntas.
                    <br><br>
                    A medida que se extendía el trading de los mercados<br>
                    financieros en el mundo árabe,surgió la necesidad <br>
                    de cuentas de trading islámicas, ya que están libres de intereses.<br>
                    En respuesta a esta necesidad, evest creó un nuevo tipo de cuentas de trading llamadas<br>
                    "La cuenta de tradingl islámica sin intereses" para que los invesores puedan <br>
                    hacer trading sin preocuparse. 
            </p>
        </div>
    </div>
    <div class="container" style="background: url('/images/Islamic Accounts-07.jpg');height: 530px;background-size: cover;color:white;padding-top: 6%;padding-left: 8%;">
        <div class="row"><h2 class="text-uppercase text-left font-weight-bolder" style="
        font-size: 18px;
    ">¿El potencial de la cuenta <br> de trading islámica?</h2></div>
        <div class="row">
            <h5 class="text-uppercase text-left" style="color:var(--primary-color3);font-size: 13px;">Puede hacer mucho con esta cuenta.</h5>
            <p style="font-size: 11px;font-family: 'Evest light';">
                Puede abrir posiciones de compra y venta a través de la cuenta de trading islámica evest 100% libre de intereses.<br>
                Las transacciones en esta cuenta están libres de tarifas nocturnas conocidas como (SWAP o Rollover).<br>
                En la cuenta de trading islámica también puede invertir en pares de divisas extranjeras disponibles para trading.<br>
                Además, si desea invertir en acciones, la cuenta islámica le brinda la oportunidad de invertir en más de 200 acciones<br>
                de acciones de compañías globales. También puede invertir en materias primas que incluyen contratos de energía,<br>
                contratos de metales preciosos y contratos de recursos naturales como café, algodón y otros.
        </p>
        </div>
        <div class="row" style="justify-content:space-around;/* align-items: center; */margin-left: -8%;display: flex;">
            <img src="/images/Islamic Accounts-03.png" alt="icon" style="width:40%;">
            <img src="/images/Islamic Accounts-04.png" alt="icon" style="width:40%;">
        </div>
        <div class="row" style="justify-content:space-around;/* align-items: center; */margin-left: -8%;display: flex;">
            <img src="/images/Islamic Accounts-05.png" alt="icon" style="width: 33%;">
            <img src="/images/Islamic Accounts-06.png" alt="icon" style="width: 32%;">
        </div>
        </div>
        <div class="container">
            <div class="row my-5" style="display:flex;justify-content: center;"><h2 class="text-uppercase text-left font-weight-bolder" style="
        font-size: 16px;
    ">Las ventajas de tener  <br>una cuenta  islámica 100%</h2></div>
            <div class="row" style="display: flex;justify-content: space-around;">
                <div class="square">                
                    <i class="fas fa-circle"></i> Acceso fácil y completo a todas las herramientas de análisis <br>
                    <i class="fas fa-circle"></i> Materiales de enseñanza para leer y ver para su beneficio<br>
                    <i class="fas fa-circle"></i> Trading utilizando MetaTrader, Web Trader, la web de teléfonos inteligentes y la aplicación de trading.<br>
                    <i class="fas fa-circle"></i> Ejecución de órdenes de trading en tiempo real<br>
                    <i class="fas fa-circle"></i> Trabaje con su administrador de cuentas experto
                     <p class="pt-4">
                        Entendemos que un gran grupo de nuestros clientes no desea realizar transacciones basadas en intereses,<br>
                        y para satisfacer esta necesidad, evest presentó sus cuentas islámicas de trading<br>
                        que son las más distintivas y fáciles de usar entre sus competidores que ofrecen cuentas<br>
                        de trading islámicas sin intereses</p></div>
            </div>
            <div class="row mt-4" style="justify-content: center"><button onclick="runPlugin('forexSignup');" class="btn btn-filled"> Trading Ahora </button></div>           
        </div>
</div>


<div class="desktop-img">
    <div class="row" style="background-image: url('/images/webp/Islamic Accounts-01.webp');background-size: cover;">
        <div class="container" style="color:white;display:flex;align-items:center;">
        <div class="col-md-6">
            <img src="/images/webp/GoldDinar.webp" alt="Dinar" width="100%">
        </div>
        <div class="col-md-6">
            <h2 class="text-uppercase" style="color:var(--primary-color3);">Evest cuenta <br>de trading islámica</h2>
            <h6 class="text-uppercase" >Cuenta de trading 100% libre de intereses</h6>
            <ul class="list-unstyled">
                <li><i class="fas fa-circle"></i> 04 tipos de cuentas</li>
                <li><i class="fas fa-circle"></i> $25,000 saldo de demo</li>
                <li><i class="fas fa-circle"></i> 400% apalancamiento</li>
                <li><i class="fas fa-circle"></i> 550+ instrumentos financieros</li>
            </ul>
            <button onclick="runPlugin('forexSignup');" class="btn btn-pr" >Regístrese ahora</button>
            <p style="font-size: 10px;padding-top: 6%;">Cualquier posición que permanezca abierta por más de 3 días,<br>
                 tendrá un cargo de acuerdo con la siguiente tabla por 1 Lote
               <a href="/legal/Sharia.pdf" target="_blank" style="color:var(--primary-color3);">Ver archivo PDF</a></p>
        </div>
    </div>
    </div>


    <div class="container" style="display: flex;align-items: baseline;justify-content: center;height: 500px;padding-top: 5%;">
        <div class="col-md-6">
            <h3 class="text-uppercase font-weight-bolder">Entrar en el mundo <br> de trading con una <br> cuenta islámica 100% </h3>
        </div>
        <div class="col-md-6">
            <p style="font-family: 'Evest Bold';color:#022a3aa6"><strong>¿Quiere entrar en el mundo de trading, <br>
                pero duda de que las transacciones de trading <br>
                estén libres de intereses o no?</strong></p>
            <p style="font-size: 14px;">
                evest le ofrece la solución perfecta y la respuesta completa<br>
                a todas sus preguntas. <br><br> 
                A medida que se extendía el trading de los mercados financieros <br> 
                en el mundo árabe, surgió la necesidad de cuentas de trading islámicas,<br>
                ya que están libres de intereses. En respuesta a esta necesidad,<br>
                evest creó un nuevo tipo de cuentas de trading llamadas <br>
                "La cuenta de tradingl islámica sin intereses" para que los invesores<br>
                puedan hacer trading sin preocuparse.
            </p>
        </div>
    </div>

    <div class="row"  style="background: url('/images/webp/greenBack.webp');background-size: cover;padding-top: 3%;padding-bottom: 3%;">
        <div class="container">
            <h2 class="text-uppercase text-left font-weight-bolder">¿El potencial de la cuenta de trading islámica?</h2>
            
                <p style="font-size: 18px;">Puede abrir posiciones de compra y venta a través de la cuenta de trading islámica<br>
                    evest 100% libre de intereses. Las transacciones en esta cuenta están libres de tarifas nocturnas conocidas<br>
                    como (SWAP o Rollover). En la cuenta de trading islámica también puede invertir en pares de divisas<br>
                    extranjeras disponibles para trading. Además, si desea invertir en acciones, la cuenta islámica<br>
                    le brinda la oportunidad de invertir en más de 200 acciones de acciones de compañías globales.<br>
                    También puede invertir en materias primas que incluyen contratos de energía, contratos de metales preciosos <br>
                    y contratos de recursos naturales como café, algodón y otros.</p>
            <div class="row" style="justify-content:space-around;align-items: center;">
                <img src="/images/webp/Islamic Accounts-03.webp" alt="icon"style="width:15%;">
                <img src="/images/webp/Islamic Accounts-04.webp" alt="icon"style="width:15%;">
                <img src="/images/webp/Islamic Accounts-05.webp" alt="icon"style="width:8%;">
                <img src="/images/webp/Islamic Accounts-06.webp" alt="icon"style="width:15%;">
            </div>
            </div>
    </div>


    <div class="container">
        <div class="row my-5" style="display:flex;justify-content: center;"><h2 class="text-uppercase text-center font-weight-bolder">
            Las ventajas de tener una <br> cuenta  islámica 100%</h2></div>
        <div class="row" style="display: flex;justify-content: space-around;">
            <div class="square">                
                <i class="fas fa-circle"></i> Acceso fácil y completo a todas las herramientas de análisis <br>
                <i class="fas fa-circle"></i> Materiales de enseñanza para leer y ver para su beneficio. <br>
                <i class="fas fa-circle"></i> Trading utilizando MetaTrader, Web Trader,<br>
                 la web de teléfonos inteligentes y la aplicación de trading<br>
                <i class="fas fa-circle"></i> Ejecución de órdenes de trading en tiempo real<br>
                <i class="fas fa-circle"></i> Trabaje con su administrador de cuentas experto
           </div>
            <div class="square">               
                 <p> 
                    Entendemos que un gran grupo de nuestros clientes<br>
                    no desea realizar transacciones basadas en intereses,<br>
                    y para satisfacer esta necesidad, evest presentó sus<br>
                    cuentas islámicas de trading que son las más distintivas<br>
                    y fáciles de usar entre sus competidores que ofrecen <br>
                    cuentas de trading islámicas sin intereses
                 </p></div>
        </div>
        <div class="row my-5" style="justify-content: center"><button onclick="runPlugin('forexSignup');" class="btn btn-filled"> Trading Ahora </button></div>           
    </div>
</div>
<style>
    @import "/css/islamic.min.css";
</style>