<div class="mobile-img">
  <div class="container" style="background-image: url('/images/Trading Calculator mobile_Header.png');height:630px;background-size: cover;color: white;padding-top: 101%;">
    <h1 class="text-uppercase" style="color:var(--primary-color3);font-size: 21px;">Evest Calculadoras <br> de Trading

</h1>
    <h5 class="text-uppercase" style="
    color: white;
    font-size: 13px;">100% Herramienta efectiva para<br> tomar una decisión de hacer <br>trading basada en números

<br></h5>
    <p style="font-size: 13px;">
      <span style="color:var(--primary-color3);">Confíe en los números para obtener más información sobre su:<br></span>
      <span style="color:var(--primary-color3);">1.</span>&nbsp; Puntos de pivote<br>
      <span style="color:var(--primary-color3);">2.</span>&nbsp;Volumen de la posición<br>
      <span style="color:var(--primary-color3);">3.</span>&nbsp;Niveles de soporte y resistencia<br>
    </p></div>

    <div class="container">
      <div class="col-md-6">
        <h3 class="text-uppercase" style="font-size: 20px;">Su calculadora <br> de Pivote</h3>
        <p style="font-size: 12px;">
          Para un inversor, un pivote es un nivel de precio significativo,<br>
          similar a un punto de inflexión, donde espera que el precio <br>
          continúe en la dirección actual o se revertirá.<br><br>
          Los puntos de pivote se calculan utilizando puntos de precio alto, <br>
          bajo y de cierre de sesiones de trading anteriores para <br>
          predecir los niveles de soporte y resistencia para <br>
          la sesión actual o próxima.
        </p>
      </div>
      <div class="col-md-6">
         <iframe name="pivot" src="//www.mte-media.com/admin2/calcs/pivot_calculator.php?id=1389" frameborder="0" scrolling="no"></iframe>
    </div>
    </div> 
     <div class="container" style="background:url('/images/0 commission-08.jpg');background-size: cover;color:white;">
      <div class="col-md-6">
        <h3 class="text-uppercase text-left" style="color:var(--primary-color3);font-size: 20px;">Su calculadora de <br>volumen de posición</h3>
        <p style="
    font-size: 12px;
">
El volumen de una posición dentro de un portafolio, o la cantidad en dólares que los inversores utilizaran para trading, se conoce como volumen de la posición.
Los inversores utilizan el volumen de la posición para determinar cuántas unidades de un valor pueden hacer trading para controlar el riesgo y increcer las ganancias.<br><br>

Debe calcular el volumen de la posición porque si sus límites de pérdidas están demasiado alejados de su punto de entrada,
hay riesgo de perder mucho dinero antes de darse cuenta de que es posible que los precios no se recuperen rápidamente.
El volumen de posición ideal de una posición se calcula dividiendo la cantidad 
en riesgo o el límite de riesgo de la cuenta por el riesgo del trading.
        </p>
      </div>
      <div class="col-md-6">
        <iframe name="deal" src="//www.mte-media.com/admin2/calcs/deal_size_calculator.php?id=1389" "="" frameborder="0" scrolling="no"></iframe>
    </div>
    </div>
    <div class="container" style="
    margin-bottom: -40%;
">
  
      <div class="col-md-6">
        <h3 class="text-uppercase text-left" style="
    font-size: 20px;
">Su calculadora <br> de fibonacci</h3>
  
        <h6 class="font-weight-bold mt-3">¿Qué es “Fibonacci” en trading?</h6>
        <p style="
    font-size: 12px;
">
Fibonacci es una serie numérica en la que un número se encuentra agregando dos números antes. Las proporciones de Fibonacci,
como 61,8 por ciento, 38,2 por ciento y 23,6 por ciento, se utilizan con frecuencia en los gráficos. Cuando una acción,
por ejemplo, se mueve bruscamente hacia arriba o hacia abajo, tiende a volver sobre sus pasos antes de hacer el siguiente movimiento.<br><br>
        </p>
        <h6 class="font-weight-bold">¿Por qué necesitamos calcular fibonacci en el trading?</h6>
        <p style="
    font-size: 12px;
">
El uso de la calculadora de fibonacci le ayuda a dibujar líneas de soporte y resistencia,
así como a colocar órdenes de parar pérdidas (stop-loss) y establecer precios objetivo.
Las proporciones de Fibonacci incluso se pueden utilizar como el mecanismo principal en una estrategia de trading de contratendencia.
Demuestra cuánto de un movimiento anterior ha retrocedido el precio.
Es probable que la tendencia anterior continúe en la misma dirección.
        </p>
  
      </div>
      <div class="col-md-6">
        <iframe name="fibonacci" src="//www.mte-media.com/admin2/calcs/fibonacci_calculator.php?id=1389" frameborder="0" scrolling="no"></iframe>
    </div>
    </div>
</div>

<div class="desktop-img">
  <div class="row" style="background: url('/images/webp/Trading hoursB.webp');height:500px;background-size: cover;">
    <div class="container" style="color:white;display:flex;justify-content: center;align-items: center;">
      <div class="col-md-6">
        <img src="/images/webp/cal.webp" alt="calculator" style="width:80%">
      </div>
      <div class="col-md-6">
        <h1 class="text-uppercase" style="color:var(--primary-color3);">Evest Calculadoras <br> de Trading</h1>
        <h5 class="text-uppercase mt-2">100% Herramienta efectiva para<br> tomar una decisión de hacer <br>trading basada en números<br><br></h5>
        <p>
          <span style="color:var(--primary-color3);">Confíe en los números para obtener más información sobre su:<br><br></span>
          <span style="color:var(--primary-color3);">1.</span>&#160; Puntos de pivote<br>
          <span style="color:var(--primary-color3);">2.</span>&#160;Volumen de la posición<br>
          <span style="color:var(--primary-color3);">3.</span>&#160;Niveles de soporte y resistencia<br>
        </p>
      </div>  
    </div>
</div>


  <div class="container">
    <div class="col-md-6">
      <h3 class="text-uppercase">Su calculadora <br> de Pivote</h3>
      <p>
        Para un inversor, un pivote es un nivel de precio significativo,<br>
        similar a un punto de inflexión, donde espera que el precio <br>
        continúe en la dirección actual o se revertirá.<br><br>
        Los puntos de pivote se calculan utilizando puntos de precio alto, <br>
        bajo y de cierre de sesiones de trading anteriores para <br>
        predecir los niveles de soporte y resistencia para <br>
        la sesión actual o próxima..
      </p>
    </div>
    <div class="col-md-6">
       <iframe
      name="pivot"
      src="//www.mte-media.com/admin2/calcs/pivot_calculator.php?id=1389"
      frameBorder="0"
      scrolling="no"></iframe>
  </div>
  </div> 
   <div class="container" style="background:url('/images/0 commission-08.jpg');height: 530px;background-size: cover;color:white;">
    <div class="col-md-6">
      <iframe
      name="deal"
      src="//www.mte-media.com/admin2/calcs/deal_size_calculator.php?id=1389""
      frameBorder="0"
      scrolling="no"
    ></iframe>
  </div>
  <div class="col-md-6">
    <h3 class="text-uppercase text-left" style="color:var(--primary-color3);">Su calculadora de <br>volumen de posición</h3>
    <p>
      El volumen de una posición dentro de un portafolio, o la cantidad en dólares que los inversores utilizaran para trading, se conoce como volumen de la posición.
      Los inversores utilizan el volumen de la posición para determinar cuántas unidades de un valor pueden hacer trading para controlar el riesgo y increcer las ganancias.<br><br>

      Debe calcular el volumen de la posición porque si sus límites de pérdidas están demasiado alejados de su punto de entrada,
      hay riesgo de perder mucho dinero antes de darse cuenta de que es posible que los precios no se recuperen rápidamente.
      El volumen de posición ideal de una posición se calcula dividiendo la cantidad 
      en riesgo o el límite de riesgo de la cuenta por el riesgo del trading.
    </p>
  </div>
  </div>
  <div class="container" style="height:680px" >

    <div class="col-md-6">
      <h3 class="text-uppercase text-left">Su calculadora <br> de fibonacci</h3>

      <h6 class="font-weight-bold mt-3">¿Qué es “Fibonacci” en trading?</h6>
      <p>
        Fibonacci es una serie numérica en la que un número se encuentra agregando dos números antes. Las proporciones de Fibonacci,
        como 61,8 por ciento, 38,2 por ciento y 23,6 por ciento, se utilizan con frecuencia en los gráficos. Cuando una acción,
        por ejemplo, se mueve bruscamente hacia arriba o hacia abajo, tiende a volver sobre sus pasos antes de hacer el siguiente movimiento.<br><br>
      </p>
      <h6 class="font-weight-bold">¿Por qué necesitamos calcular fibonacci en el trading?</h6>
      <p>
        El uso de la calculadora de fibonacci le ayuda a dibujar líneas de soporte y resistencia,
        así como a colocar órdenes de parar pérdidas (stop-loss) y establecer precios objetivo.
        Las proporciones de Fibonacci incluso se pueden utilizar como el mecanismo principal en una estrategia de trading de contratendencia.
        Demuestra cuánto de un movimiento anterior ha retrocedido el precio.
        Es probable que la tendencia anterior continúe en la misma dirección.
      </p>

    </div>
    <div class="col-md-6">
      <iframe
        name="fibonacci"
        src="//www.mte-media.com/admin2/calcs/fibonacci_calculator.php?id=1389"
        frameBorder="0"
        scrolling="no"
      ></iframe>
  </div>
  </div>

</div>
<style>
  @import "/css/cal.min.css";
</style>