
<div class="container mobile-img" style="background: url('/images/HeaderFees.png');height:800px; background-size: cover;display:flex;flex-direction: column;">
  <%- page.fields.mobile_view[0].fields.content %> 
</div>

<div class="headerImg desktop-img" style="background: url('/images/webp/Trading Fees-02.webp');background-size: cover;color: white;height: 500px;">
  <div class="container">
    <div class="col-md-6">
      <%- page.fields.header.heading %> 
      <%- page.fields.header.subheading %>
    </div>
    <div class="col-md-6">
      <img src="/images/webp/FEES.webp" alt="fees" width="100%">
    </div>
  </div>
</div>

<div class="container" style="padding:0;">
  <%- page.fields.sections.section1 %> 
</div>
<style>
@import "/css/fees.min.css";
</style>
<script src="/js/pricing.min.js"></script>