<style>
  @import "/css/hours.min.css";
</style>
<div class="container mobile-img" style="background: url('/images/HeaderHours.png');height:700px; background-size: cover;display:flex;flex-direction: column;">
  <h1 class="text-uppercase text-white" style="font-size: 30px;padding-top: 119%;padding-bottom: 2%;padding-left: 7%;">El horario de <br> trading con Evest</h1>
  <h5 class="text-white" style="
    font-size: 15px;
    padding-bottom: 1% !important;
    padding-left: 7%;
">Elegir el tiempo de su trading es 100% esencial para el éxito</h5>
  <p style="color: white;font-size: 11px;line-height: 1.5;padding-left: 7%;">
    Los activos financieros tienen diferentes momentos en los que puede contratarlos según la categoría del activo y el mercado en el que se enumeran.
     Los CFD, por otro lado, tienen fechas de vencimiento.
</p>
</div>
<div class="headerImg desktop-img" style="background: url('/images/webp/Trading hoursB.webp');background-size: cover;height: 500px;color:white;display: flex;align-items: center;">
<div class="col-md-6">
  <img src="/images/webp/clock.webp" alt="clock" width="100%">
</div>
<div class="col-md-6">            
  <h1 class="text-uppercase">El horario de <br> trading con Evest</h1>
  <h5 class="py-3">Elegir el tiempo de su trading <br>es 100% esencial para el éxito</h5>
  <p style="color: white;font-size: 16px; line-height: 1.5;">
    Los activos financieros tienen diferentes momentos en los <br>
    que puede contratarlos según la categoría del activo y <br>
    el mercado en el que se enumeran. Los CFD, por otro lado, <br>
    tienen fechas de vencimiento
</p></div>

</div>

<div class="container">
    <div class="container p-3">
      <h4 class="text-left py-5">El horario del mercado (Hora de KSA GMT +2)</h4>
      <div class="row">
          
          <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th id="titleTabel">El horario del mercado</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr class="line1">
                    <td>Acciones </td>
                    <td>Materias primas</td>
                    <td>Índices</td>
                    <td>Divisas</td>
                  </tr>
                  <tr>
                      <td>Mercado</td>
                      <td>Mercado abierto</td>
                      <td>Mercado cerrado</td>
                      <td>Descanso diario</td>
                    </tr>
                    <tr class="line1">
                      <td>Chicago</td>
                      <td>Mon 9:00 AM</td>
                      <td>Fri 17:00 PM</td>
                      <td>12:30 – 13:30</td>
                    </tr>
                    <tr>
                      <td>London</td>
                      <td>Mon 9:00 AM</td>
                      <td>Fri 17:00 PM</td>
                      <td>12:30 – 13:30</td>
                    </tr>
                    <tr class="line1">
                      <td>Tokyo</td>
                      <td>Mon 9:00 AM</td>
                      <td>Fri 17:00 PM</td>
                      <td>12:30 – 13:30</td>
                    </tr>
                </tbody>
              </table>
          </div>
      </div>
      <div class="row my-5" >
        <p class="text-left desktop-img" style="color: var(--primary-color1);">
          el descanso diario es en realidad un descanso para el almuerzo, ya que el trading se detiene durante ese tiempo. <br>
          No puede hacer trading durante ese tiempo, pero puede decidir preestablecer sus tradings durante ese tiempo. <br>
          Tenga en cuenta que el horario de trading puede extenderse o disminuir según el nivel de flujo disponible en el mercado.</p>
          <p class="text-left mobile-img" style="color: var(--primary-color1);font-size: 13px;">
            el descanso diario es en realidad un descanso para el almuerzo,<br>
            ya que el trading se detiene durante ese tiempo. <br>
            No puede hacer trading durante ese tiempo, pero puede decidir<br>
            preestablecer sus tradings durante ese tiempo. <br>
            Tenga en cuenta que el horario de trading puede extenderse <br>
            o disminuir según el nivel de flujo disponible en el mercado.</p>
    </div>
    </div>  
</div>

<div class="row" style="background-color:#42135b;">
  <div class="container my-5 desktop-img" style="background-color:#42135b;color: white;display: flex;margin-bottom: 0px !important;">
    <div class="col-md-6" style="    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 15%;">
      <div class="row" style="display: flex; justify-content: flex-start;flex-direction: column;" >
        <h3 style="margin-bottom: 20px;">Vencimiento de CFD</h3>
      </div>
      <p style="color: white;">Vencimiento de CFD significa la fecha y hora en que el CFD ya no es
        efectivo para trading. Algunos CFD tienen una fecha de vencimiento 
        de 15 días, algunos tienen una fecha de vencimiento mensual y otros 
        tienen una fecha de vencimiento anual. Si tiene un trading abierto en 
        un CFD en el momento del vencimiento, el trading se cerrará 
        automáticamente o se transferirá al siguiente contrato con una nueva 
        fecha y hora de vencimiento. El proceso de reinversión está sujeto a 
        tarifas de rollover.</p>
    </div>
    <div class="col-md-6" style="    padding-top: 5%;
    padding-left: 8%;">
      <div class="row">
        <img src="/images/icons-01.png" alt="one" style="width: 19%;"> 
       <p style="color: white;padding-top: 6%;">Las fechas de vencimiento<br> cambian constantemente</p> 
      </div>
      <div class="row">
        <img src="/images/icons-02.png" alt="two" style="width: 19%;"> 
      <p style="color: white;padding-top: 5%;">En la fecha máxima, <br>las posiciones abiertas se cerrarán<br> 15 minutos antes del descanso diario</p> 
    </div>
      <div class="row">
          <img src="/images/icons-03.png" alt="three" style="width: 19%;"> 
          <p style="color: white;padding-top: 5%;">Para rollover sus posiciones<br> está sujeta a tarifas<br> de rollover.</p> 
      </div>
    </div>
  </div>
</div>

<div class="container my-5 mobile-img" style="background-color:#42135b;color: white;display: flex;margin-bottom: 0px !important; flex-direction: column;">
  <div class="col-md-6" style="    padding-left: 8%;
  padding-top: 5%;
  padding-bottom: 15%;">
    <div class="row" style="display: flex; justify-content: flex-start;flex-direction: column;" >
      <h3 style="margin-bottom: 20px;">Vencimiento de CFD</h3>
    </div>
    <p style="color: white; font-size:12px;">Vencimiento de CFD significa la fecha y hora en que el CFD ya no es
      efectivo para trading. Algunos CFD tienen una fecha de vencimiento 
      de 15 días, algunos tienen una fecha de vencimiento mensual y otros 
      tienen una fecha de vencimiento anual. Si tiene un trading abierto en 
      un CFD en el momento del vencimiento, el trading se cerrará 
      automáticamente o se transferirá al siguiente contrato con una nueva 
      fecha y hora de vencimiento. El proceso de reinversión está sujeto a 
      tarifas de rollover</p>
  </div>
  <div class="col-md-6" style="    padding-top: 5%;
  padding-left: 8%;">
    <div class="row">
      <img src="/images/icons-01.png" alt="one" style="width: 35%;"> 
     <p style="color: white; padding-top: 3%;">Las fechas de vencimiento<br> cambian constantemente</p> 
    </div>
    <div class="row">
      <img src="/images/icons-02.png" alt="two" style="width: 35%;"> 
    <p style="color: white;padding-top: 3%;">En la fecha máxima, <br>las posiciones abiertas se cerrarán<br> 15 minutos antes del descanso diario</p> 
  </div>
    <div class="row">
        <img src="/images/icons-03.png" alt="three" style="width: 35%;"> 
        <p style="color: white;padding-top: 3%;">Para rollover sus posiciones<br> está sujeta a tarifas<br> de rollover.</p> 
    </div>
  </div>
</div>



