<div class="mobile-img">
    <div class="container" style="background:url('/images/ZeroMobileHeader.png');height:800px;background-size: cover;color:white;">
        <h1 class="text-uppercase text-white" style="font-size: 25px;padding-top: 115%;">0% Comisión <br>de trading <br> de acciones</h1>
        <h4 class="text-uppercase" style="font-size: 15px;color:var(--primary-color3);">Trading con más de 300 de las <br> acciones más importantes del mundo </h4>
        <ul class="list-unstyled">
            <li><i class="fas fa-circle"></i> 0% Comisión sobre acciones</li>
            <li><i class="fas fa-circle"></i> 0% Tarifa por cotizaciones</li>
            <li><i class="fas fa-circle"></i> 0% Tarifa por herramientas de trading avanzadas </li>
            <li><i class="fas fa-circle"></i> 0% Tarifa sobre depósitos</li>
            <li><i class="fas fa-circle"></i> 0% Tarifa de enseñanza</li>
        </ul>
        <button onclick="runPlugin('forexSignup');" class="btn btn-pr" style="font-size:12px;">Comience trading</button>
    </div>
    <div class="container text-center pt-5">
        <h1 class="text-uppercase" style="color:#4e0979;font-weight:bold;font-size: 16px;">Empiece con el trading las acciones de las empresas más prometedoras del mundo</h1>
        <p style="font-size: 10px;">
            Ahora usted puede tomar un parte en el mundo corporativo cuando posee las acciones de las principales empresas del mundo con una comisión del 0%</p>
        <h4 class="text-uppercase" style="color:#4e0979;font-weight:bold;font-size: 12px;">Vuele más en el mundo de trading <br> con 0% de comisión</h4>
        <h6 class="text-center"><strong style="font-size: 12px;">El término es auto-explicativo.</strong></h6>
        <p style="font-size: 10px;">
            Simplemente significa que puede participar en el mundo <br> corporativo sin que esté obligado a pagar tarifas de bróker,<Br>
             beneficio o tarifas de transacciones en papel. y lo más importante, sin tarifas ocultas. <br><br>
             Otras empresas de trading cobran al menos las tarifas administrativas<br> o las tarifas de retención. 
            En evest, incurrimos en todas las inversiones de costos relacionados, como impuestos y tarifas de procesamiento.
        </p>
    </div>
    <div class="container" style="background: url('/images/0 commission-07.jpg');height: 348px;background-size: cover;color:var(--primary-color3);">
        <h2 class="text-uppercase text-center" style="padding-top: 8%;font-size: 16px; ">¿Cómo empiece trading acciones <br> con 0% comisión?</h2>
        <div class="container" style="padding-top: 0px;">
            <div class="container" style="display: flex; justify-content: space-evenly; align-items: center;">            
                <img src="/images/webp/0_-commission-05-es.webp" alt="icon1" style="width: 50%;">
                <img src="/images/webp/0_-commission-04-es.webp" alt="icon1" style="width: 50%;">
            </div>
            <div class="container" style="display: flex; justify-content: space-evenly; align-items: center;">      
                <img src="/images/webp/0_-commission-03-es.webp" alt="icon1" style="width: 40%;">
                <img src="/images/webp/0_-commission-02-es.webp" alt="icon1" style="width: 50%;">
            </div>


        </div>
    </div>
    <div class="container" style="height: 320px;padding: 32px 23px;">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-uppercase bold" style="font-size: 15px;font-weight: bolder;">Las ventajas de trading de acciones con 0% comisión </h1>
            </div>
            <div class="col-md-6"> <ul class="list-unstyled">
                <li><i class="fas fa-circle"></i> The volume is bound 100% by your<br>&nbsp;&nbsp;&nbsp;financial capabilities</li>
                <li><i class="fas fa-circle"></i> Paga 0% de tasas por cosas que no tiene que pagar</li>
                <li><i class="fas fa-circle"></i> Usted haga todo el potencial de su trading</li>
                <li><i class="fas fa-circle"></i> 100% Enseñanza gratuita.s</li>
            </ul>
            <h6><strong style="
    font-size: 11px;
">¿Está listo para empezar ahora? ¡Es hora de tomar decisión!</strong></h6><h6>
            <button onclick="runPlugin('forexSignup');" class="btn btn-filled mt-4 ml-5"  style="
">Cree una cuenta gratuita</a>
        </h6></div>
        </div>
    </div>
    <div class="container text-left" style="background:url('/images/0 commission-08.jpg');background-size: cover;color:white;align-items: baseline;/* padding: 14px 34px; */padding-top: 10%;padding-bottom: 6%;padding-left: 7%;">
        <h1 class="text-uppercase" style="font-size: 16px;text-align: center;padding-left: 3%;padding-bottom: 6%;">Las preguntas más frecuentes sobre <br> 0% de comisión
</h1>       
        <h6 class="q">Q1&nbsp; ¿Qué acciones puedo hacer trading al 0%?</h6>
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Todas las acciones estan disponibles en nuestra plataforma.</h6>
        <h6 class="q">Q2&nbsp; ¿Quién es elegible para trading de acciones al 0%?</h6>
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Todos los usuarios de nuestra plataforma son elegibles para trading de acciones al 0% de comisión.</h6>
        <h6 class="q">Q3&nbsp;¿Realmente se va a convertir en propietario de las acciones?</h6>
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trading CFD le brinda todas las ventajas de tener las acciones menos la propiedad real de las mismas.</h6>
        <h6 class="q">Q4&nbsp;¿Cuál es el número máximo de trading que puedo realizar en acciones al 0%?</h6>
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Por favor, lee los términos y condiciones</h6>
        <h6 class="q">Q5&nbsp;¿Existe un límite de tiempo sobre cuánto tiempo puedo mantener mi trading al 0%?</h6>
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El tiempo que desee mantener abiertas su trading es depende de usted.</h6>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button onclick="runPlugin('forexSignup');" class="btn btn-filled" style="
    margin-left: 30%;
">Trading ahora</button>
</div>
</div>

<div class="desktop-img">
<div class="row" style="background: url('/images/webp/Contact Us En BG-02.webp');background-size: cover;">
    <div class="container" style="height: 530px;color:white;display: flex;justify-content: center;align-items: center;">
        <div class="col-md-6">    
            <h1 class="text-uppercase">0% Comisión de<br> trading  de acciones</h1>
            <h4 class="text-uppercase">Trading con más de 300 de las <br> acciones más importantes del mundo </h4>
            <ul class="list-unstyled">
                <li><i class="fas fa-circle"></i> 0% Comisión sobre acciones</li>
                <li><i class="fas fa-circle"></i> 0% Tarifa por cotizaciones</li>
                <li><i class="fas fa-circle"></i> 0% Tarifa por herramientas de trading avanzadas</li>
                <li><i class="fas fa-circle"></i> 0% Tarifa sobre depósitos</li>
                <li><i class="fas fa-circle"></i> 0% Tarifa de enseñanza</li>
            </ul>
            <button onclick="runPlugin('forexSignup');"class="btn btn-pr">Comience trading</button>
        </div>
        <div class="col-md-6">
            <img src="/images/webp/stockss.webp" alt="stocks" width="100%">
        </div>

    </div>
</div>

<div class="container text-left py-5" style="display: flex;flex-direction: column;">
    <div class="row">
        <div class="col-md-6"><h4 class="text-uppercase">Empiece con el trading <br> las acciones de las empresas <br> más prometedoras del mundo.</h4></div>
        <div class="col-md-6">        
            <p>Ahora usted puede tomar un parte en el mundo corporativo cuando posee las acciones de las principales empresas del mundo con una comisión del 0%.</p>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-6">
            <h4 class="text-uppercase">Vuele más en el mundo  <br>de trading con 0% de comisión</h4>
        </div>
        <div class="col-md-6">
            <h6><strong>El término es auto-explicativo.</strong></h6>
            <p>Simplemente significa que puede participar en el mundo corporativo sin que esté obligado a pagar tarifas de bróker,<br>
                beneficio o tarifas de transacciones en papel. y lo más importante, sin tarifas ocultas. <br><br>
                Otras empresas de trading cobran al menos las tarifas administrativas o las tarifas de retención. <br>
                En evest, incurrimos en todas las inversiones de costos relacionados, como impuestos y tarifas de procesamiento
            </p>
        </div>
    </div>



    

</div>

<div class="row" style="background: url('/images/0 commission-07.jpg');height: 500px;background-size: cover;color:var(--primary-color3);">
    <div class="container">
        <h2 class="text-uppercase text-center" style="
    ">¿Cómo empiece trading acciones con 0% comisión?</h2>
        <div class="container">
            <img src="/images/webp/0_-commission-05-es.webp" alt="icon1" style="width: 20%;">
            <img src="/images/webp/0_-commission-04-es.webp" alt="icon1" style="width: 20%;">
            <img src="/images/webp/0_-commission-03-es.webp" alt="icon1" style="width: 15%;">
            <img src="/images/webp/0_-commission-02-es.webp" alt="icon1" style="width: 20%;">
        </div>
    </div>
</div>

<div class="row" style="background-image: url('/images/webp/greenBack.webp');height:500px;background-size: cover;align-items: center;">
<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-uppercase bold">
                Las ventajas  <br>de trading de <br>acciones con <br> 0% comisión 
            </h1>
        </div>
        <div class="col-md-6"> <ul class="list-unstyled">
            <li><i class="fas fa-circle"></i> El volumen está limitado al 100% por sus capacidades financieras.</li>
            <li><i class="fas fa-circle"></i> Paga 0% de tasas por cosas que no tiene que pagar</li>
            <li><i class="fas fa-circle"></i> Usted haga todo el potencial de su trading</li>
            <li><i class="fas fa-circle"></i> 100% Enseñanza gratuita.s</li>
        </ul>
        <h6><strong>¿Está listo para empezar ahora? ¡Es hora de tomar decisión!</strong><h6>
    </div>
    </div>
    <div class="row" style="display:flex;justify-content: center;">
        <button onclick="runPlugin('forexSignup');" class="btn btn-filled mt-4">Cree una cuenta gratuita</button>
    </div>
</div>
</div>

<div class="container text-center" style="height: 500px;">
    
    <div class="row"><h1 class="text-uppercase">Las preguntas más frecuentes sobre <br> 0% de comisión</h1></div>
    <div class="row pt-4">
        <div class="col-md-6">
            <div class="row">            <h6 class="q">Q1 &#160; ¿Qué acciones puedo hacer trading al 0%?</h6>
                <h6>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Todas las acciones estan disponibles en nuestra plataforma.</h6>
            </div>
            <div class="row">            <h6 class="q">Q2 &#160; ¿Quién es elegible para trading de acciones al 0%?</h6>
                <h6>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Todos los usuarios de nuestra plataforma<br>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;son elegibles para trading de acciones al 0% de comisión.</h6></div>
            <div class="row">            <h6 class="q">Q3 &#160; ¿Realmente se va a convertir en propietario de las acciones?</h6>
                <h6>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Trading CFD le brinda todas las ventajas de tener las acciones menos la propiedad real de las mismas</h6>
                </div>
            
        </div>
        <div class="col-md-6">
            <div class="row">            <h6 class="q">Q4 &#160;¿Cuál es el número máximo de trading que puedo realizar en acciones al 0%?</h6>
                <h6>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Por favor, lee los términos y condiciones</h6>
            </div>
            <div class="row">            <h6 class="q">Q5 &#160;¿Existe un límite de tiempo sobre cuánto tiempo puedo mantener mi trading al 0%?</h6>
                <h6>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;El tiempo que desee mantener abiertas su trading es depende de usted.</h6></div>
            <div class="row"></div>
        </div>
    </div>
    <div class="row pt-4" style="display:flex;justify-content: center;">
        <button class="btn btn-filled" onclick="runPlugin('forexSignup');">Trading ahora</button>
    </div>

</div>

</div>
<style> 
    @import "/css/zero.min.css";
</style>