<div class="mobile-img">
    <div class="container" style="background: url('/images/Career Mobile-03.png');height:700px;background-size: cover;color:white;padding-top: 100%;">
        <h1 style="padding-top: 21.5%;font-size: 40px;">Carrera</h1>
        <h4 style="color:var(--primary-color3);font-size: 17px;">Nosotras estamos contratando!</h4>
    </div>
    <div class="container">
        <div class="row" style="height: 50px;"></div>
        <div class="row" style="background: #3C1858;height:70px;display: flex;justify-content: center;align-items: center;">
        <h3>LISTADO DE EMPLEOS</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5>Trader Senior | Chipre</h5>
                <h5>CYRPUS</h5>
            </div>
            <div class="col-md-8">
                <p style="font-size: 14px;">
                    Buscamos un trader senior experimentado para unirse a nuestro equipo de estrategia empresarial.<br>
                    Como nuestro trader senior, iniciará su labor para ayudar a desarrollar la estrategia <br>
                    y la hoja de ruta de las asociaciones de Evest. Si usted es un apasionado de la tecnología,<br>
                    la innovación, la estrategia empresarial y las alianzas, su lugar está con nosotros.
                </p>
                <ul class="list-unstyled">
                    <strong>Responsabilidades:</strong>
                    <li><i class="fas fa-circle"></i>Impulse los productos de FX y servicios de divisas en todo el lugar, hacia adelante y directamente</li>
                    <li><i class="fas fa-circle"></i>Responsable de la ejecución exitosa de trading de FX</li>
                    <li><i class="fas fa-circle"></i>Maximice las ganancias y minimice el riesgo dentro de la aceptabilidad a través de la creación de mercado, el posicionamiento y el trading dentro de los límites, políticas y procedimientos aprobados.</li>
                    <li><i class="fas fa-circle"></i>Explore proveedores de FX eficientes y coordínese con ellos para cotizaciones de FX de escritorio y basadas en Api</li>
                    <li><i class="fas fa-circle"></i>Siga los mercados macro a nivel local y global y analice la evolución del mercado.</li>
                    <li><i class="fas fa-circle"></i>Explorar oportunidades comerciales y asesorar estrategias para impulsar los volúmenes de divisas y los ingresos</li>
                    <li><i class="fas fa-circle"></i>Proporcionar un análisis oportuno de las exposiciones a riesgos clave a los gerentes.</li>
                    <li><i class="fas fa-circle"></i>Proporcionar SIG clave semanal y mensual a los ejecutivos.</li>
                    <li><i class="fas fa-circle"></i>Trabajar en estrecha colaboración con los equipos internos para garantizar un funcionamiento preciso y eficiente de la sala de operaciones.</li>
                    <li><i class="fas fa-circle"></i>Proporcionar actualizaciones del mercado y desarrollar el análisis del trading para los gerentes.</li>
                </ul>
                <ul class="list-unstyled">
                    <strong>Calificaciones:</strong>
                    <li><i class="fas fa-circle"></i>Diplomado superior en Finanzas o Economía</li>
                    <li><i class="fas fa-circle"></i>Al menos 2-3 años de experiencia en el trato con FX</li>
                    <li><i class="fas fa-circle"></i>Familiar with trading systems like MT4, Reuters, Bloomberg, etc</li>
                    <li><i class="fas fa-circle"></i>Familiarizado con sistemas de trading como MT4, Reuters, Bloomberg, etc.</li>
                    <li><i class="fas fa-circle"></i>Experiencia previa con trading de FOREX, reserva de margen, trading de TOD, TOM, SPOT y FORWARD</li>
                    <li><i class="fas fa-circle"></i>Experiencia previa con FX - análisis técnico y fundamental</li>
                    <li><i class="fas fa-circle"></i>Analítico y detallista con buen sentido numérico</li>  
                    <li><i class="fas fa-circle"></i>Dominio del inglés hablado y escrito</li>   
                </ul>
                <button class="btn btn-filled">Presentese a este trabajo</button>
            </div>
        </div>
    </div>
</div>

<div class="desktop-img">

    <div class="row" style="background: url('/images/webp/Career-En BG-02.webp');background-size: cover;">
        <div class="container" style="color:white;display: flex;justify-content: space-between;align-items: center;">
            <div class="container">
                <h1 style="padding-top: 21.5%;font-size: 60px;">Carrera</h1>
                <h4 style="color:var(--primary-color3);">Nosotras estamos contratando!</h4>
            </div>
            <div class="container">
                <img src="/images/webp/enter.webp" alt="Enter" style="width: 100%;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="height:0px;"></div>
        <div class="row" style="background: #3C1858;height:70px;display:none;">
        <h3>LISTADO DE EMPLEOS</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5>Trader Senior | Chipre</h5>
                <h5>CYRPUS</h5>
            </div>
            <div class="col-md-8">
                <p> Buscamos un trader senior experimentado para unirse a nuestro equipo de estrategia empresarial.<br>
                    Como nuestro trader senior, iniciará su labor para ayudar a desarrollar la estrategia <br>
                    y la hoja de ruta de las asociaciones de Evest. Si usted es un apasionado de la tecnología,<br>
                    la innovación, la estrategia empresarial y las alianzas, su lugar está con nosotros.
                </p>
                <ul class="list-unstyled">
                    <strong>Responsabilidades:</strong>
                    <li><i class="fas fa-circle"></i>Impulse los productos de FX y servicios de divisas en todo el lugar, hacia adelante y directamente</li>
                    <li><i class="fas fa-circle"></i>Responsable de la ejecución exitosa de trading de FX</li>
                    <li><i class="fas fa-circle"></i>Maximice las ganancias y minimice el riesgo dentro de la aceptabilidad a través de la creación de mercado, el posicionamiento y el trading dentro de los límites, políticas y procedimientos aprobados.</li>
                    <li><i class="fas fa-circle"></i>Explore proveedores de FX eficientes y coordínese con ellos para cotizaciones de FX de escritorio y basadas en Api</li>
                    <li><i class="fas fa-circle"></i>Siga los mercados macro a nivel local y global y analice la evolución del mercado.</li>
                    <li><i class="fas fa-circle"></i>Explorar oportunidades comerciales y asesorar estrategias para impulsar los volúmenes de divisas y los ingresos</li>
                    <li><i class="fas fa-circle"></i>Proporcionar un análisis oportuno de las exposiciones a riesgos clave a los gerentes.</li>
                    <li><i class="fas fa-circle"></i>Proporcionar SIG clave semanal y mensual a los ejecutivos.</li>
                    <li><i class="fas fa-circle"></i>Trabajar en estrecha colaboración con los equipos internos para garantizar un funcionamiento preciso y eficiente de la sala de operaciones.</li>
                    <li><i class="fas fa-circle"></i>Proporcionar actualizaciones del mercado y desarrollar el análisis del trading para los gerentes.</li>
                </ul>
                <ul class="list-unstyled">
                    <strong>Calificaciones:</strong>
                    <li><i class="fas fa-circle"></i>Diplomado superior en Finanzas o Economía</li>
                    <li><i class="fas fa-circle"></i>Al menos 2-3 años de experiencia en el trato con FX</li>
                    <li><i class="fas fa-circle"></i>Familiar with trading systems like MT4, Reuters, Bloomberg, etc</li>
                    <li><i class="fas fa-circle"></i>Familiarizado con sistemas de trading como MT4, Reuters, Bloomberg, etc.</li>
                    <li><i class="fas fa-circle"></i>Experiencia previa con trading de FOREX, reserva de margen, trading de TOD, TOM, SPOT y FORWARD</li>
                    <li><i class="fas fa-circle"></i>Experiencia previa con FX - análisis técnico y fundamental</li>
                    <li><i class="fas fa-circle"></i>Analítico y detallista con buen sentido numérico</li>  
                    <li><i class="fas fa-circle"></i>Dominio del inglés hablado y escrito</li>   
                </ul>
                <button class="btn btn-filled">Presentese a este trabajo</button>
            </div>
        </div>
    </div>
</div>
<style>
    @import "/css/careers.min.css";
</style>