<div class="mobile-img">
    <div class="contianer" style="background: url('/images/Contact us Mobile-04.png');height:700px;background-size: cover;padding-left: 6%;">
        <h1 class="text-uppercase text-white" style="padding-top: 142%;font-size: 28px;">
            Servicio de  <br> atención al cliente <br> Contáctenos 
        </h1>
        <h6 class="text-uppercase" style="color:var(--primary-color3);font-size: 15px;">
            Estamos a su servicio,<br> cómo podemos ayudarle
        </h6>
    </div>
    <div class="container" style="padding: 21px 10px;">
        <div class="text-uppercase alert-success text-center mb-5"><%= message %></div>
        <div class="row">
            <h3 class="text-uppercase" style="font-size: 11px;padding-bottom: 3%;padding-left: 4%;">Envíe una solicitud de ayuda y uno de nuestros profesionales<br>
                de soporte le atenderá con mucho gusto. </h3>
        </div>
        <form action="/es/send" method="POST">
            <div class="row">
                <div class="col-md-6 filedin"><h6>Tu nombre completo <span style="font-size: 9px;font-family: 'Evest Font';">(Registrado en Evest)</span></h6>
                    <input type="text" required placeholder="Full Name" name="fullName">
                </div>
                <div class="col-md-6 filedin">
                    <h6>Correo electrónico <span style="font-size: 9px;font-family: 'Evest Font';">(Registrado en Evest)</span></h6>
                    <input type="email" required placeholder="youremail@mail.com" name="email">
                </div>
            </div>
            <div class="row" style="display: flex;align-items: baseline;">
                <div class="col-md-6 filedin"><h6>Número de teléfono</h6>
                    <input type="text" required placeholder="0123456789" name="phonenumber">
                </div>
                <div class="col-md-6 filedin">
                    <h6>¿Cuál es su pregunta?</h6>
                    <select name="question" id="question">
                        <option disabled value=""  selected hidden>Elija una</option>
                        <option value="Accountle">Cuenta</option>
                        <option value="Billing & subscription">Facturación y suscripción</option>
                        <option value="Feedback">Realimentación</option>
                        <option value="Website problems">problemas del sitio web</option>
                        <option value="Post">Correo</option>
                    </select>
                </div>
            </div>
           <!--  <div class="row">
                <div class="col-md-6 filedin"><h6>WHAT IS YOUR QUESTION ABOUT? CHOOSE ONE</h6>
                        <label for="questionId1" class="radio">
                            <input type="radio" name="question" id="questionId1" value="accountle" class="radio__input">
                            <div class="radio__radio"></div>
                            Accountle
                        </label>
                        <label for="questionId2" class="radio">
                            <input type="radio" name="question" id="questionId2" value="bill&subscription" class="radio__input">
                            <div class="radio__radio"></div>
                            Billing & subscription
                        </label>
                        <label for="questionId3" class="radio">
                            <input type="radio" name="question" id="questionId3" value="feedback" class="radio__input">
                            <div class="radio__radio"></div>
                            Feedback
                        </label>
                        <label for="questionId4" class="radio">
                            <input type="radio" name="question" id="questionId4" value="website problems" class="radio__input">
                            <div class="radio__radio"></div>
                            Website problems
                        </label>
                        <label for="questionId5" class="radio">
                            <input type="radio" name="question" id="questionId5" value="post" class="radio__input">
                            <div class="radio__radio"></div>
                            Post
                        </label>
                </div> 

                <div class="col-md-6 filedin">
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-6 filedin"><h6>Sujeto</h6>
                    <input type="text" required placeholder="Subject" name="subject">
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="container filedin">
                <h6>Mensaje</h6>
                <textarea required name="message">Por favor, escriba lo más posible de los detalles, incluyendo el dispositivo que está utilizando, navegador, fechas, horarios, etc .
                </textarea>
                </div>
    
    
            </div>
            <div class="row">
                <button class="btn btn-filled" type="submit" value="Submit">Enviar</button>
            </div>
        </form>
    </div>
    <div class="container" style="background-image: url('/images/Contact Us En-03.png');height:200px;background-size: cover;color:var(--primary-color3);align-items: center;display: none;flex-direction: column;padding-top: 7%;">
        <div class="col-md-6">
            <h5 style="
        font-size: 12px;
    "><strong>EVEST MAIN OFFICE</strong></h5>
            <h5 style="
        font-size: 12px;
    ">
                ATRIAFINANCIAL LTD,<br>
                S.I.P BUILDING, P.O BOX 3010,<br>
                RUE PASTEUR, PORT VILA VANUATU
            </h5>
        </div>
        <div class="col-md-6">
            <h5 style="
        font-size: 12px;
    ">
                <strong>UAE FREE CALL:</strong><br>
                +971-800-0311-1248
            </h5>
            <h5 style="
        font-size: 12px;
    ">
                <strong>SAUDI ARABIA FREE CALL:</strong><br>
                +966-800-850-1019
            </h5>
        </div>
        </div>
</div>

<div class="desktop-img">
    <div class="row" style="background: url('/images/webp/Contact Us En BG-02.webp');background-size: cover;height: 500px;">
    <div class="container" style="display: flex;align-items: center;">
        <div class="col-md-6">
            <h1 class="text-uppercase" style="color:var(--primary-color3);">
                Servicio de  <br> atención al cliente <br> Contáctenos 
            </h1>
            <h6 class="text-white" style="font-family: 'Evest Font';">
                Estamos a su servicio,<br> cómo podemos ayudarle
            </h6>
        </div>
        <div class="col-md-6">
            <img src="/images/webp/contact us icon.webp" alt="Icon">
        </div>
    </div>
</div>
    <div class="container" style="padding: 30px 45px;">
        <div class="text-uppercase alert-success text-center mb-5"><%= message %></div>
        <div class="row">
            <h3 style="padding-bottom: 3%;">Envíe una solicitud de ayuda y uno de nuestros profesionales<br>
                de soporte le atenderá con mucho gusto. </h3>
        </div>
        <form action="/es/send" method="POST">
            <div class="row">
                <div class="col-md-6 filedin"><h6>Tu nombre completo <span style="font-size: 9px;font-family: 'Evest Font';">(Registrado en Evest)</span></h6>
                    <input type="text" required placeholder="Full Name" name="fullName">
                </div>
                <div class="col-md-6 filedin">
                    <h6>Correo electrónico <span style="font-size: 9px;font-family: 'Evest Font';">(Registrado en Evest)</span></h6>
                    <input type="email" required placeholder="youremail@mail.com" name="email">
                </div>
            </div>
            <div class="row" style="display: flex;align-items: baseline;">
                <div class="col-md-6 filedin"><h6>Número de teléfono</h6>
                    <input type="text" required placeholder="0123456789" name="phonenumber">
                </div>
                <div class="col-md-6 filedin">
                    <h6>¿Cuál es su pregunta?</h6>
                    <select name="question" id="question">
                        <option disabled value=""  selected hidden>Elija una</option>
                        <option value="Accountle">Cuenta</option>
                        <option value="Billing & subscription">Facturación y suscripción</option>
                        <option value="Feedback">Realimentación</option>
                        <option value="Website problems">problemas del sitio web</option>
                        <option value="Post">Correo</option>
                    </select>
                </div>
            </div>
           <!--  <div class="row">
                <div class="col-md-6 filedin"><h6>WHAT IS YOUR QUESTION ABOUT? CHOOSE ONE</h6>
                        <label for="questionId1" class="radio">
                            <input type="radio" name="question" id="questionId1" value="accountle" class="radio__input">
                            <div class="radio__radio"></div>
                            Accountle
                        </label>
                        <label for="questionId2" class="radio">
                            <input type="radio" name="question" id="questionId2" value="bill&subscription" class="radio__input">
                            <div class="radio__radio"></div>
                            Billing & subscription
                        </label>
                        <label for="questionId3" class="radio">
                            <input type="radio" name="question" id="questionId3" value="feedback" class="radio__input">
                            <div class="radio__radio"></div>
                            Feedback
                        </label>
                        <label for="questionId4" class="radio">
                            <input type="radio" name="question" id="questionId4" value="website problems" class="radio__input">
                            <div class="radio__radio"></div>
                            Website problems
                        </label>
                        <label for="questionId5" class="radio">
                            <input type="radio" name="question" id="questionId5" value="post" class="radio__input">
                            <div class="radio__radio"></div>
                            Post
                        </label>
                </div> 

                <div class="col-md-6 filedin">
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-6 filedin"><h6>Sujeto</h6>
                    <input type="text" required placeholder="Subject" name="subject">
                </div>
                <div class="col-md-6 filedin">
                </div>
            </div>
            <div class="row">
                <div class="container filedin">
                <h6>Mensaje</h6>
                <textarea required name="message">Por favor, escriba lo más posible de los detalles, incluyendo el dispositivo que está utilizando, navegador, fechas, horarios, etc .
                </textarea>
                </div>
    
    
            </div>
            <div class="row">
                <button class="btn btn-filled" type="submit" value="Submit">Enviar</button>
            </div>
        </form>
        
    </div>

    <div class="container" style="background-image: url('/images/Contact Us En-03.png');height:200px;background-size: cover;color:var(--primary-color3);display: none;align-items: center;">
    <div class="col-md-6">
        <h5><strong>Oficina principal de Evest</strong></h5>
        <h5>
            ATRIAFINANCIAL LTD,<br>
            S.I.P BUILDING, P.O BOX 3010,<br>
            RUE PASTEUR, PORT VILA VANUATU
        </h5>
    </div>
    <div class="col-md-6">
        <h5 >
            <strong >UAE llamada gratuita:</strong><br>
            +971-800-0311-1248
        </h5>
        <h5>
            <strong>SAUDI ARABIA llamada gratuita:</strong><br>
            +966-800-850-1019
        </h5>
    </div>
    </div>
</div>

<style>
    @import "/css/contact.min.css";
</style>