<div class="container desktop-img">
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_01_01.jpg');height:500px;background-size: cover;">
        <div class="col-md-6 leftSide" style=" top: 20%;">
             <h5>Establecimiento de<br> la empresa Evest</h5>
            <p>
                Dos personas del equipo fundador decidieron <br>
                cambiar el concepto general del Trading en el<br> 
                Medio Oriente y su misión principal fue aprovechar<br>
                los activos, herramientas y asociaciones, para<br>
                proporcionar a los operadores datos realistas,<br>
                confiables y en tiempo real para que Evest ser<br>
                la plataforma en la que la mayor cantidad de<br>
                clientes confían en su negocio al brindar datos<br>
                honestos, realistas y confiables en tiempo real.
            </p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_01_02.jpg');height: 351px;background-size: cover;">
        <div class="col-md-6"></div>
        <div class="col-md-6 rightSide">                <h5>Web-Trader</h5>
            <p>
                La primera versión de la plataforma de<br>
                Trading  se lanzó a través del navegador de<br>
                Internet (Web Trader), y era una plataforma<br>
                de Trading confiable y altamente eficiente<br>
                a la que los clientes podían acceder utilizando<br>
                cualquier navegador desde cualquier parte<br> del mundo
            </p></div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_02_01.jpg');height: 358px;background-size: cover;">
        <div class="col-md-6 leftSide" style="top: 10%;">
            <h5>Asociaciones estratégicas</h5>
            <p>
                La compañía ha ampliado su gama de productos<br>
                al lograr una asociación estratégica eficaz con<br>
                Trading Central, un programa basado en<br>
                algoritmos patentados y premiados para<br>
                proporcionar a los clientes recomendaciones de<br>
                Trading  e inversión en más de 70.000 instrumentos<br> financieros
            </p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_02_02.jpg');height: 363px;background-size: cover;">
        <div class="col-md-6"></div>
        <div class="col-md-6 rightSide">
            <h5>0% de comisión sobre el Trading<br> en acciones de por vida</h5>
            <p>
                Se anunció oficialmente el lanzamiento de<br>
                Evest y se lanzó un programa de comisión del<br>
                0% para Trading todas las acciones de las<br>
                empresas internacionales más exitosas en la<br>
                plataforma Evest de por vida.
            </p>
        </div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_03_01.jpg');height: 358px;background-size: cover;">
        <div class="col-md-6 leftSide">
            <h5>Cuentas islámicas 100% sin intereses</h5>
            <p>
                Después de un estudio en profundidad de las<br>
                necesidades de los clientes, se diseñó una<br>
                nueva cuenta Trading de acuerdo con las<br>
                mejores prácticas comerciales internacionales<br>
                y adecuada para los clientes que desean<br>
                comerciar sin ahondar en intereses usureros;<br>
                en consecuencia, se lanzó el programa de<br> cuentas islámicas
            </p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_03_02.jpg');height: 353px;background-size: cover;">
        <div class="col-md-6"></div>
        <div class="col-md-6 rightSide">
            <h5>Academia de Trading 100% gratuita</h5>
            <p>
                La preparación comienza en 2020 como<br>
                parte del plan de base y se lanzó oficialmente<br>
                en marzo de 2021 -Nombramiento de los<br>
                mejores expertos para preparar materiales<br>
                educativos e instructivos que incluyan artículos,<br>
                videos, libros electrónicos y conferencias en<br> línea.
            </p>
        </div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_04_01.jpg');height: 342px;background-size: cover;">
        <div class="col-md-6 leftSide">
            <h5>Plataforma de comercio<br> global MetaTrader 5</h5>
            <p>
                La plataforma MetaTrader 5 se ha agregado<br>
                a la plataforma WebTrader, lo que eleva el<br>
                número de plataformas disponibles para usar<br>
                con Evest a dos
            </p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_04_02.jpg');height: 377px;background-size: cover;">
        <div class="col-md-6"></div>
        <div class="col-md-6 rightSide">
            <h5>Aplicación de Trading</h5>
            <p>
                La primera versión de la aplicación Evest se<br>
                lanzó en App Store y Google Play, elevando a<br>
                tres la cantidad de plataformas en las que los<br> clientes pueden comerciar.
            </p>
        </div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_05_01.jpg');height: 362px;background-size: cover;">
        <div class="col-md-6 leftSide">
            <h5>Trading desde el móvil</h5>
            <p>
                El Trading  de los clientes se ha actualizado y<br>
                activado en la plataforma web en teléfonos<br>
                móviles y tabletas, por lo que los clientes de<br>
                Evest tienen cuatro formas de operar en los<br>
                mercados financieros globales.
            </p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_05_02.jpg');height: 351px;background-size: cover;">
        <div class="col-md-6"></div>
        <div class="col-md-6 rightSide">
            <h5>Programa Recomendar amigos<br>-Invitar amigos</h5>
            <p>Este programa se lanzó para alentar a los<br>
               clientes a invitar a sus amigos a comerciar<br>
               utilizando las plataformas EVEST y se<br>
               depositarán $ 100 por cada recomendación<br> exitosa
            </p>
        </div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_06_01.jpg');height: 343px;background-size: cover;">
        <div class="col-md-6 leftSide">
            <h5>Forex Expo Dubai 2021</h5>
            <p>Evest Forex Dubai 2021 ingresó al evento<br>
               como patrocinador platino para el evento de<br>
               tres días y al final de la celebración, Evest fue<br>
                honrada con el premio al corredor de más<br>
                rápido crecimiento en la región de Medio<br>
                Oriente y África del Norte para el año 2021
            </p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp1)_06_02.jpg');height: 455px;background-size: cover;">
        <div class="col-md-6"></div>
        <div class="col-md-6 rightSide">
            <h5>Actualización importante de<br> Apple y Google</h5>
            <p>
                Evest ha sido aprobado por Apple y el<br>
                organismo de control de Google para poder<br>
                enviar notificaciones de medios a los clientes<br>
                sobre las condiciones del mercado de valores.
            </p>
        </div>
    </div>
    <div class="row" style="background: url('/images/timeline/timeline-(Sp)_crypto.jpg');height: 371px;background-size: cover;margin-top: -6.2%;">
        <div class="col-md-6 leftSide">
            <h5>Las criptomonedas</h5>
            <p>
                más importantes del mundo están incluidas<br>
                en nuestra plataforma, para aumentar las<br>
                categorías de instrumentos financieros a 8
            </p>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

<div class="mobile-img">
    <div class="row" style="background: url('/images/webp/mobile-timeline-sp_01.webp');height: 230px;background-size: cover;">
        <div class="col-md-6" style="top: 36%;left: 1%;">
            <h5>Establecimiento de<br> la empresa Evest</h5>
            <p>
                Dos personas del equipo fundador decidieron <br>
                cambiar el concepto general del Trading en el<br> 
                Medio Oriente y su misión principal fue aprovechar<br>
                los activos, herramientas y asociaciones, para<br>
                proporcionar a los operadores datos realistas,<br>
                confiables y en tiempo real para que Evest ser<br>
                la plataforma en la que la mayor cantidad de<br>
                clientes confían en su negocio al brindar datos<br>
                honestos, realistas y confiables en tiempo real.
            </p></div>
    </div>
    <div class="row" style="background:url('/images/webp/mobile-timeline_02.webp');height: 250px;background-size: cover;margin-top: 25%;"></div>
<!-- new Section -->
    <div class="row" style="background: url('/images/webp/mobile-timeline-sp_03.webp');height: 259px;background-size: cover;">
        <div class="container pull-right" style="
    position: relative;
    top: 36%;
    left: 2%;
"> 
<h5>Web-Trader</h5>
            <p>
                La primera versión de la plataforma de<br>
                Trading  se lanzó a través del navegador de<br>
                Internet (Web Trader), y era una plataforma<br>
                de Trading confiable y altamente eficiente<br>
                a la que los clientes podían acceder utilizando<br>
                cualquier navegador desde cualquier parte<br> del mundo
            </p></div>
    </div>
    <div class="row" style="background:url('/images/webp/mobile-timeline_04.webp');height: 176px;background-size: contain !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_05.webp');height: 280px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 31%;left: 2%;"> 
        <h5>Asociaciones estratégicas</h5>
        <p>
            La compañía ha ampliado su gama de productos<br>
            al lograr una asociación estratégica eficaz con<br>
            Trading Central, un programa basado en<br>
            algoritmos patentados y premiados para<br>
            proporcionar a los clientes recomendaciones de<br>
            Trading  e inversión en más de 70.000 instrumentos<br> financieros
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_06.webp');height: 184px;background-size: contain !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_07.webp');height: 273px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 36%;left: 3%;"> 
        <h5>0% de comisión sobre el Trading<br> en acciones de por vida</h5>
        <p>
            Se anunció oficialmente el lanzamiento de<br>
            Evest y se lanzó un programa de comisión del<br>
            0% para Trading todas las acciones de las<br>
            empresas internacionales más exitosas en la<br>
            plataforma Evest de por vida.
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_08.webp');height: 193px;background-size: contain !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_09.webp');height: 280px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 33%;left: 1%;"> 
        <h5>Cuentas islámicas 100% sin intereses</h5>
        <p>
            Después de un estudio en profundidad de las<br>
            necesidades de los clientes, se diseñó una<br>
            nueva cuenta Trading de acuerdo con las<br>
            mejores prácticas comerciales internacionales<br>
            y adecuada para los clientes que desean<br>
            comerciar sin ahondar en intereses usureros;<br>
            en consecuencia, se lanzó el programa de<br> cuentas islámicas
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_10.webp');height: 195px;background-size: contain !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_11.webp');height: 280px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 33%;left: 4%;"> 
        <h5>Academia de Trading 100% gratuita</h5>
        <p>
            La preparación comienza en 2020 como<br>
            parte del plan de base y se lanzó oficialmente<br>
            en marzo de 2021 -Nombramiento de los<br>
            mejores expertos para preparar materiales<br>
            educativos e instructivos que incluyan artículos,<br>
            videos, libros electrónicos y conferencias en<br> línea.
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_12.webp');height: 177px;background-size: contain !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_13.webp');height:240px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 39%;left: 4%;"> 
        <h5>Plataforma de comercio<br> global MetaTrader 5</h5>
        <p>
            La plataforma MetaTrader 5 se ha agregado<br>
            a la plataforma WebTrader, lo que eleva el<br>
            número de plataformas disponibles para usar<br>
            con Evest a dos
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_14.webp');height:200px;background-size: contain !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_15.webp');height:240px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 39%;left: 1%;"> 
        <h5>Aplicación de Trading</h5>
        <p>
            La primera versión de la aplicación Evest se<br>
            lanzó en App Store y Google Play, elevando a<br>
            tres la cantidad de plataformas en las que los<br> clientes pueden comerciar.
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_16.webp');height: 210px;background-size: cover;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_17.webp');height:240px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 36%;left: 1%;"> 
        <h5>Trading desde el móvil</h5>
        <p>
            El Trading  de los clientes se ha actualizado y<br>
            activado en la plataforma web en teléfonos<br>
            móviles y tabletas, por lo que los clientes de<br>
            Evest tienen cuatro formas de operar en los<br>
            mercados financieros globales.
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_18.webp');height:200px;background-size: contain !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_19.webp');height:240px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 36%;left: 1%;"> 
        <h5>Programa Recomendar amigos<br>-Invitar amigos</h5>
        <p>Este programa se lanzó para alentar a los<br>
           clientes a invitar a sus amigos a comerciar<br>
           utilizando las plataformas EVEST y se<br>
           depositarán $ 100 por cada recomendación<br> exitosa
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_20.webp');height:200px;background-size: contain !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_21.webp');height:240px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 39%;left: 1%;"> 
        <h5>Forex Expo Dubai 2021</h5>
        <p>Evest Forex Dubai 2021 ingresó al evento<br>
           como patrocinador platino para el evento de<br>
           tres días y al final de la celebración, Evest fue<br>
            honrada con el premio al corredor de más<br>
            rápido crecimiento en la región de Medio<br>
            Oriente y África del Norte para el año 2021
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_22.webp');height:200px;background-size: cover !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline-sp_23.webp');height:240px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 40%;left: 1%;"> 
        <h5>Actualización importante de<br> Apple y Google</h5>
        <p>
            Evest ha sido aprobado por Apple y el<br>
            organismo de control de Google para poder<br>
            enviar notificaciones de medios a los clientes<br>
            sobre las condiciones del mercado de valores.
        </p>
    </div>
</div>
<div class="row" style="background:url('/images/webp/mobile-timeline_24.webp');height:200px;background-size: cover !important;"></div>
<!-- new Section -->
<div class="row" style="background: url('/images/webp/mobile-timeline_25_es.jpg');height: 457px;background-size: cover;">
    <div class="container pull-right" style="position: relative;top: 22%;left: 9%;"> 
        <h5>Las criptomonedas</h5>
        <p>
            más importantes del mundo están incluidas<br>
            en nuestra plataforma, para aumentar las<br>
            categorías de instrumentos financieros a 8
        </p>
    </div>
</div>
</div>

<style>
    h5{
        color:var(--primary-color2);
    }
    p{
        font-size: 13px;
        font-family:'Evest Med';
    }
    .col-md-6{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    }
    .leftSide{
        position: relative;
    top: 10%;
    left: 12%;
    }
    .rightSide{
        position: relative;
    top: 7%;
    right: -8%;
    }
    @media (max-width:1024px) and (min-width:768px){
        .leftSide{
            position: relative;
            top: 21%;
            left: 9%;
        }
        .rightSide {
    position: relative;
    top: 17%;
    right: -7%;
}
        .col-md-6 > h5{
            font-size: 15px;
        }
        .col-md-6 > p{
            font-size: 11px;
        }
        body > main > div.container.desktop-img > div:nth-child(1){
            height:300px !important;
        }
        body > main > div.container.desktop-img > div:nth-child(1) > div.col-md-6.leftSide{
            top:32% !important;
        }
        body > main > div.container.desktop-img > div:nth-child(2){
            height:221px !important;
        }
        body > main > div.container.desktop-img > div:nth-child(3){
            height:223px !important;
        }
        body > main > div.container.desktop-img > div:nth-child(3) > div.col-md-6.leftSide{
            top:21% !important;
        }
        body > main > div.container.desktop-img > div:nth-child(4){
            height:229px !important;
        }
        body > main > div.container.desktop-img > div:nth-child(5),
        body > main > div.container.desktop-img > div:nth-child(6){
            height:222px !important;
        }
        body > main > div.container.desktop-img > div:nth-child(7),
        body > main > div.container.desktop-img > div:nth-child(8){
            height:216px !important;
        }
        body > main > div.container.desktop-img > div:nth-child(9),
        body > main > div.container.desktop-img > div:nth-child(10){
            height:217px !important;
        }
        body > main > div.container.desktop-img > div:nth-child(11),
        body > main > div.container.desktop-img > div:nth-child(12){
            height:217px !important;
        }
        body > main > div.container.desktop-img > div:nth-child(13){
            height:217px !important;
            margin-top:0 !important;
        }
    }
</style>