<!-- Start of LiveChat (www.livechatinc.com) code -->
<script>
    window.__lc = window.__lc || {};
    window.__lc.license = 12178581;
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
</script>
<noscript><a href="https://www.livechatinc.com/chat-with/12178581/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
<!-- End of LiveChat code -->
<div class="mobile-img">
    <div class="container" style="background: url('/images/Help Desk Mobile_Header 3.png');height:700px;background-size: cover;color:white;display: flex;flex-direction: column-reverse;justify-content: space-around;">
        <div class="col-md-6">
            <div class="row">
                <h3>Centro de Ayuda</h3>
            </div>
            <div class="row">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Escriba aquí su pregunta" aria-label="question" aria-describedby="basic-addon1" style="font-size: 10px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                    
                  </div>
            </div>
            <div class="row" style="
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    padding-left: 8%;
">
                <button class="btn bttn">FAQS</button>
                <button class="btn bttn" style="margin: 10px -24px;">Servicio de atención al cliente</button>
                <button class="btn bttn">Quejas</button>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
        <div class="container" style="height:300px;display:flex;align-items:center;justify-content:center;">
            <p class="text-center">
                El servicio de atención al cliente está dedicada a dirigirlo <br>
                exactamente a donde necesita ir para ayudarle a lograr lo que <br>
                necesita en poco tiempo mientras se mantiene enfocado <br>
                al 100% en su trading. Haga clic en cualquiera de las <br>
                categorías anteriores para ser redirigido.
            </p>
        </div>
</div>

<div class="desktop-img">
    <div class="row" style="background: url('/images/webp/HELP DESK bg-06.webp');background-size: cover;height: 500px;">
        <div class="container" style="/* background-size: cover; */color:white;display: flex;justify-content: center;align-items: center;">
            <div class="col-md-6">
                <div class="row">
                    <h1>Centro de Ayuda</h1>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Escriba aquí su pregunta" aria-label="question" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                        </div>
                        
                      </div>
                </div>
                <div class="row">
                    <button class="btn bttn">FAQS</button>
                    <button class="btn bttn">Servicio de atención al cliente</button>
                    <button class="btn bttn">Quejas</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/images/webp/Image spanish.webp" alt="question" style="
        width: 89%;
    ">
            </div>
        </div>
    </div>
    <div class="container" style="height:300px;display:flex;align-items:center;justify-content:center;">
        <p class="text-center">
            El servicio de atención al cliente está dedicada a dirigirlo <br>
            exactamente a donde necesita ir para ayudarle a lograr lo que <br>
            necesita en poco tiempo mientras se mantiene enfocado <br>
            al 100% en su trading. Haga clic en cualquiera de las <br>
            categorías anteriores para ser redirigido.
        </p>
    </div>
</div>
<style>
    @import "/css/help.min.css";
</style>