<div class="mobile-img">
    <div class="container" style="background: url('/images/Regulatory Authorisation mobile-01.jpg');height: 710px;background-size: cover;color:white;display: flex;flex-direction: column;justify-content: flex-end;align-items: center;padding-bottom: 20%;text-align: center;">
        <h3>Autorización <br>reglamentaria</h3></div>
        <div class="container my-5">
            <h5 class="text-left uppercase">
                (VFSC) Vanuatu International
            </h5>
            <p style="font-size: 11px;">
                Evest es una marca propia y operada por Atriafinancial LTD, Atriafinancial LTD es una empresa licenciada por la Comisión de Servicios Financieros de Vanuatu (VFSC).  Autorizado para operar la negociación de valores con el número de empresa 17910 Oficina principal de Evest en Vanuatu, 1276, Edificio Govant, Carretera Kumul, Port Vila, República de Vanuatu</p>
        </div>
</div>
<div class="desktop-img">

    <div class="row" style="background: url('/images/Regulatory Authorisation BG-01.jpg');background-size: cover;height:450px;">
        <div class="container" style="color:white;display: flex;align-items: center;">
            <div class="col-md-6">
                <img src="/images/webp/STAMP.webp" alt="ICON" width="100%">
            </div>
            <div class="col-md-6" style="display: flex;flex-direction: column; align-items: center;">
                <h1>Autorización <br> reglamentaria</h1>
            </div>
        </div></div>


        <div class="container my-5">
            <h3 class="text-left uppercase">
                (VFSC) Vanuatu International
            </h3>
            <p> Evest es una marca propia y operada por Atriafinancial LTD, Atriafinancial LTD es una empresa licenciada por la Comisión de Servicios Financieros de Vanuatu (VFSC).  Autorizado para operar la negociación de valores con el número de empresa 17910 Oficina principal de Evest en Vanuatu, 1276, Edificio Govant, Carretera Kumul, Port Vila, República de Vanuatu</p>
        </div>
    </div>
