<style>@import '/css/whyEvest.min.css';</style>

<div class="mobile-img">
    <div class="container" style="background-image: url('/images/WHY EVEST mobile-02.png');height:700px;background-size: cover;flex-direction: column;padding-left: 8%;">
    <h1 class="text-uppercase" style="color:var(--primary-color3);font-size: 23px;padding-top: 100%;">
        5 razones para<br>
        elegir trading <br>
        con evest
    </h1>
    <h4 class="text-uppercase" style="color:var(--primary-color3);font-size: 13px;">Una y otra vez,somos la opción <br> número uno para los inversores.</h4>
        <p style="color:var(--primary-color3);font-size: 12px;">Hay cientos de razones para elegirnos,<br>
            pero aqui enumeramos las 5 razones más <br> razonable para nuestros clientes.</p>
        <a type="submit" class="text-uppercase btn btncol" href="/mobile/#/signup" style="
    font-size: 12px;
">REGÍSTRATE AHOR</a>
</div>

<div class="row my-4">
    <div class="container">
        <h2 class="font-weight-bold">100%</h2>
        <p class="text-uppercase" style="margin-top:-12px;">Flexible</p>
        <p>En comparación con cualquier otra plataforma,<br>
            nuestros servicios están diseñados para<br>
            ofrecerle una experiencia perfecta. <br>
            El flujo es completamente facíl desde el <br>
            momento en que abra la página web. <br>
            Ya sea que sea un experto o un principiante, <br>
            nuestra plataforma está diseñada para <br>
           ofrecerle la simplicidad que desea <br>
           y la flexibilidad que necesita</p>
    </div>
</div>
<div class="row py-4" style="background: url('/images/WHY EVEST mobile-06.png');background-size: cover;color:white;">
    <div class="container">
        <h2 class="font-weight-bold">100%</h2>
        <p class="text-uppercase" style="margin-top:-12px;">transparencia</p>
        <p>En trading e inversión, sabemos que el aspecto más <br>
            fáctico en el que todos confían son los números. <br>
            Hemos diseñado todo nuestro servicio basándonos<br>
            en la claridad de los números para proporcionarle<br>
            información en la que confiará cuando<br>
            decida sobre su trading.</p>
    </div>
</div>
<div class="row my-4">
    <div class="container">
        <h2 class="font-weight-bold">100%</h2>
        <p class="text-uppercase" style="margin-top:-12px;">Atención al <br>cliente inigualable</p>
        <p>Todos nuestros agentes de atención al cliente <br>
            son expertos en el uso de la plataforma.<br><br>
            Nuestros agentes de atención al cliente están capacitados<br>
            para brindarles a los clientes el máximo éxito. <br>
            Además brindan asistencia en inglés y árabe <br>
            las 24 horas de la semana, de lunes a viernes.
            </p>
    </div>
</div>
<div class="row py-4"  style="background: url('/images/WHY EVEST mobile-05.png');background-size: cover;color:white;">
<div class="container">
    <h2 class="font-weight-bold">100%</h2>
    <p class="text-uppercase" style="margin-top:-12px;">Responsabilidad</p>
    <p>                    Cualesquiera que sean los requisitos del <br>
        licencia, respetamos y valoramos su confianza<br>
        en nuestra compañía. Sin embargo, reconocemos<br>
        que cumplamos íntegramente con las disposiciones<br>
        de las licencias de los principales reguladores del mundo.<br><br>
        
        La Comisión de Servicios Financieros de Vanuatu (VFSC)<br>
        Son los reguladores con los que cumplimos plenamente.
            </p>
</div></div>
<div class="row my-4">
    <div class="container">
        <h2 class="font-weight-bold">100%</h2>
        <p class="text-uppercase" style="margin-top:-12px;">Seguro</p>
        <p>
            Nuestra máxima prioridad es la seguridad <br>
            de su información e inversiones.<br><br>
            
            Por otro lado, aplicamos todos los procedimientos<br>
            necesarios para garantizar la protección<br>
            y el seguro de la privacidad de su información<br>
            y sus fondos. Por lo tanto, nos aseguramos <br>
            de que el trading tenga un firewall al más alto<br>
            nivel disponible en este momento: Rapid-SSL<br>
            para asegurar la conexión entre usted y la plataforma<br>
            (abierto para actualización tan pronto como<br>
            haya una actualización).
            </p>
            <p>
                Por el contrario, CONFIAMOS a los principales banqueros <br>
                del mundo, con los fondos de nuestros clientes, <br>
                a permanecer en cuentas completamente separadas <br>
                de los bancos de la empresa. Para garantizar la máxima <br>
                seguridad de las finanzas, las cuentas de los clientes <br>
                están sujetas a una serie de protocolos automatizados <br>
                sin interacción humana.
            </p> 
    </div>
</div>
<div class="row py-4"  style="background: url('/images/WHY EVEST mobile-04.png');background-size: cover;color:white;">
    <div class="container" style="margin-left:0;">
        <div class="col-md-6">
            <div class="row" style="justify-content: space-between;">
                <h6 class="font-weight-bold">100% <br> Pasión</h6>
                <h6 class="font-weight-bold">100% <br> Diligencia</h6>
                <h6 class="font-weight-bold">100% <br> Innovación</h6>
            </div>
            <div class="row">
                <p class="mt-4"><strong>
                    Nos apasiona brindar soluciones y herramientas <br>
                    innovadoras para aquellos interesados en los <br>
mercados financieros y estamos buscando formas<br>
de superar los desafíos para comenzar.<br>
                </strong></p>
                <p style="font-family: 'Evest Font';font-weight: bolder;">
                    evest es un CFD líder a nivel mundial y un bróker de comisión del 0% <br>
                    que brinda a los clientes un sinfín de oportunidades en todos los tipos <br>
                    de mercados financieros. La estrella de evest brilla principalmente <br>
                    en la línea de trading con comisión del 0%, donde le damos la opción <br>
                    de trading acciones sin la necesidad de pagar nada excepto por <br>
                    el valor de las acciones.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row"></div>
            <div class="row">
                <p>
                    evest is currently operating in different in countries<br>
                    chosen to serve the strategic goal of evest in becoming<br>
                    the #1 online broker in Europe, MENA, Asia and the<br>
                    south Pacific region.<br><br>
                    Accordingly, evest founding veteran team came together<br>
                    and acquired the most prestigious regulation and license<br>
                    that serve the strategy. Today, evest works in accordance<br>
                    with the provision of the license granted by:<br><br>
                    The Vanuatu Financial Services commission (VFSC).
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row my-4">
    <div class="container" style="
    display: flex;
    flex-direction: column;
    align-items: baseline;
    ">
        <div class="row" style="padding-left: 13%;">
            <h3 class="text-left font-weight-bold">la base de <br>nuestra empresa</h3>
            <p class="font-weight-bold" style="font-size: 12px;">Sólo al proporcionar enseguidamente, datos reales,<br> veraces y confiables le puede confiar la plataforma de trading para cuidar de su trading.</p>
        </div>
        <div class="row" style="
    justify-content: center;
    text-align: center;
">
            <div>
                <h6 class="text-uppercase" style="
    color: #1e4ab0;
    text-align: center;
">Nuestra visión</h6>
<p>Ser la plataforma más CONFIADA <br>
    al proporcionar datos instantáneos veraces,<br> 
    fácticos y confiables a nuestros clientes.</p>
            </div>
            <div>
                <h6 class="text-uppercase" style="
    color: #1e4ab0;
    text-align: center;
">Nuestra misión</h6>
                <p>
                    Aprovechar los instrumentos, herramientas <br>
                    y asociaciones más avanzados, para <br>
                    proporcionar a nuestros inversores datos <br>
                    instantáneos fiables y fácticos. <br>
                </p>
            </div>
            <div>
                <h6 class="text-uppercase" style="
    color: #1e4ab0;
    text-align: center;
">La promesa</h6>
<p>
    Le proporcionaremos datos instantáneos fácticos, <br>
    veraces y confiables con un retraso del 0%,<br>
    por tarifas del 0% con una comisión del 0% <br>
    para hacer trading acciones sin apalancamiento financiero
</p>
            </div>
        </div>
    </div>
</div>
</div>



<div class="desktop-img">
    <div class="row" style="background:url('/images/webp/why evest BG-05.webp');background-size: contain;">
        <div class="container flex-column desktop-img" style="background: url('/images/WHY EVEST-02.png');background-size: contain;height: 500px;padding-top: 4%;">
            <h1 class="text-uppercase" style="color:var(--primary-color3);">
                5 razones para<br>
                elegir trading <br>
                con evest
            </h1>
            <h4 class="text-uppercase" style="color:var(--primary-color3);">Una y otra vez,somos la opción <br> número uno para los inversores.</h4>
                <p style="color:var(--primary-color3);">Hay cientos de razones para elegirnos,<br>
                     pero aqui enumeramos las 5 razones más <br> razonable para nuestros clientes.</p>
                <button type="submit" class="text-uppercase btn btncol" onclick="runPlugin('forexSignup');">REGÍSTRATE AHORA</a>
        </div>
    </div>
    <div class="container flex-column" style="height: 500px;display: flex;justify-content: center;">

        <div class="row">
            <div class="col-md-4">            <h2 class="font-weight-bold">100%</h2>
                <p class="text-uppercase" style="margin-top:-12px;">Flexible</p></div>
            <div class="col-md-4">            <h2 class="font-weight-bold">100%</h2>
                <p class="text-uppercase" style="margin-top:-12px;">transparencia</p></div>
            <div class="col-md-4">            <h2 class="font-weight-bold">100%</h2>
                <p class="text-uppercase" style="margin-top:-12px;">Atención al <br>cliente inigualable </p></div>
        </div>
        <div class="row">
        <div class="col-md-4">

            <p>En comparación con cualquier otra plataforma,<br>
               nuestros servicios están diseñados para<br>
               ofrecerle una experiencia perfecta. <br>
               El flujo es completamente facíl desde el <br>
               momento en que abra la página web. <br>
               Ya sea que sea un experto o un principiante, <br>
               nuestra plataforma está diseñada para <br>
              ofrecerle la simplicidad que desea <br>
              y la flexibilidad que necesita</p>
        </div>
        <div class="col-md-4">

            <p>En trading e inversión, sabemos que el aspecto más <br>
                fáctico en el que todos confían son los números. <br>
                Hemos diseñado todo nuestro servicio basándonos<br>
                en la claridad de los números para proporcionarle<br>
                información en la que confiará cuando<br>
                decida sobre su trading.</p>
        </div>
        <div class="col-md-4">

            <p>
                Todos nuestros agentes de atención al cliente <br>
                son expertos en el uso de la plataforma.<br><br>
                Nuestros agentes de atención al cliente están capacitados<br>
                para brindarles a los clientes el máximo éxito. <br>
                Además brindan asistencia en inglés y árabe <br>
                las 24 horas de la semana, de lunes a viernes.
            </p>
        </div>
    </div>
    </div>
    <div class="row" style="background:url('/images/0 commission-08.jpg');background-size: contain;height: 500px;">
        <div class="container flex-column" style="display: flex;justify-content: center;">

            <div class="row">
                <div class="col-md-4">            <h2 class="font-weight-bold">100%</h2>
                    <p class="text-uppercase" style="margin-top:-12px;">Responsabilidad</p></div>
                <div class="col-md-4">            <h2 class="font-weight-bold">100%</h2>
                    <p class="text-uppercase" style="margin-top:-12px;">Seguro</p></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
            <div class="col-md-4">
    
                <p>
                    Cualesquiera que sean los requisitos del <br>
licencia, respetamos y valoramos su confianza<br>
en nuestra compañía. Sin embargo, reconocemos<br>
que cumplamos íntegramente con las disposiciones<br>
de las licencias de los principales reguladores del mundo.<br><br>

La Comisión de Servicios Financieros de Vanuatu (VFSC)<br>
Son los reguladores con los que cumplimos plenamente.
                </p>
            </div>
            <div class="col-md-4">
    
                <p>
                    Nuestra máxima prioridad es la seguridad <br>
                    de su información e inversiones.<br><br>
                    
                    Por otro lado, aplicamos todos los procedimientos<br>
                    necesarios para garantizar la protección<br>
                    y el seguro de la privacidad de su información<br>
                    y sus fondos. Por lo tanto, nos aseguramos <br>
                    de que el trading tenga un firewall al más alto<br>
                    nivel disponible en este momento: Rapid-SSL<br>
                    para asegurar la conexión entre usted y la plataforma<br>
                    (abierto para actualización tan pronto como<br>
                    haya una actualización).
                    </p>
            </div>
            <div class="col-md-4">
    
                <p>
                    Por el contrario, CONFIAMOS a los principales banqueros <br>
                    del mundo, con los fondos de nuestros clientes, <br>
                    a permanecer en cuentas completamente separadas <br>
                    de los bancos de la empresa. Para garantizar la máxima <br>
                    seguridad de las finanzas, las cuentas de los clientes <br>
                    están sujetas a una serie de protocolos automatizados <br>
                    sin interacción humana.
                </p>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
            <div class="row">
                <h3 class="font-weight-bold">100%&#160;&#160;&#160;&#160;</h3>
                <h3 class="font-weight-bold">100%&#160;&#160;&#160;&#160;&#160;</h3>
                <h3 class="font-weight-bold">100%</h3>
            </div>
            <div class="row">
            <h6>Pasión &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</h6>
            <h6>Diligencia &#160;&#160;&#160;&#160;&#160;&#160;&#160;</h6>
            <h6>Innovación</h6> 
            </div>
            <div class="row">
                <p class="mt-4"><strong>
                    Nos apasiona brindar soluciones y herramientas <br>
                    innovadoras para aquellos interesados en los <br>
mercados financieros y estamos buscando formas<br>
de superar los desafíos para comenzar.<br>
                </strong></p>
                <p style="font-family: 'Evest Font';font-weight: bolder;">
                    evest es un CFD líder a nivel mundial y un bróker de comisión del 0% <br>
                    que brinda a los clientes un sinfín de oportunidades en todos los tipos <br>
                    de mercados financieros. La estrella de evest brilla principalmente <br>
                    en la línea de trading con comisión del 0%, donde le damos la opción <br>
                    de trading acciones sin la necesidad de pagar nada excepto por <br>
                    el valor de las acciones.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row"></div>
            <div class="row">
                <p>
                    evest opera actualmente en diferentes países elegidos para cumplir el <br>
                    objetivo estratégico de evest de convertirse en el bróker en línea <br>
                    número uno en Europa, MENA, Asia y la región del Pacífico Sur.<br><br>
                    En consecuencia, evest profesional equipo fundador<br>
                    se reunieron y adquirió la regulación y la licencia <br>
                    más prestigiosas que sirven a la estrategia. <br>
                    Hoy, evest obra de acuerdo con la disposición <br>
                    de la licencia otorgada por:<br><br>
                    La Comisión de Servicios Financieros de Vanuatu (VFSC).
                </p>
            </div>
        </div>
    </div>

    <div class="row" style="background: url('/images/MT5 EN-02.gif');height: 530px;background-size: contain;color:white;">
        <div class="container" >
            <div class="row flex-column">
                <h1>la base de nuestra empresa</h1>
                <h6>Sólo al proporcionar enseguidamente, datos reales, veraces y <br> confiables le puede confiar la plataforma de trading para cuidar de su trading.</h6>
            </div>
            <div class="row">
                <div>
                    <h6 class="text-uppercase">Nuestra visión</h6>
                    <p>Ser la plataforma más CONFIADA <br>
                        al proporcionar datos instantáneos veraces,<br> 
                        fácticos y confiables a nuestros clientes.</p>
                </div>
                <div>
                    <h6 class="text-uppercase">Nuestra misión</h6>
                    <p>
                        Aprovechar los instrumentos, herramientas <br>
                        y asociaciones más avanzados, para <br>
                        proporcionar a nuestros inversores datos <br>
                        instantáneos fiables y fácticos. <br>
                    </p>
                </div>
                <div>
                    <h6 class="text-uppercase">La promesa</h6>
                    <p>
                        Le proporcionaremos datos instantáneos fácticos, <br>
                        veraces y confiables con un retraso del 0%,<br>
                        por tarifas del 0% con una comisión del 0% <br>
                        para hacer trading acciones sin apalancamiento financiero
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
