<div class="mobile-img">
  <div class="container"
    style="background: url('/images/meet the CEO Mobile-04.png');height:700px;background-size: cover;color:white;">
    <h1 style="
    padding-top: 108%;
    padding-right: 5%;
    font-size: 55px;">قابل <br>المدير <br>التّنفيذي</h1>
  </div>
  <div class="container" style="padding: 7% 7%;">
    <p style="font-size: 12px;">
      السيد علي حسن هو الرئيس التنفيذي لشركة <span>EVEST</span>. ، وهو <br>
      المنصب الذي شغله منذ بداية <span>EVEST</span>
      في سبتمبر من العام <br> <span>2020</span>.<br><br>
      يشرف السيّد علي حسن على التموضع الاستراتيجي<br> للشركة القبرصية التي تبلغ قيمتها
      <span>50</span> مليون دولار. <span>EVEST</span> هي <br>
      شركة تداول رائدة عبر الإنترنت تتألق كشركة غير تقليدية<br>
      في صناعة تداول العقود مقابل الفروقات. لأكثر من <span>15</span> عاماً،<br>
      وثق العملاء والزملاء في علي حسن
      لتسهيل وبناء<br> استراتيجيات شاملة والإشراف على التنفيذ بكل مستوى.<br><br>
      "إن نهجنا السّباق في صناعة تداول عقود الفروقات عبر<br>
      الإنترنت ، سوف يجعلنا نغير قواعد
      اللعبة في المنطقة.<br>
      لدى <span>EVEST</span> نموذج أعمال يعتمد على وجود علاقة مصلحة<br>
      متبادلة طويلة
      الأجل مع العملاء"<br>
      {<span style="font-family:'Arabic Evest';color: white;">علي حسن</span>}<br><br>


      يبتكر السيد علي حسن اليوم قناة اتصال جديدة لم يتم<br>
      تفعيلها من قبل في صناعة
      التداول، حيث يمكن للعملاء<br>
      التحدث إليه مباشرة بسهولة ضغطة زر تظهر<br> للمستخدمين
      بعد تسجيل الدخول.<br><br>

      ستضمن قناة الاتصال الجديدة هذه أن يتابع السيد علي <br>
      حسن شخصياً أي تعليقات أو
      اقتراحات أو شكاوى من طرف <br>
      العملاء. ستضع هذه القناة أيضاً جميع الموظفين في<br>
      حالة تأهب لأنهم يعلمون أن هناك خطاً مباشراً مفتوحاً<br>
      على مدار الساعة طوال أيام الأسبوع
      مع الرئيس التنفيذي.
    </p>
    <form action="/ar/المدير-التنفيذي" method="POST" style="width:100%" id="evest-form">
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">الاسم</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name" name="fullName">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">البريد الإلكتروني</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="subject" class="col-sm-3 col-form-label">العنوان</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="subject" name="subject">
        </div>
      </div>
      <div class="form-group row">
        <label for="message" class="col-sm-3 col-form-label">الرسالة</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="message" name="message">
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" value="Submit" class="btn btn-filled ">أرسل</button>
      </div>
    </form>
  </div>
</div>

<div class="desktop-img">
  <div class="row"
    style="background:url('/images/MEET THE CEO ARA-02.png');height:530px;background-size: cover;color:white;display:flex;justify-content: flex-start;align-items: center;">
    <div class="container">
      <%- page.fields.header.heading %>
    </div>
  </div>
  <div class="container">
    <%- page.fields.sections.section1 %>
  </div>
</div>
<style>
  @import "/css/ceoArabic.min.css";
</style>