<div class="desktop-img">
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;height: 500px;color:white">
        <div class="container" style="display:flex;justify-content: center;align-items: center">
            <div class="col-md-6">
                <h1 class="text-uppercase">Evest Investment <br> Basket - EIBs</h1>
                <p>
                    Evest's most powerful and exclusive trading tools are combined into investing baskets
                    <ul class="list-unstyled">
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> +10 baskets </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> %100 lowered risk </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> %100 feasible trade cost</li>
                    </ul>
                </p>
                <button class="btn btnprimary" onclick="runPlugin('forexSignup');">JOIN NOW</button>
            </div>
            <div class="col-md-6">
                <image src="/images/EIB/EIB basket.png" width="100%"></image>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="container">
                <div class="container">
                    <h2 class="text-uppercase">100% Innovative trading solution <br> for long-term trading</h2>
                </div>
                <div class="container" style="display:flex;">
                    <div class="col-md-6" style="padding-left: 0;">
                        <p>We are proud to present Evest’s investment baskets that include the most promising financial instruments grouped based on weighted average, the price during the last 60 sessions and the closing price.</p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            The EIBs are designed for different types of traders that can be but not limited to:<br><br>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-circle"></i> Don’t have time</li>
                                <li><i class="fas fa-circle"></i> Risk conservative</li>
                                <li><i class="fas fa-circle"></i> Interested in ETFs</li>
                                <li><i class="fas fa-circle"></i> Want to trade long-term</li>
                                <li><i class="fas fa-circle"></i> Looking for investment like tool</li>
                            </ul>
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="row text-center" style="background-color: var(--primary-color1);color:white">
        <div class="container py-3">    <h2 class="text-center text-uppercase">Some of the EIBs available for trading</h2></div>
    </div>
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;color:white">
        <div class="container" style="display: flex;align-items: center;">
            <div class="col-lg-3" id="usBanks">
                <img src="/images/EIB Desktop ENG-35.png" alt="usBanks" width="100%">
                <h5 class="text-center">US Banks<br> Basket</h5>
            </div>
            <div class="col-lg-3" id="germanGiants" > 
                <img src="/images/EIB Desktop ENG-34.png" alt="German Giants Basket" width="100%">
                <h5 class="text-center">German Giants<br>Basket</h5>
            </div>
            <div class="col-lg-3" id="usTechnology">
                <img src="/images/EIB Desktop ENG-33.png" alt="US Technology Basket" width="100%">
                <h5 class="text-center">US Technology<br> Basket</h5>
            </div>
            <div class="col-lg-3" id="uSHeavyIndustries">
                <img src="/images/EIB Desktop ENG-32.png" alt="US Heavy Industries Basket" width="100%">
                <h5 class="text-center">US Heavy Industries<br> Basket</h5>
            </div>
        </div>
        <div class="container" style="display: flex;align-items: center;">
            <div class="col-lg-3" id="bPh">
                <img src="/images/EIB Desktop ENG-28.png" alt="Big pharma Basket" width="100%">
                <h5 class="text-center">Big Pharmaceuticals<br>Basket</h5>
            </div>
            <div class="col-lg-3" id="bPh2"> 
                <img src="/images/EIB Desktop ENG-29.png" alt="big pharma 2 Basket" width="100%">
                <h5 class="text-center">Big Pharmaceuticals 2 <br>Basket</h5>
            </div>
            <div class="col-lg-3" id="bluChips">
                <img src="/images/EIB Desktop ENG-30.png" alt="BLU chips Basket" width="100%">
                <h5 class="text-center">Blu Chips <br> Basket</h5>
            </div>
            <div class="col-lg-3" id="frenchFashion">
                <img src="/images/EIB Desktop ENG-31.png" alt="French Fashion Basket" width="100%">
                <h5 class="text-center">French Fashion <br>Basket</h5>
            </div>
        </div>
        <div class="container" style="display: flex;align-items: center;justify-content: space-between;">
           
           
            
            <div class="col-lg-2" id="AmericanRetail">
                <img src="/images/EIB/EIB Desktop ARA 2-09.png" alt="American Retail Basket" width="100%">
                <h5 class="text-center">American Retail <br>Basket</h5>
            </div>
            <div class="col-lg-2" id="UKBanks">
                <img src="/images/EIB/EIB Desktop ARA 2-10.png" alt="UK Banks Basket" width="100%">
                <h5 class="text-center">UK Banks <br>Basket</h5>
            </div>
            <div class="col-lg-2" id="Warren1">
                <img src="/images/EIB/EIB Desktop ARA 2-11.png" alt="Warren Buffet Basket #1" width="100%">
                <h5 class="text-center">Warren Buffet <br> Basket #1</h5>
            </div>
             
            <div class="col-lg-2" id="Warren2"> 
                <img src="/images/EIB/EIB Desktop ARA 2-11.png" alt="Warren Buffet Basket #2" width="100%">
                <h5 class="text-center">Warren Buffet <br>Basket #2</h5>
            </div>
            <div class="col-lg-2" id="Crypto">
                <img src="/images/EIB/EIB Desktop ARA 2-12.png" alt="Crypto Currency Basket" width="100%">
                <h5 class="text-center">Crypto Currency <br> Basket</h5>
            </div>
        </div>
    </div>
</div>

<div class="mobile-img">
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;height: 770px;color:white">
        <div class="container" style="display:flex;justify-content: center;align-items: center;">
            <div class="row" style="flex-direction: column !important;">
                <div class="row">
                    <image id="basket" src="/images/EIB/EIB basket.png" ></image>
                </div>
                <h1 id="main-h1" class="text-uppercase" >Evest Investment <br> Basket - EIBs</h1>
                <p id="main-p" style="color:var(--primary-color3)">
                    Evest's most powerful and exclusive trading tools are combined into investing baskets
                    <ul class="list-unstyled">
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> +10 baskets </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> %100 lowered risk </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> %100 feasible trade cost</li>
                    </ul>
                </p>
                <button class="btn btnprimary" onclick="runPlugin('forexSignup');">JOIN NOW</button>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="container">
                <div class="container">
                    <h2 id="h2" class="text-uppercase">100% Innovative trading solution <br> for long-term trading</h2>
                </div>
                <div class="container">
                    <div id="second-section">
                    <div class="col-md-6" style="padding-left: 0;">
                        <p>We are proud to present Evest’s investment baskets that include the most promising financial instruments grouped based on weighted average, the price during the last 60 sessions and the closing price.</p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            The EIBs are designed for different types of traders that can be but not limited to:<br><br>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-circle"></i> Don’t have time</li>
                                <li><i class="fas fa-circle"></i> Risk conservative</li>
                                <li><i class="fas fa-circle"></i> Interested in ETFs</li>
                                <li><i class="fas fa-circle"></i> Want to trade long-term</li>
                                <li><i class="fas fa-circle"></i> Looking for investment like tool</li>
                            </ul>
                        </p>
                    </div></div>
                </div>
        </div>
    </div>
    <div class="row text-center" style="background-color: var(--primary-color1);color:white">
        <div class="container py-3">    <h2 id="h2_1" class="text-center text-uppercase">Some of the EIBs available for trading</h2></div>
    </div>
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;color:white">
        <div class="container" style="display: flex;align-items: center;">
            <div id="sub-container">
                <div class="col-lg-3" id="usBanks">
                    <img src="/images/EIB Desktop ENG-35.png" alt="usBanks" width="100%">
                    <h5 class="text-center">US Banks<br> Basket</h5>
                </div>
                <div class="col-lg-3" id="germanGiants" > 
                    <img src="/images/EIB Desktop ENG-34.png" alt="German Giants Basket" width="100%">
                    <h5 class="text-center">German Giants<br>Basket</h5>
                </div>
            </div>

            <div id="sub-container">
                <div class="col-lg-3" id="usTechnology">
                    <img src="/images/EIB Desktop ENG-33.png" alt="US Technology Basket" width="100%">
                    <h5 class="text-center">US Technology<br> Basket</h5>
                </div>
                <div class="col-lg-3" id="uSHeavyIndustries">
                    <img src="/images/EIB Desktop ENG-32.png" alt="US Heavy Industries Basket" width="100%">
                    <h5 class="text-center">US Heavy Industries<br> Basket</h5>
                </div>
            </div>
            </div>


        <div class="container" style="display: flex;align-items: center;">
            <div id="sub-container">
                <div class="col-lg-3" id="bPh">
                    <img src="/images/EIB Desktop ENG-28.png" alt="Big pharma Basket" width="100%">
                    <h5 class="text-center">Big Pharmaceuticals<br>Basket</h5>
                </div>
                <div class="col-lg-3" id="bPh2"> 
                    <img src="/images/EIB Desktop ENG-29.png" alt="big pharma 2 Basket" width="100%">
                    <h5 class="text-center">Big Pharmaceuticals 2 <br>Basket</h5>
                </div>
            </div>

            <div id="sub-container">
                <div class="col-lg-3" id="bluChips">
                    <img src="/images/EIB Desktop ENG-30.png" alt="BLU chips Basket" width="100%">
                    <h5 class="text-center">Blu Chips <br> Basket</h5>
                </div>
                <div class="col-lg-3" id="frenchFashion">
                    <img src="/images/EIB Desktop ENG-31.png" alt="French Fashion Basket" width="100%">
                    <h5 class="text-center">French Fashion <br>Basket</h5>
                </div>
            </div>
        </div>


        <div class="container" style="display: flex;align-items: center;">    
            <div id="sub-container">
                <div class="col-lg-2" id="AmericanRetail">
                    <img src="/images/EIB/EIB Desktop ARA 2-09.png" alt="American Retail Basket" width="100%">
                    <h5 class="text-center">American Retail <br>Basket</h5>
                </div>
                <div class="col-lg-2" id="UKBanks">
                    <img src="/images/EIB/EIB Desktop ARA 2-10.png" alt="UK Banks Basket" width="100%">
                    <h5 class="text-center">UK Banks <br>Basket</h5>
                </div>
            </div>

            <div id="sub-container">
                <div class="col-lg-2" id="Warren1">
                    <img src="/images/EIB/EIB Desktop ARA 2-11.png" alt="Warren Buffet Basket #1" width="100%">
                    <h5 class="text-center">Warren Buffet <br> Basket #1</h5>
                </div>
                 
                <div class="col-lg-2" id="Warren2"> 
                    <img src="/images/EIB/EIB Desktop ARA 2-11.png" alt="Warren Buffet Basket #2" width="100%">
                    <h5 class="text-center">Warren Buffet <br>Basket #2</h5>
                </div>
                
            </div>    
        </div>

        <div id="sub-container-crypto">
            <div class="col-lg-2" id="Crypto" width="50%">
                <img src="/images/EIB/EIB Desktop ARA 2-12.png" alt="Crypto Currency Basket" width="100%">
                <h5 class="text-center">Crypto Currency <br> Basket</h5>
            </div>
        </div>

    </div>


</div>
<!--Modal popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>




        <!-- Big pharmaceuticals (2nd row) section-->
        <div class="modal-body">

            <div class="container pb-5 pt-2" id="bPh" style="display: none;" tradeLink="BIGPHARMA">
                <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
                <img src="/images/EIB/EIB Desktop ENG 2-43.png" alt="Big pharmaceuticals 1" width="100%">
            </div>
    
        <div class="container pb-5 pt-2" id="bPh2" style="display: none;" tradeLink="BIGPHARMA2">
            <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
            <img src="/images/EIB/EIB-02.png" alt="Big Pharmaceuticals 2" width="100%">
        </div>
        <div class="container pb-5 pt-2" id="bluChips" style="display: none;" tradeLink="BLUECHIPS">
        <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-42.png" alt="Blue Chips" width="100%">
    </div>
    <div class="container pb-5 pt-2" id="frenchFashion" style="display: none;" tradeLink="FASHION">
    <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
    <img src="/images/EIB/EIB Desktop ENG 2-41.png" alt="French Fashion" width="100%">
</div>

                <div class="container pb-5 pt-2" id="AmericanRetail" style="display: none;" tradeLink="USRETAIL">
                    <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
                    <img src="/images/EIB/EIB Desktop ENG 2-45.png" alt="AmericanRetail" width="100%">
                </div>




            <div class="container pb-5 pt-2" id="UKBanks" style="display: none;" tradeLink="UKBANKS">
                <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
                <img src="/images/EIB/ENG 2-49.png" alt="UKBanks" width="100%">
            </div>


        <div class="container pb-5 pt-2" id="Warren1" style="display: none;" tradeLink="W.BUFFETT 1">
            <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
            <img src="/images/EIB/EIB Desktop ENG 2-46.png" alt="Warren1" width="100%">
        </div>



    <div class="container pb-5 pt-2" id="Warren2" style="display: none;" tradeLink="W.BUFFETT 2">
        <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-47.png" alt="Warren2" width="100%">
    </div>



    <div class="container pb-5 pt-2" id="Crypto" style="display: none;" tradeLink="CRYPTOETF">
        <h6 class="text-uppercase text-white text-center">The proportionate distribution <br> Of the stocks making this basket</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-48.png" alt="Crypto" width="100%">
    </div>

<!-- US Banks (1st row) section -->
    <div class="container pb-5 pt-2" id="usBanks" style="display: none;" tradeLink="USBANKS">
        <h6 class="text-uppercase text-white text-center">The relative weight of the<br> American banks' basket shares</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-37.png" alt="Citigroup" width="100%">
</div>
    <div class="container pb-5 pt-2" id="germanGiants" style="display: none;" tradeLink="GERGIANTS">
        <h6 class="text-uppercase text-white text-center">The relative weight of the<br> American banks' basket shares</h6>
        <img src="/images/EIB/EIB-01.png" alt="Citigroup" width="100%">German Giants" width="100%">
    </div>
    <div class="container pb-5 pt-2" id="usTechnology" style="display: none;" tradeLink="USTECH">
        <h6 class="text-uppercase text-white text-center">The relative weight of the<br> American banks' basket shares</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-38.png" alt="US Technology" width="100%">
    </div>
    <div class="container pb-5 pt-2" id="uSHeavyIndustries" style="display: none;" tradeLink="USHEAVY">
        <h6 class="text-uppercase text-white text-center">The relative weight of the<br> American banks' basket shares</h6>
        <img src="/images/EIB/EIB Desktop ENG 2-39.png" alt="US Heavy Industries" width="100%">
    </div>
</div>

        <div class="modal-footer">
          <button id="close-btn" type="button" class="btn " data-dismiss="modal">Close</button>
          <button id="btn-ST" type="button"  class="btn btn-filled" onclick="runPlugin('');" data-dismiss="modal">START TRADING</button>
          <button type="button" class="btn" onclick="runPlugin('forexSignup');" data-dismiss="modal">JOIN NOW</button>
        </div>
      </div>
    </div>
  </div>

<style>
    .btnprimary{
        font-family: 'Evest Med';
        color:var(--primary-color1);
        background:var(--primary-color3);
    }
    body > main > div > div:nth-child(1) > div > div:nth-child(1) > ul > li{
        color:white !important;
    }
    ul > li{
        color:var(--primary-color1) !important;
    }
    .col-lg-3{
        color:rgba(255, 255, 255, 0.404);
        height:290px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
    .col-lg-3:hover{
        color:white;
        cursor: pointer;
    }

    .col-lg-2{
        color:rgba(255, 255, 255, 0.404);
    }

    .col-lg-2:hover{
        color:white;
        cursor: pointer;
    }

    /*Modal*/
    .modal{
        padding-top: 0;
    }
    .modal-dialog{
        max-width: 1000px;
        width:700px;
    }
    .modal-title{
        color:white;
    }
    #exampleModal > div > div > div.modal-header > button > span{
        color:white;
    }
    .modal-content{
        position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: .3rem;
    outline: 0;
    }

    @media screen and (min-width: 768px) {
        div.mobile-img{
            display:none;
        }
       
    }

    @media only screen and (max-width: 768px) {
        #basket{
            margin-bottom: 33%;
            width:80%;

        }
        #main-h1{
            width: 117% !important;
            font-size :30px !important;
        }
        #main-p{
            width:100% !important;

        }
        #h2{
            font-size:1rem !important;
        }
        #second-section{
            display: flex;
            flex-direction: column;

        }
        #h2_1{         
        width: 121% !important;
        font-size: 170% !important;
        margin-left: -11% !important;
        }
        .modal-content{
        position: fixed;
    }
        #btn-ST{
            margin-left: 20%;
        } 
        #sub-container-crypto{
            display: flex;
            width:50%;
        }
        #close-btn{
            display:none;
        }
        
    
    }

</style>

<script>
    //open popup window modal when click on col-lg-3
    $('.col-lg-3').click(function(){
        $(this).attr('data-target','#exampleModal');
        $(this).attr('data-toggle','modal');
        $('.modal-title').text($(this).find('h5').text());
        var idd='#'+$(this).attr('id');
        console.log(idd);
        $('.modal-body').find('div').not(idd).hide(); 
        $('.modal-body').find(idd).css('display','block');
    });

    $('.col-lg-2').click(function(){
        $(this).attr('data-target','#exampleModal');
        $(this).attr('data-toggle','modal');
        $('.modal-title').text($(this).find('h5').text());
        var idd='#'+$(this).attr('id');
        console.log(idd);
        $('.modal-body').find('div').not(idd).hide(); 
        $('.modal-body').find(idd).css('display','block');
    });

    $('.btn.btn-filled').click(function(){
        // var route=$('.modal-body').find('.container').attr('id');
        // if($(this,'.modal-body.container').css(['display']) !== 'none'){
        //     // console.log($(this,'.modal-body').find('.container').attr(this,'tradeLink').val());
        //     console.log($(this).attr('id'));
        //     console.log($(this).attr('type'));
        //     console.log("test");
        // }

        var text=$('#exampleModalLabel').text();
        console.log(text);
        var route=text.replace(/\s+/g,'');
        console.log(route);

            switch (route) {
            case "UKBanksBasket":
            var url=`/trade-room/?asset=UKBANKS`;    
            location.replace(url)
                break;        
            
                case "USBanksBasket":
                var url=`/trade-room/?asset=USBANKS`;
                location.replace(url);    
                break;

                case "GermanGiantsBasket":
                var url=`/trade-room/?asset=GERGIANTS`;
                location.replace(url);    
                break;

                case "USTechnologyBasket":
                var url=`/trade-room/?asset=USTECH`;
                location.replace(url);    
                break;

                case "BigPharmaceuticalsBasket":
                var url=`/trade-room/?asset=BIGPHARMA`;
                location.replace(url);    
                break;

                case "BigPharmaceuticals2Basket":
                var url=`/trade-room/?asset=BIGPHARMA2`;
                location.replace(url);    
                break;

                case "BluChipsBasket":
                var url=`/trade-room/?asset=BLUECHIPS`;
                location.replace(url);    
                break;

                case "FrenchFashionBasket":
                var url=`/trade-room/?asset=FASHION`;
                location.replace(url);    
                break;

                case "AmericanRetailBasket":
                var url=`/trade-room/?asset=USRETAIL`;
                location.replace(url);    
                break;

                case "WarrenBuffetBasket#1":
                var url='/trade-room/?asset=W.BUFFETT%201';
                location.replace(url);    
                break;

                case "WarrenBuffetBasket#2":
                var url=`/trade-room/?asset=W.BUFFETT%202`;
                location.replace(url);    
                break;

                case "CryptoCurrencyBasket":
                var url=`/trade-room/?asset=CRYPTOETF`;
                location.replace(url);    
                break;

                case "USHeavyIndustriesBasket":
                var url=`/trade-room/?asset=USHEAVY`;
                location.replace(url);    
                break;

        }
               
    });




    
</script>