<div class="desktop-img">
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;height: 500px;color:white">
        <div class="container" style="display:flex;justify-content: center;align-items: center">
            <div class="col-md-6">
                <h1 class="text-uppercase">Evest Investment <br> Basket - EIBs</h1>
                <p>
                    Evest's most powerful and exclusive trading tools are combined into investing baskets
                    <ul class="list-unstyled">
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> +10 baskets </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> %100 lowered risk </li>
                        <li><i class="fas fa-circle" style="color:var(--primary-color3);"></i> %100 feasible trade cost</li>
                    </ul>
                </p>
                <button class="btn btnprimary" onclick="runPlugin('forexSignup');">JOIN NOW</button>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div class="row py-5">
        <div class="container">
                <div class="container">
                    <h2 class="text-uppercase">100% Innovative trading solution <br> for long-term trading</h2>
                </div>
                <div class="container" style="display:flex;">
                    <div class="col-md-6" style="padding-left: 0;">
                        <p>We are proud to present Evest’s investment baskets that include the most promising financial instruments grouped based on weighted average, the price during the last 60 sessions and the closing price.</p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            The EIBs are designed for different types of traders that can be but not limited to:<br><br>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-circle"></i> Don’t have time</li>
                                <li><i class="fas fa-circle"></i> Risk conservative</li>
                                <li><i class="fas fa-circle"></i> Interested in ETFs</li>
                                <li><i class="fas fa-circle"></i> Want to trade long-term</li>
                                <li><i class="fas fa-circle"></i> Looking for investment like tool</li>
                            </ul>
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="row text-center" style="background-color: var(--primary-color1);color:white">
        <div class="container py-3">    <h2 class="text-center text-uppercase">Some of the EIBs available for trading</h2></div>
    </div>
    <div class="row" style="background:url('/images/EIB Desktop ENG-03.png');background-size:cover;color:white">
        <div class="container" style="display: flex;align-items: center;">
            <div class="col-lg-3" id="usBanks">
                <img src="/images/EIB Desktop ENG-35.png" alt="usBanks" width="100%">
                <h5 class="text-center">US Banks<br> Basket</h5>
            </div>
            <div class="col-lg-3"> 
                <img src="/images/EIB Desktop ENG-34.png" alt="German Giants Basket" width="100%">
                <h5 class="text-center">German Giants<br>Basket</h5>
            </div>
            <div class="col-lg-3">
                <img src="/images/EIB Desktop ENG-33.png" alt="US Technology Basket" width="100%">
                <h5 class="text-center">US Technology<br> Basket</h5>
            </div>
            <div class="col-lg-3">
                <img src="/images/EIB Desktop ENG-32.png" alt="US Heavy Industries Basket" width="100%">
                <h5 class="text-center">US Heavy Industries<br> Basket</h5>
            </div>
        </div>
        <div class="container" style="display: flex;align-items: center;">
            <div class="col-lg-3">
                <img src="/images/EIB Desktop ENG-28.png" alt="Big pharma Basket" width="100%">
                <h5 class="text-center">Big Pharmaceuticals<br>Basket</h5>
            </div>
            <div class="col-lg-3"> 
                <img src="/images/EIB Desktop ENG-29.png" alt="big pharma 2 Basket" width="100%">
                <h5 class="text-center">Big Pharmaceuticals 2 <br>Basket</h5>
            </div>
            <div class="col-lg-3">
                <img src="/images/EIB Desktop ENG-30.png" alt="BLU chips Basket" width="100%">
                <h5 class="text-center">Blu Chips <br> Basket</h5>
            </div>
            <div class="col-lg-3">
                <img src="/images/EIB Desktop ENG-31.png" alt="French Fashion Basket" width="100%">
                <h5 class="text-center">French Fashion <br>Basket</h5>
            </div>
        </div>
    </div>
</div>

<!--Modal popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container pb-5 pt-2" id="usBanks" style="display: none;">
                <h6 class="text-uppercase text-white text-center">The relative weight of the<br> American banks' basket shares</h6>
                <img src="/images/EIB/US Bank LP-16.png" alt="Citigroup" width="100%">
                <img src="/images/EIB/US Bank LP-17.png" alt="Citigroup" width="100%">
                <img src="/images/EIB/US Bank LP-18.png" alt="Citigroup" width="100%">
                <img src="/images/EIB/US Bank LP-19.png" alt="Citigroup" width="100%">
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-filled" data-dismiss="modal">Close</button>
          <button type="button" class="btn" onclick="runPlugin('forexSignup');" data-dismiss="modal">JOIN NOW</button>
        </div>
      </div>
    </div>
  </div>

<style>
    .btnprimary{
        font-family: 'Evest Med';
        color:var(--primary-color1);
        background:var(--primary-color3);
    }
    body > main > div > div:nth-child(1) > div > div:nth-child(1) > ul > li{
        color:white !important;
    }
    ul > li{
        color:var(--primary-color1) !important;
    }
    .col-lg-3{
        color:rgba(255, 255, 255, 0.404);
        height:290px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
    .col-lg-3:hover{
        color:white;
        cursor: pointer;
    }

    /*Modal*/
    .modal{
        padding-top: 0;
    }
    .modal-dialog{
        max-width: 1000px;
        width:700px;
    }
    .modal-title{
        color:white;
    }
    #exampleModal > div > div > div.modal-header > button > span{
        color:white;
    }
    .modal-content{
        position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: .3rem;
    outline: 0;
    }
</style>

<script>
    //open popup window modal when click on col-lg-3
    $('.col-lg-3').click(function(){
        $(this).attr('data-target','#exampleModal');
        $(this).attr('data-toggle','modal');
        $('.modal-title').text($(this).find('h5').text());
        var idd='#'+$(this).attr('id');
        console.log(idd);
        $('.modal-body').find(idd).css('display','block');
    });
    //hide
</script>