<ion-modal-view class="modal-page countries-select">

    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="right">
            <div class="display-flex">
                <i class="icon ion-android-close align-self padding-left padding-right font-22" on-tap="closeCountryModal()"></i>
            </div>
        </ion-nav-buttons>

        <ion-nav-title>
            <span class="nav-title white font-14 roboto-light" ng-if="selectType==='country' || selectType==='taxCountry'">{{::translation.select_country}}</span>
            <span class="nav-title white font-14 roboto-light" ng-if="selectType==='citizenship'">{{::translation.select_citizenship}}</span>
            <span class="nav-title white font-14 roboto-light" ng-if="selectType==='state'">{{::translation.select_state}}</span>
            <span class="nav-title white font-14 roboto-light" ng-if="selectType==='promocode'">{{::translation.select_promo_code}}</span>
        </ion-nav-title>

        <div class="item-input-favorites">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" keyboard-watcher ng-model="search.country" ng-if="selectType==='country' || selectType==='taxCountry'" placeholder="{{::translation.search_placeholder}}">
            <input type="text" keyboard-watcher ng-model="search.citizenship" ng-if="selectType==='citizenship'" placeholder="{{::translation.search_placeholder}}">
            <input type="text" keyboard-watcher ng-model="search.state" ng-if="selectType==='state'" placeholder="{{::translation.search_placeholder}}">
            <input type="text" keyboard-watcher ng-model="search.promocode" ng-if="selectType==='promocode'" placeholder="{{::translation.search_placeholder}}">
        </div>

    </ion-nav-bar>

    <ion-content scrollbar-y="true" overflow-scroll="true" class="assets-search-offset view-area">
        <div ng-if="selectType==='country' || selectType==='taxCountry' || selectType==='citizenship' || selectType==='promocode'">
            <ion-list >
                <ion-item collection-repeat="country in countriesList | filter:search"
                          collection-item-height="60" collection-item-width="100%" on-tap="setCountry(country)">
                    <div class="asset-item name-item align-self roboto width-100">
                        <div class="row p-0">
                            <div class="col col-10 mr-1 flag-icon"
                                 ng-if="selectType==='country' || selectType==='taxCountry'"
                                 ng-class="'flag-icon-' + country.code.toLowerCase()"></div>
                            <div class="col col-90 p-0  font-18 roboto-light" ng-if="selectType==='country' || selectType==='taxCountry'">{{country.country}}</div>
                            <div class="col col-90 p-0  font-18 roboto-light" ng-if="selectType==='citizenship'"> {{country.citizenship}} </div>
                            <div class="col col-90 p-0  font-18 roboto-light" ng-if="selectType==='promocode'"> {{country.promocode}} </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>

        <div ng-if="selectType==='state'">
            <ion-list>
                <ion-item ng-repeat="state in states | filter:search.state track by state.stateCode" on-tap="setCountry(state)">
                    <div class="asset-item name-item align-self roboto width-100">
                        <div class="row p-0">
                            <div class="col col-90 p-0  font-18 roboto-light">{{state.stateName}}</div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>

</ion-modal-view>

