<ion-popover-view class="instruments-options" scroll="false">
    <ion-content>
        <div class="options-menu">
            <button class="button button-full button-light"
                    on-tap="navigate('root.app.favorites',{direction:'left'})">
                {{::translation.add_to_favorites}}
            </button>
            <button class="button button-full button-light"
                    on-tap="navigate('root.app.favorites-edit',{direction:'left'})">
                {{::translation.edit_favorites}}
            </button>
        </div>
    </ion-content>
</ion-popover-view>