<ion-popover-view class="manageaccount-options" scroll="false" ng-class="{'single-item': constants.hideTransferBetweenAccounts || constants['hideAddAccount']}">
    <ion-content>
        <div class="options-menu">
            <button class="button button-full button-light"
                    on-tap="navigate('root.app.manageAccountsTransfer',{direction:'left'})"
                    ng-if="!constants.hideTransferBetweenAccounts"
            >{{::translation.transferFunds}}</button>
            <button class="button button-full button-light"
                    ng-if="!constants['hideAddAccount']"
                    on-tap="navigate('root.app.manageAccountsAdd',{direction:'left'})"
            >{{::translation.addNewAccount}}</button>
            <button class="button button-full button-light"
                    ng-if="constants['accountsChangePasswordEnabled']"
                    on-tap="navigate('root.app.mangeAccountsChangePassword',{direction:'left'})"
            >{{::translation.updatePassword}}</button>
        </div>
    </ion-content>>
</ion-popover-view>
