
<div class="container-fluid account-types">
    <div class="row"style="background:url('/images/webp/trading account type-b.webp');background-size: cover;">
        <div class="headerImg desktop-img">

            <div class="col-md-6">
                <img src="/images/webp/pens.webp" alt="pens" width="100%">
            </div>
            <div class="col-md-6">     
                <%- page.fields.header.heading %>
                <%- page.fields.header.subheading %>
            </div>
    </div>
</div>


        <div class="container mobile-img" style="background:url('/images/Header.png');height:700px;background-size: cover;">
            <h1 style="font-size: 25px;padding-top: 103%;padding-right:7%;">أنواع حسابات <br> التّداول</h1>
            <p style="font-size: 13px;padding-right:7%;"> لكل حساب تداول حقيقي في إيفست مجموعة من <br> 
                الشروط والأحكام الخاصة به ، والتي يتم تخصيصها <br>
                 لأنواع مختلفة من المتداولين بناءً على متطلباتهم <br>
                الخاصة وأهدافهم الراغبين بتحقيقها من التداول <br> 
                اضافةً لخلفياتهم المالية. نحن على يقين من أنك <br>
                ستجد الحساب الذي يناسبك بنسبة <span>100٪</span> ، بغض النظر عن <br>
                  مستوى خبرتك.
               </p>
               <h6 style="font-size: 10px;padding-right:7%;">تذكير: التداول يعرّض رأس مالك للخطر </h6>
            </div>

    <div class="row"> 
        <%- page.fields.sections.section1 %>
    </div>
</div>
<div class="row">
    <div class="container">
        <p class="mr-2" style="color:var(--primary-color1);"><span style="font-size: 20px;">*</span> يتم توفير هذه الخدمة من قبل أطراف خارجية ولا ينبغي اعتبارها نصيحة تداول/استثمار</p>
    </div>
</div>
</div>
<style>
    @import "/css/arabicAccount.min.css";
</style>