<div class="container-fluid mobile-img" style="background: url('/images/DEMO BG ENG - 1.png');height: 720px;background-size: cover;">
    <h1 class="text-uppercase">حسابات تداول تجريبي</h1>
            <h5>ابدأ بصقل مهاراتك في التداول <br>
                <span>100%</span> مجانا <br>
                <span>100%</span> خالية من المخاطر 
                </h5>
            <p>
                استمتع بجميع ميزات الحساب الحقيقي:
                </p><ul class="list-unstyled" style="padding-right: 0;">
                    <li><i class="fas fa-circle"></i> <span>100%</span>  تغذية بيانات حية</li>
                    <li><i class="fas fa-circle"></i> <span>03</span> منصات للاستعمال</li>
                    <li><i class="fas fa-circle"></i> أكثر من <span>550</span> أداة مالية متاحة للتداول</li>
                    <li><i class="fas fa-circle"></i> <span>$25,000</span> دولار رصيد تجريبي</li>
                </ul>
            <p></p>
            <button class="btn btn-pr" onclick="window.location.replace('/mobile/#/signup')">جرب حساب الديمو الآن</button>
</div>


<div class="container mobile-img" style="padding: 8% 9%;">
    <div class="row">
        <h4 class="uppercase" style="font-weight: bolder;font-size: 21px;">انضم إلينا لكي تحصل  <br> 
            على تجربة تداول <br> لا حدود لها <span>100%</span></h4>
        <p style="font-size: 12px;padding-top: 2%;">
            نقدم لك حساباً تجريبياً مجانياً يتضمن <span>25,000</span> دولار من الأموال <br> 
 الافتراضية لاختبار النظام الأساسي واستكشافه.
نوفر لك أيضاً <br> 
 أكثر من <span>550</span> أداة مالية مقسمة إلى <span>4</span> فئات رئيسية:
        </p>
    </div>
    <div class="row">
        <img src="/images/Ar icon 1.png" alt="icon" style="width: 53%;height: 92%;">
        <img src="/images/Ar icon 2.png" alt="icon" style="width: 44%;height: 50%;">
    </div>
    <div class="row">
        <img src="/images/Ar icon 3.png" alt="icon" style="width: 50%;">
        <img src="/images/Ar icon 4.png" alt="icon" style="width: 50%;">
    </div>
    <div class="row">
        <p style="
        font-size: 11px;">
        هذه ميزة رائعة يمكنك الاستفادة منها ، خاصة إذا كنت مبتدئاً أو ليس لديك خبرة تداول على الإطلاق. إضافة إلى ذلك، إذا كنت من ذوي الخبرة، يمكنك <br> 
        استخدام هذه الميزة لاختبار الخدمات المقدمة على النظام الأساسي والشعور بها. <br><br>
        عند استخدام حساب الديمو، يمكنك تجربة ظروف السوق الحية وتنفيذ استراتيجيات التداول المختلفة دون استخدام أموال حقيقية من حسابك <br> وتعريضها للمخاطر. <br><br>
        
        حساب الديمو يعتبر طريقة ممتازة لتحديد أفضل الإستراتيجيات بالنسبة لك والتحضير للتداول الحقيقي.
                    </p>
    </div>
</div>

<div class="desktop-img">
    <div class="row" style="background:url('/images/webp/DEMO Account-01.webp');background-size: cover;">
        <div class="container" style="height: 530px;background-size: cover;color:white;display:flex;align-items: center;">
            <div class="col-md-6">
                <img src="/images/webp/DemoA.webp" alt="" width="100%">
            </div>
            <div class="col-md-6">    
                <%- page.fields.header.heading %>
                <%- page.fields.header.subheading %> 
            </div>
        </div>
    </div>

    <div class="container">
        <%- page.fields.sections.section1 %> 
    </div>
</div>
<style>
    @import "/css/demoArabic.min.css";
</style>