 <!-- AddToAny BEGIN -->
 <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_whatsapp"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
  <div class="container py-4">
    <h1 class="text-center pb-3 text-uppercase"><%- pageTitle %><h1>
    <div class="loader" style="display: flex;justify-content: center;align-items: center;">
      <div id="loading" style="display:none" class="loadingio-spinner-spinner-r8dyx6mgv4"><div class="ldio-ibuxw2lr7c8">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div></div>
    </div>
      <div id="reslut">
        <%- articles %>
      </div>
      <div class="pagination" >
        <button >&laquo;</button>
        <button class="active page" onclick="updatePage(this.innerText,this)">1</button>
        <button class="page" onclick="updatePage(this.innerText,this)">2</button>
        <button class="page" onclick="updatePage(this.innerText,this)" >3</button>
        <button class="page" onclick="updatePage(this.innerText,this)">4</button>
        <button class="page" onclick="updatePage(this.innerText,this)">5</button>
        <button class="page" onclick="updatePage(this.innerText,this)">6</button>
        <button class="page" >&raquo;</button>
      </div>
  </div>
  <script>
  
    
    function updatePage(number,id){
      getAll(number);
      let pages=document.getElementsByClassName("page active");
      for(let page of pages){
        page.className="page";
      }
      id.className="page active";
    }
  
  // showing loading
  function displayLoading() {
    document.getElementById("loading").style.display = "flex";
  }
  
  // hiding loading 
  function hideLoading() {
    document.getElementById("loading").style.display="none";
  }
    
  
    
  
  function getAll(number){
    displayLoading();
          fetch(`https://cms.evest.com/wp-json/wp/v2/posts?_embed&tags=<%= tagId %>&per_page=6&page=${number}`).then(res => {
                  return res.json()
              }).then(data => {
                hideLoading()
                  const article = data.map(post => {
                    let date=post.date.split('T')[0];
                      return `<div class="card">
                    <div> 
                           <a href='${post.link}'>  <img class="card-img-top" src="${post.featured_image_url}" alt="Card image cap" title="${post.title.rendered}"> </a>
        <div class="card-body">
        <a href='${post.link}' ><h5 class="card-title">${post.title.rendered}</h5></a>
        <div class="card-text description">${post.excerpt.rendered}</div>
        <a class="btn btn-filled readmore" href='${post.link}'>read more</a>
        </div></div>
        <div class="card-footer dateCreated">
        ${date}
        </div>
        </div>`
                  }).join("");
                  document.querySelector("#reslut").innerHTML = article;
                  document.documentElement.scrollTop=0;
        })
      }
  
    </script>
  
  
    <style>
    
.card {
  flex-direction: row;
  margin-bottom: 5%;
  display:flex;
  flex-direction: column;
}
#reslut > div.card > div > a > img {
    width: 300px;
    height: 200px;
}
#reslut > .card > p {
  font-size: 13px;
}
.description>p {
    font-size: 12px;
}
#reslut > div > div{
    display:flex;
}
.dateCreated{
    font-family: "Evest Font";
    font-size: 15px;
}

body > main > div.a2a_kit.a2a_kit_size_32.a2a_default_style{
  line-height: 32px;
    z-index: 99;
    position: fixed;
    left: 1%;
    top: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}
.readmore{
    float: left;
    margin-top: 7%;
}
/* Pagination links */
.pagination{
  justify-content: center;
}
.pagination button {
  font-family: "Evest Font";
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  background:none;
  border: none;
}

/* Style the active/current link */
.pagination button.active {
  background-color: var(--primary-color1);
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination button:hover:not(.active) {
  background-color: var(--primary-color2);
  color:var(--primary-color3);
}

/*Loader Stylings */
@keyframes ldio-ibuxw2lr7c8 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-ibuxw2lr7c8 div {
  left: 124.645px;
  top: 50.114999999999995px;
  position: absolute;
  animation: ldio-ibuxw2lr7c8 linear 0.4255319148936171s infinite;
  background: #022a3a;
  width: 7.709999999999999px;
  height: 17.99px;
  border-radius: 0px / 0px;
  transform-origin: 3.8549999999999995px 78.38499999999999px;
}.ldio-ibuxw2lr7c8 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.4061895551257254s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(2) {
  transform: rotate(16.363636363636363deg);
  animation-delay: -0.38684719535783374s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(3) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.36750483558994207s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(4) {
  transform: rotate(49.09090909090909deg);
  animation-delay: -0.34816247582205034s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(5) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -0.3288201160541587s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(6) {
  transform: rotate(81.81818181818181deg);
  animation-delay: -0.309477756286267s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(7) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.29013539651837533s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(8) {
  transform: rotate(114.54545454545455deg);
  animation-delay: -0.2707930367504836s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(9) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.25145067698259194s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(10) {
  transform: rotate(147.27272727272728deg);
  animation-delay: -0.23210831721470024s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(11) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.21276595744680857s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(12) {
  transform: rotate(180deg);
  animation-delay: -0.19342359767891687s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(13) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.17408123791102517s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(14) {
  transform: rotate(212.72727272727272deg);
  animation-delay: -0.1547388781431335s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(15) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.1353965183752418s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(16) {
  transform: rotate(245.45454545454547deg);
  animation-delay: -0.11605415860735012s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(17) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.09671179883945843s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(18) {
  transform: rotate(278.1818181818182deg);
  animation-delay: -0.07736943907156675s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(19) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.05802707930367506s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(20) {
  transform: rotate(310.90909090909093deg);
  animation-delay: -0.038684719535783375s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(21) {
  transform: rotate(327.27272727272725deg);
  animation-delay: -0.019342359767891688s;
  background: #022a3a;
}.ldio-ibuxw2lr7c8 div:nth-child(22) {
  transform: rotate(343.6363636363636deg);
  animation-delay: 0s;
  background: #022a3a;
}
.loadingio-spinner-spinner-r8dyx6mgv4 {
  width: 257px;
  height: 257px;
  display: inline-block;
  overflow: hidden;
  
}
.ldio-ibuxw2lr7c8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ibuxw2lr7c8 div { box-sizing: content-box; }
/* generated by https://loading.io/ */


@media (max-width: 767px){
  #reslut > div > div > img{
    width: 328px;
  }
  .card-title{
    font-size: 12px;
  }
  .description>p{
    font-size: 10px;
  }
  .readmore{
    font-size: 11px;
  }
  #reslut > div > div{
    flex-direction: column;
  }
}
   
    </style>
  