<div class="mobile-img">
  <div class="container" style="background: url('/images/meet the CEO Mobile-03.png');height:700px;background-size: cover;color: white;">
    <h1 style="
    padding-left: 5%;
    padding-top: 112%;
">MEET<br>OUR<br>CEO</h1>
  </div>
  <div class="container">
    <p style="font-size: 12px;">
      Ali Hasan is Chief Executive Officer for evest,a<br>
      position he has held since inception in September<br>2020.<br><br>
      Ali oversees the strategic positioning of the Cyprus<br>
      based, 50 Million dollar company. evest is a premier,<br>
      online trading company that shines as an<br>
      unconventional company in the CFD trading<br>industry. For more than 15 years,customers and<br>
      colleagues have entrusted Ali to facilitate and build<br> 
      end-to-end strategies and to oversee the execution<br> on every level.<br><br>
      “Our unprecedented approach in the CFD online<br>
      trading industry will position us as a game changer<br>
      in the region. evest has a business model that is<br> 
      based on having a long-term mutual interest<br>relationship with the clients”<br>
      {<span style="color:var(--primary-color1);">Ali Hasan</span>}<br><br>
      Ali Hasan comes today with a new channel of<br>
      communication that has never been implemented<br>
      before in the trading industry, where customers can<br>
      talk directly to him as easy as a click of a button that<br>
      appears for users post-login.<br><br>
      This will ensure that Ali will personally follow up on<br>
      any comments, suggestions and complaints. This<br>
      channel will also put all employees on alert as they<br>
      know that there is a direct line open 24/7 with the<br>CEO.
    </p>
    <form action="/ceo" method="POST" style="width:100%">
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name" name="fullName">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="subject" class="col-sm-3 col-form-label">Subject</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="subject" name="subject">
        </div>
      </div>
      <div class="form-group row">
        <label for="message" class="col-sm-3 col-form-label">Message</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="message" name="message">
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" value="Submit" class="btn btn-filled">SUBMIT</button>
      </div>
    </form>
  </div>
</div>

<div class="desktop-img">
  <div class="row" style="background:url('/images/MEET THE CEO ENG-02.png');height:530px;background-size: cover;color:white;display:flex;justify-content: flex-start;align-items: center;">
    <div class="container">
      <h1>MEET<br>OUR<br>CEO</h1>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <p>
        Ali Hasan is Chief Executive Officer for evest, a position he has held since
        inception in<br> September 2020.<br><br>
        Ali oversees the strategic positioning of the Cyprus based, 50 Million dollar company. evest is<br>
        a premier, online trading company that shines as an unconventional company in the CFD<br>
        trading industry. For more than 15 years,customers and colleagues have entrusted Ali<br>
        to facilitate and build end-to-end strategies and to oversee the execution on every level.<br><br>
  
        “Our unprecedented approach in the CFD online trading industry will position us as a game<br>
        changer in the region. evest has a business model that is based on having a long-term mutual<br>
        interest relationship with the clients”<br>
        {<span style="color:var(--primary-color2);">Ali Hasan</span>}<br><br>
  
        Ali Hasan comes today with a new channel of communication that has never been<br>
        implemented before in the trading industry, where customers can talk directly to him as easy <br>
        as a click of a button that appears for users post-login.<br><br>
  
        This will ensure that Ali will personally follow up on any comments, suggestions and<br>
        complaints. This channel will also put all employees on alert as they know that there is a<br>
        direct line open 24/7 with the CEO.
      </p>
      <form action="/ceo" method="POST">
        <div class="form-group row">
       <div class="col-md-6">  
          <label for="name" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name" name="fullName">
        </div>
      </div>
       <div class="col-md-6">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email">
        </div>
       </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">          <label for="subject" class="col-sm-3 col-form-label">Subject</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="subject" name="subject">
            </div></div>
          <div class="col-md-6"></div>
        </div>
        <div class="form-group row" style="display:flex;flex-direction: column;padding-left:15px;">
          <label for="message" class="col-sm-3 col-form-label">Message</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="message" name="message">
          </div>
        </div>
        <div class="form-group row" style="padding-left: 30px;">
          <button type="submit" value="Submit" class="btn btn-filled">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
  @import "/css/ceo.min.css";
</style>